.breadcrumb_w{
  margin-top: 16px;
  grid-column: 1 / -1;
}
.breadcrumb{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  li{
    list-style: none;
    font-weight: 800;
    color: #404142;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    margin-right: 9px;
    &.home{
     /* font-size: 0;
      line-height: 0;
      a{
        font-size: 0;
        line-height: 0;
      }*/
      font-size: 0;
      line-height: 24px;
    }

    a{
      color: #404142;
      position: relative;
      font-weight: normal;
      padding-left: 9px;
      &:before{
        content: '';
        background: url("../img/bc_normal.png") 0 0 no-repeat;
        display: block;
        height: 10px;
        width: 6px;
        position: absolute;
        left: -2px;
        top: 4px;
      }
      &:hover{
        color: $blue;
        &:before{
          background: url("../img/bc_hover.png") 0 0 no-repeat;
        }
      }
    }
    &.home{
      a{
        display: inline-block;
        background: url('../img/breadcrumb_home.png') 0 0 no-repeat;
        width: 16px;
        height: 16px;
        &:before{
          display: none;
        }
      }
    }
    &:last-child{
      position: relative;
      &:before{
        content: '';
        background: #000;
        display: block;
        height: 12px;
        width: 1px;
        position: absolute;
        left: -5px;
        top: 3px;
      }
    }
  }
}

@media (max-width: 859px) {
  .breadcrumb_w{
    margin-top: 0;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    .ico-toggle{
      width: 24px;
      height: 24px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      &:before{
        display: block;
        content:'';
        position: absolute;
        width: 14px;
        height: 2px;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: #000;
      }
      &:after{
        display: block;
        content:'';
        position: absolute;
        width: 2px;
        height: 14px;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        background: #000;
        transition: 0.3s all;
      }
    }
    &.active .ico-toggle{
      &:after{
        transition: 0.3s all;
        transform: rotate(90deg);
      }
    }
  }
  .breadcrumb{
    align-items: center;
    flex-direction: column;
  }
  .breadcrumb li{
    display: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    height: 40px;
    width: 100%;

    margin-right: 0;
    align-items: center;
    &.home{
      margin-left: 4px;
      font-size: 16px;
      line-height: 16px;
      a{
        padding-left: 35px;
        &:before{
          content: '';
          display: block;
          position: absolute;
          background: url(../img/icon-arrow-go-normal.svg) center center no-repeat;
          width: 24px;
          height: 24px;
          transform: rotate(180deg);
          left: 5px;
          top: -3px;
        }
        background: none;
        font-size: 16px;
        line-height: 16px;
      }
      a:after{
        display: none;
      }
    }
    &:nth-last-of-type(-n+2){
      display: flex;
      border-bottom: none !important;
      a{
        padding-left: 35px;
        &:before{
          background: url(../img/icon-arrow-go-normal.svg) center center no-repeat;
          width: 24px;
          height: 24px;
          transform: rotate(180deg);
          left: 5px;
          top: -3px;
        }
      }
    }
    &:last-child{
      display: none;
    }
  }
  .breadcrumb_w.active .breadcrumb{
    flex-direction: column;
    li:last-child{
      display: none;
    }
    li{
      width: 100%;
      display: flex;
      height: 40px;
      align-items: center;
      border-bottom: 1px solid #ccc;
      margin-right: 0;
      a{
        padding-left: 35px;
        &:before{
          background: url(../img/icon-arrow-go-normal.svg) center center no-repeat;
          width: 24px;
          height: 24px;
          transform: rotate(180deg);
          left: 5px;
          top: -3px;
        }
      }
      &:last-child{
        padding-left: 35px;
      }
    }
  }
  .breadcrumb_w.active.short .breadcrumb{
    li.home{
      display: inherit;
    }
  }
  .breadcrumb_w.short .ico-toggle{
    display: none;
  }
}