.btn{
  &:hover{
    span.arrow{
      background: url("../img/icon-arrow-go-focus.svg") 0 0 no-repeat;
    }
  }
}
.btn-bordered{
  border: 1px solid $borderGrey;
  border-radius: 20px;
  padding: 10px 62px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

span.arrow{
  background: url("../img/icon-arrow-go-normal.svg") center center no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 10px;
  margin-left: 7px;
  &.white{
    background: url("../img/icon-arrow-go-normal-white.svg") center center no-repeat;
  }
  &.arrow-left{
    transform: rotate(180deg);
  }
}

.switcher{
  border-radius: 20px;
  background-color: #314250;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px 10px 50px;
  white-space: nowrap;
  position: relative;
  margin-top: 10px;
  display: inline-block;
  &:before{
    content: "";
    display: block;
    position: absolute;
    background: url("../img/icon-mobile.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    left: 13px;
    top: 8px;
  }
}

.btn-arrowed{
  span.arrow{
    background-position: 0 0;
  }
}

@media (max-width: 859px) {
  .btn-bordered{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    padding: 0;
    height: 40px;
    span.arrow{
      top: 4px;
    }
  }
}