body {
 // background: url("../img/471559139.png") center 13px no-repeat;
}

.cabinet_bnr {
  background: url("../img/cabinet_banner.jpg") center center no-repeat;
  height: 128px;
  margin-top: 10px;
}

#cabinet_tabs {
  grid-column: 2 / -2;
  margin-top: 35px;
  margin-bottom: 100px;
  .tabs_head {
    margin-bottom: 20px;
  }
}

.pane-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 28px;

  .w33 {
    flex: 1 1 calc((100% / 3) - 56px);
    min-height: 275px;
  }

  .w50 {
    flex: 1 1 calc((100% / 2) - 28px);
    min-height: 200px;
  }

  .w25 {
    flex: 1 1 calc((50% / 2) - 28px);
    min-height: 200px;
  }
}

.pane {
  border: 1px solid rgba(205, 206, 207, 0.5);
  border-radius: 8px;
  padding: 25px;
  background: #fff;

  .heading {
    color: #404142;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    .arrow {
      margin-top: -5px;
      transition: .3s all;
      margin-left: auto;
    }
    &:hover{
      .arrow{
        transition: .3s all;
        transform: translateX(-5px);
      }
    }
    .counter{
      color: #9E9FA0;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      margin-left: 8px;
      position: relative;
      margin-top: 3px;
    }
  }

  .desc {
    margin-top: 5px;
    color: #9E9FA0;
    font-size: 16px;
    line-height: 24px;
  }

  p {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;

    a {
      color: #1782E9;
    }
  }
}

.pane-shadow {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.pane-flat {
  background: #F6F7F8;
  border-color: #F6F7F8;
}

.pane_contacts {
  .name {
    color: #404142;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
  }

  .line {
    margin-top: 5px;

    .text {
      color: #9E9FA0;
      font-size: 16px;
      line-height: 24px;
      margin-right: 5px;
    }

    .data {
      color: #404142;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .exit {
    text-decoration: underline;
    color: #9E9FA0;
    font-size: 16px;
    &:hover{
      color: $red;
    }
  }
}

.pane_orders {
  .no_orders {
    color: #404142;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
  }
  .info{
    width: 60%;
    text-align: right;
    color: #9E9FA0;
  }
  .items_total{
    .text{
      font-size: 18px;
      color: #404142;
    }
    .count{
      margin-top: 10px;
      font-size: 40px;
      color: #404142;
      font-weight: bold;
    }
  }
}

.right-side{
  &.top{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
  &.bottom, &.track{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    justify-content: end;
  }
}
.pane_favorites {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  .nothing {
    span {
      display: block;
    }
  }
  .rev_img {
    justify-content: flex-start;
    margin-left: -8px;
    a{
      height: 76px;
      width: 76px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
    }
    img{
      max-width: 100px;
    }
  }
}

.pane_addresses{
  a{
    color: $blue;
    &:hover{
      text-decoration: underline;
    }
  }
  .address{
    line-height: 24px;
  }
  .label{
    text-transform: uppercase;
    color: #000;
    height: 16px;
    border-radius: 4px;
    background: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    line-height: 1;
    margin-bottom: 15px;
    font-size: 11px;
    font-weight: bold;
  }
}

.pane_reviews{
  a{
    color: $blue;
    &:hover{
      text-decoration: underline;
    }
  }
}

.discount_popup_form{
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 40px 40px;
  grid-gap: 20px;
  border-radius: 8px;
  form{
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    display: grid;
  }
  h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
  }
  .custom-select{
    margin-right: 20px;
  }
  .desc{
    color: #404142;
    margin-top: 10px;
    line-height: 23px;
    margin-bottom: 7px;
  }
  .received-email{
    a{
      color: $blue;
    }
    label{
      display: block;
    }
  }
  .disclaimer{
    color: #9FA0A0;
  }
  .bday-field{
    margin-top: 11px;
  }
  .received-email{
    margin-top: 10px;
  }
}
#discount_popup_form_w.fancybox-content{
  padding: 0;
  border-radius: 8px;
  .fancybox-close-small{
    right: 20px;
    top: 20px;
  }
  .review_notes, .review_main_form, .bordernone{
    display: none;
  }
  overflow: visible;
}

#cabinet_tabs .tabs_head{
  ul li{
    line-height: 24px;
    padding: 0 4px 9px;
  }
  .counter{
    position: absolute;
    right: -20px;
    top: 2px;
    background: #F44436;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
    z-index: 2;
  }
}

.pane_orders--order{
  margin-right: 40px;
  min-width: 80px;
  &:last-child{
    margin-right: 0;
  }
  .count{
    span{
      font-size: 40px;
      font-weight: bold;
    }
    font-weight: bold;
    font-size: 18px;
  }
  .label{
    margin-top: 5px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.red{
      background: $red;
    }
    &.black{
      background: #404142;
    }
    &.green{
      background: $green;
    }
  }
}

.cabinet_discount_notifier{
  height: 28px;
  background: $red;
  color: #FFFFFF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  font-size: 24px;
  margin-left: 20px;
}

.order-panes{
  padding-top: 57px;
}
.order-pane{
  border: 1px solid #CDCECF;
  border-radius: 5px;
  //background-color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.order-pane--head{
  border-radius: 5px 5px 0 0;
  padding: 0 25px;
  height: 60px;
  display: flex;
  align-items: center;
  background: #F4F5F6;
  .status{
    color: rgba(#000, .5);
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    &.black{
      color: #000;
    }
    &.green{
      color: $green;
    }
  }
  .num_block{
    text-align: right;
    margin-right: 16px;
    .num{
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 4px;
    }
    .date{
      font-size: 14px;
      line-height: 1;
    }
  }
  .link_block{
    padding-left: 16px;
    height: 40px;
    border-left: 1px solid #CDCECF;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    min-width: 137px;
    span.arrow{
      top: 1px;
      margin-left: 1px;
    }
  }
}
.order-pane--bottom{
  padding: 15px 25px 17px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  .rev_img a + a{
    margin-left: 8px;
  }
  .rev_imgs{
    .rev_img{
      height: 76px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    img{
      max-width: 76px;
    }
  }
  .right-side{
    text-align: right;
    &.track{
      a{
        font-weight: bold;
        color: $blue;
        span{
          margin-right: 7px;
        }
        &:hover{
          color: #0E64B7;
        }
      }
    }
  }
  .price{
    font-weight: bold;
    font-size: 20px;
    span{
      font-size: 16px;
      font-weight: normal;
    }
    .status{
      font-size: 13px;
      opacity: .5;
      font-weight: normal;
    }
  }
  .bottom .price{
    padding-right: 16px;
  }
  .btn-w{
    position: relative;
    min-width: 137px;
  }
  .price + .btn-w{
    min-width: 137px;
    padding-left: 16px;
    &:before{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 12px;
      border-left: 1px solid #CDCECF;
      height: 32px;
      width: 1px;
    }
  }
  .right-side{
    &.top{
      margin-bottom: 15px;
      & + .bottom{
        .price, .btn-w{
          padding-top: 12px;
          border-top: 1px solid #CDCECF;
        }

      }
    }
  }
}
.cabinet_left_col{
  .swiper-wrapper{
    display: block;
  }
  .head{
    margin-top: 20px;
    color: #404142;
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
  }
  ul{
    margin: 23px 0 0;
    padding: 0;
    li{
      list-style: none;
      margin-right: 20px;
      a{
        font-size: 14px;
        line-height: 16px;
        padding: 6px 16px 8px;
        display: flex;
        align-items: center;
        span{
          color: #9E9FA0;
          font-size: 12px;
          line-height: 24px;
          margin-left: 10px;
          margin-top: 2px;
        }
        &.active{
          font-size: 16px;
          font-weight: bold;
          border-radius: 4px;
          background-color: rgba(#1782E9,.1);
        }
      }
    }
  }
}

@media (min-width: 1424px) and (max-width: 1659px) {
  #cabinet_tabs {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1140px) and (max-width: 1423px) {
  #cabinet_tabs {
    grid-column: 1 / -1;
  }
  .pane-holder .w50{
    flex: 1 1 100%;
  }
}

@media (min-width: 860px) and (max-width: 1139px) {
  .order-panes{
    padding-top: 15px;
  }
  .cabinet_left_col ul{
    margin-top: 0;
  }
  .cabinet_left_col ul li a.active{
    font-size: 20px;
    background: transparent;
  }
  .cabinet_left_col ul li a{
    font-size: 16px;
  }
  .cabinet_left_col .head{
    display: none;
  }
  .cabinet_left_col{
    .swiper-wrapper{
      display: flex;
    }
  }
  .cabinet_left_col ul li{
    width: auto;
    margin-right: 25px;
  }

  #cabinet_tabs {
    grid-column: 1 / -1;
  }
  .pane-holder .w33{
    &:first-child{
      flex: 1 1 100%;
    }
  }
  .pane-holder .w50{
    flex: 1 1 100%;
  }
}

@media (max-width: 859px) {
  .order-pane--bottom .rev_imgs .rev_img{
    flex-wrap: wrap;

  }
  .order-pane--head{
    padding: 0 15px;
  }
  .order-pane--bottom{
    padding: 25px 15px 17px;
  }
  .order-pane--head .link_block{
    font-size: 0;
    min-width: auto;
    border-left: none;
  }
  .cabinet_left_col ul li a{
    padding-left: 0;
    padding-right: 0;
  }
  .cabinet_left_col .head{
    display: none;
  }
  .order-panes{
    padding-top: 20px;
  }
  .cabinet_left_col ul{
    margin-top: 3px;
  }
  .cabinet_left_col ul li a{
    font-size: 16px;
  }
  .cabinet_left_col ul li a.active{
    font-size: 20px;
    background: transparent;
  }
  .cabinet_left_col{
    .swiper-wrapper{
      display: flex;
    }
  }
  .cabinet_left_col ul li{
    width: auto;
  }
  #cabinet_tabs {
    grid-column: 1 / -1;
  }
  .pane-holder .w33{
    &:first-child{
      flex: 1 1 100%;
    }
  }
  .pane-holder .w50{
    flex: 1 1 100%;
    overflow: hidden;
  }
  .right-side.bottom, .right-side.track{
    grid-column: 1 / -1;
    grid-row: 3;
    margin-top: 10px;

  }
  .right-side.track{
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  .order-pane--head .num_block{
    margin-right: 0;
  }
  .right-side.top{
    grid-row: 1 / 3;
    margin-bottom: 0 !important;
    align-items: center;
    display: flex;
    justify-content: end;
    & + .right-side.bottom{
      .price{
        border-top: 1px solid #ccc !important;
        width: 100%;
      }
      .price + .btn-w{
        border-top: 1px solid #ccc !important;
      }
    }
  }
  .order-pane--bottom .btn-w{
    min-width: 100%;

  }
  .order-pane--bottom .right-side.top + .bottom .price, .order-pane--bottom .right-side.top + .bottom .btn-w{
    border-top: none;
  }


}