.category_in{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.catalog-heading{
  grid-column: 1 / -1;
  font-size: 28px;
  line-height: 37px;
  color: #404142;
  margin-top: 33px;
}

.h1-count{
  color: #8A8B8C;
  font-size: 12px;
  line-height: 15px;
}

.filter_w{
  grid-column: 1 / span 1;
  padding-top: 35px;
}
.category_content{
  grid-column: 2 / span 5;
}

.category_content_items{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0 20px;
  .card:hover{
    z-index: 999;
  }
  .pic{
    background: url('../img/loader.gif') center center no-repeat;
    img.reloading{
      opacity: 0;
    }
  }
  .card{
    padding-bottom: 46px;
    .shover{
      background: #fff;
      z-index: -1;
      top: -1px;
    }
    .additions {
      bottom: -49px;
      width: 100%;
      padding-bottom: 20px;
    }
  }
  &.cci-5{
    grid-template-columns: repeat(5, 1fr);
    img.imgbig{
      display: none;}
    img.imgsmall{
      display: block;}
  }
  &.cci-4{
    grid-template-columns: repeat(4, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 330px;
    }
  }
  &.cci-3{
    grid-template-columns: repeat(3, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 330px;
    }
  }
}

.category_sort_w{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 24px;
}
.category_sort{
  margin-left: 0;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  .custom-select{
    z-index: 9999;
    .custom-select__option--value{
      font-size: 14px;
      line-height: 18px;
      border-bottom: none;
    }
  }
  .custom-select__dropdown{
    height: auto;
    width: 218px;
  }
  .j-select-wrapper{
    height: auto;
    .scrollbar-inner{
      height: auto;
      max-height: none;
    }
  }
  .custom-select--active{
    .custom-select__option--value{
      font-weight: bold;
    }
  }
  .custom-select__option.custom-select__option--selected{

  }
}
.select_counter{
  grid-column: -1 / span 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}
#select_count{
  margin: 0 0 0 13px;
  padding: 0;
  display: flex;
  grid-gap: 0 10px;
  align-items: baseline;
  li {
    display: block;
    list-style: none;
  }
}
#select_count a{
  font-size: 14px;
  line-height: 23px;
  color: #8A8B8C;
  transition: 0.11s all;
  &.active{
    font-size: 18px;
    line-height: 23px;
    color: #404142;
  }
  &:hover{
    font-size: 18px;
    line-height: 23px;
    color: #1782E9;
    transition: 0.11s all;
  }
}

.toggle_filter_btn{
  height: 32px;
  background: #f4f5f6;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  display: inline-block;
  padding: 6px 10px 0;
  display: none;
  width: 117px;
  padding-left: 40px;
}

.toggle_filter_btn.show{
  grid-column: 1 / span 2;
  background: url("../img/ico-filter-open.png") 15px 9px no-repeat #1782E9;
  color: #fff;
}
.toggle_filter_btn.hide{
  margin-bottom: 5px;
  background: url("../img/ico-filter-close.png") 15px 9px no-repeat #f4f5f6;
}


.category_in.filter-opened{
  .category_sort{
    margin-left: -16px;
  }
  .toggle_filter_btn.show{
    display: none;
  }
}

.pagination{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#button_more_ajax {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button_more_ajax + .pagination{
  margin-top: 0;
}
#button_more_ajax .btn{
  margin-bottom: 20px;
  width: 344px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span{
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/icons-arrow-next-normal.svg) center center no-repeat;
    transform: rotate(90deg);
    margin-left: 4px;
  }
  &:hover span{
    background: url(../img/icons-arrow-next-focus.svg) center center no-repeat;
  }
}

.category_seo{
  margin-top: 150px;
  .circles_w{
    margin-bottom: 210px;
  }
  .text{
    grid-column: 4 / span 6;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: justify;
    .heading{
      font-size: 28px;
      font-weight: 800;
      line-height: 37px;
      text-align: center;
      margin-bottom: 24px;
    }
    p{

    }
  }
}

.circles_w2{
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
}
.circles_w2 .swiper-button-prev,
.circles_w2 .swiper-button-next
{
  display: none;
}
.category_in .main_filter .heading .ico-close{
  display: none;
}


@media (max-width: 1659px) and (min-width: 1440px){
  .category_in{
    grid-template-columns: repeat(5, 1fr);
    padding: 0 19px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .category_content {
    grid-column: 2 / span 4;
  }
  .category_content_items.cci-5{
    grid-template-columns: repeat(4, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 330px;
    }
  }
  #select_count li:last-child{
    display: none;}
}

@media (max-width: 1439px) and (min-width: 1140px){
  .category_in{
    grid-template-columns: repeat(4, 1fr);
    padding: 0 19px;
    max-width: 1140px;
    margin: 0 auto;
  }
  .category_content_items.cci-3{
    grid-template-columns: repeat(3, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 260px;
      max-height: 260px;
      img{
        max-width: 100%;
        max-height: 260px;
        width: auto;
        height: auto;
      }
    }
  }
}

@media (max-width: 1439px){
  .filter_categories .heading{
    display: none;
  }
  .filter_w{
    padding-top: 30px;
  }
  .toggle_filter_btn{
    display: inherit;
  }
  .category_in {
    max-width: 1140px;
    padding: 0 19px;
    .filter_w{
      display: none;
    }
    .category_content{
      grid-column: 1 / span 6;
    }
    &.filter-opened{
      .filter_w{
        display: block;
      }
      .category_content{
        grid-column: 2 / span 5;
      }
    }
  }
  #select_count li[data-count="5"]{
    display: none;
  }
  .category_sort{
    grid-column: 1 / span 3;
  }
}
@media (max-width: 1139px){
  .select_counter{
    display: none;
  }
  .category_sort{
    grid-column: 1 / span 3;
  }
  .category_seo{
    margin-top: 40px;
  }

  .category_in {
    max-width: 860px;
    padding: 0 19px;
    .filter_w{
      display: none;
    }
    .category_content{
      grid-column: 1 / span 6;
    }
    .category_content_items.cci-3{grid-template-columns: repeat(3, 1fr);}
    .category_content_items.cci-4{grid-template-columns: repeat(3, 1fr);}
    .category_content_items.cci-5{grid-template-columns: repeat(3, 1fr);}
    &.filter-opened{
      .filter_w{
        display: block;
      }
      .category_content{
        grid-column: 3 / span 4;
      }
      .category_content_items.cci-3{grid-template-columns: repeat(2, 1fr);}
      .category_content_items.cci-4{grid-template-columns: repeat(2, 1fr);}
      .category_content_items.cci-5{grid-template-columns: repeat(2, 1fr);}
    }
  }
  .filter_w{
    grid-column: 1 / span 2;
  }
  .category_content{
    grid-column: 3 / span 4;
  }
  .category_seo .text{
    grid-column: 1 / -1;
  }
  .circles_w2{
    margin-bottom: 50px;
  }
  .circles_w2 .circles{
    height: 200px;
    margin-top: 24px;
    grid-column: 1 / span 4;
    grid-gap: unset;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .circles_w2 .swiper-button-prev,
  .circles_w2 .swiper-button-next
  {
    display: block;
    top: 50%;
  }
  .circles_w2 .circle--item{
    flex-shrink: 0;
  }
}
@media (max-width:859px) {
  .category_sort{
    grid-column: 1 / -1;
  }
  .nice-select{
    margin-left: auto;
  }
  .circles_w2{
    margin-bottom: 50px;
  }
  .circles_w2 .circles{
    height: 200px;
    margin-top: 24px;
    grid-column: 1 / span 4;
    grid-gap: unset;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .circles_w2 .swiper-button-prev,
  .circles_w2 .swiper-button-next
  {
    display: block;
    top: 58%;
  }
  .circles_w2 .swiper-button-prev{
    left: 0;
  }
  .circles_w2 .swiper-button-next{
    right: 0;
  }
  .circles_w2 .circle--item{
    flex-shrink: 0;
  }
  .catalog-heading{
    font-size: 20px;
    line-height: 26px;
    margin-top: 15px;
    .h1-count{
      display: none;
    }
  }
  .category_in {
    max-width: 860px;
    padding: 0 10px;
    .filter_w{
      display: none;
      grid-column: 1 / -1;
      position: fixed;
      z-index: 999;
      background: #fff;
      overflow: auto;
      height: 100%;
      top: 0;
      left: 0;
      padding: 10px 10px 60px;
      box-sizing: border-box;
      width: 100%;
    }
    .filter_categories{
      display: none;
    }
    .toggle_filter_btn.hide{
      display: none;
    }
    .main_filter{
      margin-top: 0;
    }
    .main_filter .heading{
      flex-direction: row-reverse;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px;
      .title{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .ico-close{
          background: url("../img/icon-close-black.svg") center center no-repeat;
          background-size: 75% 75%;
          width: 32px;
          height: 32px;
          cursor: pointer;
          display: block;
      }
    }
    .category_content{
      grid-column: 1 / span 6;
    }
    .category_content_items.cci-3{grid-template-columns: repeat(2, 1fr);}
    .category_content_items.cci-4{grid-template-columns: repeat(2, 1fr);}
    .category_content_items.cci-5{grid-template-columns: repeat(2, 1fr);}
    &.filter-opened{
      .filter_w{
        display: block;
      }
      .category_content{
        grid-column: 1 / -1;
      }
      .category_content_items.cci-3{grid-template-columns: repeat(2, 1fr);}
      .category_content_items.cci-4{grid-template-columns: repeat(2, 1fr);}
      .category_content_items.cci-5{grid-template-columns: repeat(2, 1fr);}
    }
  }
  .category_content_items.cci-4 .card .pic{
    min-height: 170px;
  }
  .category_content_items .card{
    padding-bottom: 20px;
    max-width: 220px;
  }
  .toggle_filter_btn{
    text-transform: capitalize;
    span{
      display: none;
    }
  }
  .toggle_filter_btn.show{
    width: auto;
    padding-right: 13px;
  }
  .filter .mobile-btn-show-filter-items{
    display: flex;
  }

  .head-dd-w{
    border-bottom: 1px solid #ccc;
    margin: 0 -8px;
    padding: 0 8px;
    .head-dd-title{
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      display: flex;
      align-items: center;
      min-height: 44px;
    }
    .accordion_arrow{
      display: inline-block;
      transition: all 0.3s ease;
      width: 24px;
      height: 24px;
      background: url(../img/icon-dropdown-bottom-normal.svg) center center no-repeat;
    }
    ul{
      height: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      li{
        min-height: 40px;
        padding-left: 8px;
        display: flex;
        align-items: center;
        &.active{
          background: url("../img/check_big.png") right 14px no-repeat;
          a{
            color: $blue;
            font-weight: bold;
          }
        }
      }
    }
    &.active{
      .accordion_arrow{
        transform: rotate(180deg);
      }
      ul{

        height: 100%;
        opacity: 1;
        transform-origin: top;
        transform: scaleY(1);
      }
    }
  }
  .pagination.mobile {
    position: fixed;
    bottom: 100px;
    left: 0;
    z-index: 9998;
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    &.sticky{
      transition: opacity 0.3s;
      opacity: 1;
      pointer-events: all;
    }
  }
  .pagination.mobile .pagination_ul{
    width: 100%;
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.24);
    display: flex;
    border-radius: 0 20px 20px 0;
  }
  .pagination.mobile .pagination_ul ul {
    display: none;
    justify-content: flex-start;
  }
  .pagination.mobile .pagination_ul ul li{
    font-size: 16px;
    line-height: 0;
    width: 24px;
    height: 24px;
    margin: 4px 2px;
    &.active{
      background: #1782E9;
      color: #fff;
    }
  }
  .pagination.mobile .pagination_ul ul li a{
    font-size: 16px;
    line-height: 0;
    width: 24px;
    height: 24px;
  }
  .pg-label {
    background: #1782E9;
    color: #fff;
    display: flex;
    height: 34px;
    align-items: center;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.24);
    width: fit-content;
    padding: 0 18px;
    font-weight: bold;
    font-size: 16px;
  }

  .pagination.mobile.active {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    left: auto;
    right: 8px;
  }

  .pagination.mobile.active .pagination_ul {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .pagination.mobile.active .pagination_ul ul {
    display: flex;
    align-items: flex-start;
  }
}