.category_in{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.catalog-heading{
  grid-column: 1 / -1;
  font-size: 28px;
  line-height: 37px;
  color: #404142;
  margin-top: 33px;
}

.h1-count{
  color: #8A8B8C;
  font-size: 12px;
  line-height: 15px;
}

.filter_w{
  grid-column: 1 / span 1;
}
.category_content{
  grid-column: 2 / span 5;
}

.category_content_items{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0 20px;
  .card:hover{
    z-index: 999;
  }
  .pic{
    background: url('../img/loader.gif') center center no-repeat;
    img.reloading{
      opacity: 0;
    }
  }
  .card{
    padding-bottom: 46px;
    .shover{
      background: #fff;
      z-index: -1;
      top: -1px;
    }
    .additions {
      bottom: -49px;
      width: 100%;
      padding-bottom: 20px;
    }
  }
  &.cci-5{
    img.imgbig{
      display: none;}
    img.imgsmall{
      display: block;}
  }
  &.cci-4{
    grid-template-columns: repeat(4, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 330px;
    }
  }
}

.category_sort_w{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 24px;
}
.category_sort{
  margin-left: -16px;
}
.select_counter{
  grid-column: -1 / span 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}
#select_count{
  margin: 0 0 0 13px;
  padding: 0;
  display: flex;
  grid-gap: 0 10px;
  align-items: baseline;
  li {
    display: block;
    list-style: none;
  }
}
#select_count a{
  font-size: 14px;
  line-height: 23px;
  color: #8A8B8C;
  &.active{
    font-size: 18px;
    line-height: 23px;
    color: #404142;
  }
}


@media (max-width:859px) {
  .catalog-heading{
    font-size: 20px;
    line-height: 26px;
    margin-top: 15px;
    .h1-count{
      display: none;
    }
  }
}