.category_in{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.catalog-heading{
  grid-column: 1 / -1;
  font-size: 28px;
  line-height: 37px;
  color: #404142;
  margin-top: 33px;
}

.h1-count{
  color: #8A8B8C;
  font-size: 12px;
  line-height: 15px;
}

.filter_w{
  grid-column: 1 / span 1;
  padding-top: 35px;
}
.category_content{
  grid-column: 2 / span 5;
}

.category_content_items{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0 20px;
  .card:hover{
    z-index: 999;
  }
  .pic{
    background: url('../img/loader.gif') center center no-repeat;
    img.reloading{
      opacity: 0;
    }
  }
  .card{
    padding-bottom: 46px;
    .shover{
      background: #fff;
      z-index: -1;
      top: -1px;
    }
    .additions {
      bottom: -49px;
      width: 100%;
      padding-bottom: 20px;
    }
  }
  &.cci-5{
    grid-template-columns: repeat(5, 1fr);
    img.imgbig{
      display: none;}
    img.imgsmall{
      display: block;}
  }
  &.cci-4{
    grid-template-columns: repeat(4, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 330px;
    }
  }
  &.cci-3{
    grid-template-columns: repeat(3, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 330px;
    }
  }
}

.category_sort_w{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 24px;
}
.category_sort{
  margin-left: 0;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
}
.select_counter{
  grid-column: -1 / span 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}
#select_count{
  margin: 0 0 0 13px;
  padding: 0;
  display: flex;
  grid-gap: 0 10px;
  align-items: baseline;
  li {
    display: block;
    list-style: none;
  }
}
#select_count a{
  font-size: 14px;
  line-height: 23px;
  color: #8A8B8C;
  transition: 0.11s all;
  &.active{
    font-size: 18px;
    line-height: 23px;
    color: #404142;
  }
  &:hover{
    font-size: 18px;
    line-height: 23px;
    color: #1782E9;
    transition: 0.11s all;
  }
}

.toggle_filter_btn{
  height: 32px;
  background: #f4f5f6;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  display: inline-block;
  padding: 6px 10px 0;
  display: none;
  width: 117px;
  padding-left: 40px;
}

.toggle_filter_btn.show{
  grid-column: 1 / span 2;
  background: url("../img/ico-filter-open.png") 15px 9px no-repeat #1782E9;
  color: #fff;
}
.toggle_filter_btn.hide{
  margin-bottom: 5px;
  background: url("../img/ico-filter-close.png") 15px 9px no-repeat #f4f5f6;
}


.category_in.filter-opened{
  .category_sort{
    margin-left: -16px;
  }
  .toggle_filter_btn.show{
    display: none;
  }
}

.pagination{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#button_more_ajax {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button_more_ajax + .pagination{
  margin-top: 0;
}
#button_more_ajax .btn{
  margin-bottom: 20px;
  width: 344px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  span{
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/icons-arrow-next-normal.svg) center center no-repeat;
    transform: rotate(90deg);
    margin-left: 4px;
  }
  &:hover span{
    background: url(../img/icons-arrow-next-focus.svg) center center no-repeat;
  }
}

.category_seo{
  margin-top: 150px;
  .circles_w{
    margin-bottom: 210px;
  }
  .text{
    grid-column: 4 / span 6;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: justify;
    .heading{
      font-size: 28px;
      font-weight: 800;
      line-height: 37px;
      text-align: center;
      margin-bottom: 24px;
    }
    p{

    }
  }
}





@media (max-width: 1659px) and (min-width: 1440px){
  .category_in{
    grid-template-columns: repeat(5, 1fr);
    padding: 0 19px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .category_content {
    grid-column: 2 / span 4;
  }
  .category_content_items.cci-5{
    grid-template-columns: repeat(4, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 330px;
    }
  }
  #select_count li:last-child{
    display: none;}
}

@media (max-width: 1439px) and (min-width: 1140px){
  .category_in{
    grid-template-columns: repeat(4, 1fr);
    padding: 0 19px;
    max-width: 1140px;
    margin: 0 auto;
  }
  .category_content_items.cci-3{
    grid-template-columns: repeat(3, 1fr);
    img.imgbig{
      display: block;}
    img.imgsmall{
      display: none;}
    .card .pic{
      min-height: 260px;
      max-height: 260px;
      img{
        max-width: 100%;
        max-height: 260px;
        width: auto;
        height: auto;
      }
    }
  }
}

@media (max-width: 1439px){
  .filter_categories .heading{
    display: none;
  }
  .filter_w{
    padding-top: 30px;
  }
  .toggle_filter_btn{
    display: inherit;
  }
  .category_in {
    max-width: 1140px;
    padding: 0 19px;
    .filter_w{
      display: none;
    }
    .category_content{
      grid-column: 1 / span 6;
    }
    &.filter-opened{
      .filter_w{
        display: block;
      }
      .category_content{
        grid-column: 2 / span 5;
      }
    }
  }
  #select_count li[data-count="5"]{
    display: none;
  }
  .category_sort{
    grid-column: 1 / span 3;
  }
}
@media (max-width: 1139px){
  .category_sort{
    grid-column: 1 / span 3;
  }
  .category_in {
    max-width: 860px;
    padding: 0 19px;
    .filter_w{
      display: none;
    }
    .category_content{
      grid-column: 1 / span 6;
    }
    &.filter-opened{
      .filter_w{
        display: block;
      }
      .category_content{
        grid-column: 2 / span 5;
      }
    }
  }
}
@media (max-width:859px) {
  .catalog-heading{
    font-size: 20px;
    line-height: 26px;
    margin-top: 15px;
    .h1-count{
      display: none;
    }
  }
}