.footer {
  background: url("../img/footer.jpg") repeat-x top center #202c36;
  margin-top: 135px;
  padding-top: 139px;

  .line1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1660px;
    grid-gap: 0 20px;
    margin: 0 auto;

    .inner {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-column: 2 /span 10;
      grid-gap: 0 20px;
    }
  }

  .line2 {
    .inner {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      max-width: 1660px;
      grid-gap: 0 20px;
      margin: 0 auto;
    }
  }
}

.footer .line1 {
  padding-bottom: 46px;
  color: #fff;

  .col1 {
    grid-column: 1 / span 2;
  }

  .col2 {
    grid-column: 3 / span 2;
    padding-left: 70px;
  }

  .col3 {
    grid-column: 6 / span 2;
  }

  .col4 {
    grid-column: 8 / span 3;
    padding-left: 70px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
  }

  .ul {
    margin-top: 17px;

    li {
      font-size: 16px;
      line-height: 32px;
    }
  }

  ul.social {
    margin-top: 8px;
    li{
      margin-right: 3px;
    }
  }
}

.footer .line2 {
  color: rgba(#fff, 0.6);
  padding-top: 32px;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  padding-bottom: 44px;
  background-color: #314250;

  .col {
    span {
      display: block;
    }
  }

  .col1 {
    grid-column: 2 / span 2;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    background: url("../img/car.jpg") left 13px no-repeat;
    padding-left: 110px;
    padding-top: 3px;
  }

  .col2 {
    grid-column: 4 / span 2;
    padding-left: 70px;
  }

  .col3 {
    grid-column: 7 / span 2;
  }

  .col4 {
    grid-column: 9 / span 3;
    padding-left: 4px;
    padding-top: 14px;
  }
}

ul.social {
  display: flex;
}

.footer--pan{
  position: fixed;
  z-index: 9999;
  bottom: 0;
  height: 56px;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  background: rgba(250,250,250,0.9);
  width: 100%;
  padding-top: 10px;
  a{
    grid-column: span 1;
    font-size: 12px;
    color: #8A8B8C;
    line-height: 14px;
    text-align: center;
    padding-top: 25px;
    position: relative;
    display: block;
    &:hover{
      color: #1782E9;
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -12px;
      top: 0;
      background-size: contain;
      width: 24px;
      height: 24px;
    }
  }
}
.ico-footmenu-home:before{
  background: url("../img/foot_bottom_ico_home.png") center center no-repeat;
}
.ico-footmenu-catalog:before{
  background: url("../img/foot_bottom_ico_catalog.png") center center no-repeat;
}
.ico-footmenu-favorite:before{
  background: url("../img/foot_bottom_ico_like.png") center center no-repeat;
}
.ico-footmenu-profile:before{
  background: url("../img/foot_bottom_ico_user.png") center center no-repeat;
}
.ico-footmenu-cart:before{
  background: url("../img/foot_bottom_ico_cart.png") center center no-repeat;
}

@media (min-width: 1440px) and (max-width: 1659px) {
  .footer{
    margin-top: 25px;
  }
  .footer .line1{
    grid-template-columns: repeat(10, 1fr);
  }
  .footer .line1 .inner,
  .footer .line2 .inner
  {
    grid-column: 1 /span 10;
    padding: 0 19px;
  }
}
@media (min-width: 1140px) and (max-width: 1439px) {
  .footer .line1 {
    grid-template-columns: repeat(8, 1fr);
  }
  .footer .line1 .inner,
  .footer .line2 .inner
  {
    grid-template-columns: repeat(8, 1fr);
    grid-column: 1 /span 8;
    padding: 0 19px;
  }
  .footer .line1 .col1 {
    grid-column: 1 / span 2;
  }
  .footer .line1 .col2 {
    grid-column: 3 / span 2;
    padding-left: 0;
  }
  .footer .line1 .col3 {
    grid-column: 5 / span 2;
  }
  .footer .line1 .col4 {
    grid-column: 7 / span 2;
    padding-left: 0;
  }
  .footer .line2 .col1{
    grid-column: 1 / span 2;
  }

  .footer .line2 .col2{
    grid-column: 3 / span 1;
    padding-left: 0;
    margin-left: -26px;
    margin-right: -20px;
  }
  .footer .line2 .col3{
    grid-column: span 2;
    padding-left: 40px;
  }
  .footer .line2 .col4{
    grid-column: span 3 / -1;
  }
}

@media (min-width: 860px) and (max-width: 1139px) {
  .footer{
    margin-top: 35px;
  }
  .footer .line1 {
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 40px;
  }
  .footer .line1 .inner,
  .footer .line2 .inner
  {
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1 /span 6;
    padding: 0 19px;
  }
  .footer .line1 .col1 {
    grid-column: 1 / span 2;
  }
  .footer .line1 .col2 {
    grid-column: 3 / span 2;
    padding-left: 0;
  }
  .footer .line1 .col3 {
    grid-column: 5 / span 2;
  }
  .footer .line1 .col4 {
    grid-row: 2;
    grid-column: 1 / span 6;
    padding-left: 0;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .switcher{
    grid-column: 5 / span 2;
    width: 212px;
  }
  .footer .line1 ul.social {
    margin-top: 20px;
    margin-left: 23px;
  }
  .footer .line2{
    padding-bottom: 36px;
  }
  .footer .line2 .col1{
    grid-column: 1 / span 2;
  }

  .footer .line2 .col2{
    grid-column: 3 / span 2;
    padding-left: 0;
  }
  .footer .line2 .col3{
    grid-column: span 2;
    padding-left: 0;
  }
  .footer .line2 .col4{
    grid-row: 2;
    grid-column: 1 / span 6;
    margin-top: 40px;
  }
}

@media (max-width: 859px) {
  .footer--pan{
    display: grid;
  }
  .footer{
    margin-top: 10px;
    padding-bottom: 30px;
  }
  .footer .line1 .inner{
    display: flex;
    flex-direction: column;
  }
  .footer .line1 .col2{
    padding-left: 0;
  }
  .footer .line1 .col4{
    padding-left: 0;
  }
  .footer .line1{
    grid-template-columns: repeat(4, 1fr);
    .inner{
      grid-template-columns: repeat(4, 1fr);
      grid-column: 1 /span 4;
    }
    .title{
      font-size: 16px;
      line-height: 20px;
      padding: 8px 16px;
      position: relative;
      .arrow-white:after{
        display: none;
      }
    }
    .col1,
    .col2,
    .col3{
      border-bottom: 1px solid #314250;
      grid-column: 1 /span 4;
      .title{
        &:after{
          content: "";
          display: block;
          position: absolute;
          width: 24px;
          height: 24px;
          background: url("../img/icon-dropdown-bottom-normal-w.svg") center center no-repeat;
          background-size: contain;
          right: 16px;
          top: 7px;
          transition: 0.2s all;
        }
        &.active{
          &:after{
            transform: rotate(180deg);
            transition: 0.2s all;
          }
        }
      }
      ul{
        display: none;
        margin-top: 0;
        margin-left: 16px;
        padding-bottom: 10px;
        li{
          font-size: 15px;
          line-height: 28px;
        }
      }
    }
    .col4{
      flex-direction: row;
      grid-column: 1 /span 4;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .title{
        flex-basis: 50%;
      }
      ul{
        margin-left: auto;
        margin-right: 16px;
      }
      .switcher{
        width: 340px;
        max-width: 340px;
        margin: 10px auto 0;
        text-align: center;
        flex-basis: 100%;
      }
    }
  }

  .footer .line2 .inner{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px 20px;
    padding: 0 8px;
  }
  .footer .line2 .col1{
    grid-column: 1 / span 2;
    font-weight: normal;
    background-size: 79px 48px;
    background-position: left 0;
    min-height: 48px;
    span{
      display: inline;
    }
    span:first-child{
      display: block;
    }
  }

  .footer .line2 .col2{
    grid-column: 1 / span 1;
    grid-row: 2;
    padding-left: 0;
    font-size: 12px;
  }
  .footer .line2 .col3{
    grid-column: 2 / span 1;
    padding-left: 0;
    grid-row: 2;
    font-size: 12px;
  }
  .footer .line2 .col4{
    grid-row: 3;
    grid-column: 1 / span 2;
    margin-top: 0;
    img{
      max-width: 100%;
    }
  }
}