.footer {
  background: url("../img/footer.jpg") repeat-x top center #202c36;
  margin-top: 135px;
  padding-top: 139px;

  .line1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1660px;
    grid-gap: 0 20px;
    margin: 0 auto;

    .inner {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-column: 2 /span 10;
      grid-gap: 0 20px;
    }
  }

  .line2 {
    .inner {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      max-width: 1660px;
      grid-gap: 0 20px;
      margin: 0 auto;
    }
  }
}

.footer .line1 {
  padding-bottom: 46px;
  color: #fff;

  .col1 {
    grid-column: 1 / span 2;
  }

  .col2 {
    grid-column: 3 / span 2;
    padding-left: 70px;
  }

  .col3 {
    grid-column: 6 / span 2;
  }

  .col4 {
    grid-column: 8 / span 3;
    padding-left: 70px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
  }

  .ul {
    margin-top: 17px;

    li {
      font-size: 16px;
      line-height: 32px;
    }
  }

  ul.social {
    margin-top: 8px;
    li{
      margin-right: 3px;
    }
  }
}

.footer .line2 {
  color: rgba(#fff, 0.6);
  padding-top: 32px;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  padding-bottom: 44px;
  background-color: #314250;

  .col {
    span {
      display: block;
    }
  }

  .col1 {
    grid-column: 2 / span 2;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    background: url("../img/car.jpg") left 13px no-repeat;
    padding-left: 110px;
    padding-top: 3px;
  }

  .col2 {
    grid-column: 4 / span 2;
    padding-left: 70px;
  }

  .col3 {
    grid-column: 7 / span 2;
  }

  .col4 {
    grid-column: 9 / span 3;
    padding-left: 4px;
    padding-top: 14px;
  }
}

ul.social {
  display: flex;
}


@media (min-width: 1440px) and (max-width: 1659px) {
  .footer{
    margin-top: 25px;
  }
  .footer .line1{
    grid-template-columns: repeat(10, 1fr);
  }
  .footer .line1 .inner,
  .footer .line2 .inner
  {
    grid-column: 1 /span 10;
    padding: 0 19px;
  }
}
@media (min-width: 1140px) and (max-width: 1439px) {
  .footer .line1 {
    grid-template-columns: repeat(8, 1fr);
  }
  .footer .line1 .inner,
  .footer .line2 .inner
  {
    grid-template-columns: repeat(8, 1fr);
    grid-column: 1 /span 8;
    padding: 0 19px;
  }
  .footer .line1 .col1 {
    grid-column: 1 / span 2;
  }
  .footer .line1 .col2 {
    grid-column: 3 / span 2;
    padding-left: 0;
  }
  .footer .line1 .col3 {
    grid-column: 5 / span 2;
  }
  .footer .line1 .col4 {
    grid-column: 7 / span 2;
    padding-left: 0;
  }
  .footer .line2 .col1{
    grid-column: 1 / span 2;
  }

  .footer .line2 .col2{
    grid-column: 3 / span 1;
    padding-left: 0;
    margin-left: -26px;
    margin-right: -20px;
  }
  .footer .line2 .col3{
    grid-column: span 2;
    padding-left: 40px;
  }
  .footer .line2 .col4{
    grid-column: span 3 / -1;
  }
}