.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.in{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.container > * {
  grid-column: 1 /span 12;
}
.in>.swiper-container-wrapper{
  grid-column: 1 / span 12;
}

@media (min-width: 1440px) and (max-width: 1659px) {
  .in, .megamenu{
    grid-template-columns: repeat(10, 1fr);
    padding: 0 19px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .in>.swiper-container-wrapper{
    grid-column: 1 / span 10;
  }
}

@media (min-width: 1140px) and (max-width: 1439px) {
  .in, .megamenu{
    grid-template-columns: repeat(8, 1fr);
    padding: 0 19px;
    max-width: 1140px;
    margin: 0 auto;
  }
  .in>.swiper-container-wrapper{
    grid-column: 1 / span 8;
  }
}

@media (min-width: 860px) and (max-width: 1139px) {
  .in, .megamenu{
    grid-template-columns: repeat(6, 1fr);
    padding: 0 19px;
    max-width: 860px;
    margin: 0 auto;
  }
  .in>.swiper-container-wrapper{
    grid-column: 1 / span 6;
  }
}
@media (max-width: 859px) {
  .in{
    grid-template-columns: repeat(4, 1fr);
    padding: 0 8px;
    max-width: 860px;
    min-width: 320px;
    margin: 0 auto;
  }
  .in>.swiper-container-wrapper{
    grid-column: 1 / span 4;
  }

}