.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.in{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.container > * {
  grid-column: 1 /span 12;
}

@media (min-width: 1440px) and (max-width: 1659px) {
  .in{
    padding: 0 30px;
  }
}