.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.in{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto;
}

.container > * {
  grid-column: 1 /span 12;
}
.in>.swiper-container-wrapper{
  grid-column: 1 / span 12;
}
.mobile{
  display: none;
}

.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}



@media (min-width: 992px) and (max-width: 1199px) {
  .row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
    padding: 0 15px;
    grid-gap: 20px;
    margin: 0 auto;
    position: relative;
  }

} /*media 769-1024*/

@media (min-width:576px) and (max-width:991px) {
  .mobile{
    display: inherit !important;
  }
  .desktop{
    display: none !important;
  }

  .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1120px;
    grid-gap: 10px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  .s-col-1{grid-column: span 1;}
  .s-col-2{grid-column: span 2;}
  .s-col-3{grid-column: span 3;}
  .s-col-4{grid-column: span 4;}
  .s-col-5{grid-column: span 5;}
  .s-col-6{grid-column: span 6;}
  .s-col-7{grid-column: span 7;}
  .s-col-8{grid-column: span 8;}
  .s-col-9{grid-column: span 9;}
  .s-col-10{grid-column: span 10;}
  .s-col-11{grid-column: span 11;}
  .s-col-12{grid-column: span 12;}
  .s-col-del{display: none;}
} /*media 481-768*/

@media (max-width:575px) {

  .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    grid-gap: 10px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
  }
  .xs-col-1{grid-column: span 1;}
  .xs-col-2{grid-column: span 2;}
  .xs-col-3{grid-column: span 3;}
  .xs-col-4{grid-column: span 4;}
  .xs-col-5{grid-column: span 5;}
  .xs-col-6{grid-column: span 6;}
  .xs-col-7{grid-column: span 7;}
  .xs-col-8{grid-column: span 8;}
  .xs-col-9{grid-column: span 9;}
  .xs-col-10{grid-column: span 10;}
  .xs-col-11{grid-column: span 11;}
  .xs-col-12{grid-column: span 12;}
  .xs-col-del{display: none;}
  .mobile{
    display: inherit !important;
  }
  .desktop{
    display: none !important;
  }
} /*media max 480*/




@media (min-width: 1424px) and (max-width: 1659px) {
  .in, .megamenu{
    grid-template-columns: repeat(10, 1fr);
    padding: 0 19px;
    max-width: 1424px;
    margin: 0 auto;
  }
  .in>.swiper-container-wrapper{
    grid-column: 1 / span 10;
  }

  .l-col-1{grid-column: span 1;}
  .l-col-2{grid-column: span 2;}
  .l-col-3{grid-column: span 3;}
  .l-col-4{grid-column: span 4;}
  .l-col-5{grid-column: span 5;}
  .l-col-6{grid-column: span 6;}
  .l-col-7{grid-column: span 7;}
  .l-col-8{grid-column: span 8;}
  .l-col-9{grid-column: span 9;}
  .l-col-10{grid-column: span 10;}
  .l-col-11{grid-column: span 11;}
  .l-col-12{grid-column: span 12;}
  .l-col-del{display: none;}
}

@media (min-width: 1140px) and (max-width: 1423px) {
  .in, .megamenu{
    grid-template-columns: repeat(8, 1fr);
    padding: 0 19px;
    max-width: 1140px;
    margin: 0 auto;
  }
  .in>.swiper-container-wrapper{
    grid-column: 1 / span 8;
  }
  .m-col-0{
    display: none;}
  .m-col-1{grid-column: span 1;}
  .m-col-2{grid-column: span 2;}
  .m-col-3{grid-column: span 3;}
  .m-col-4{grid-column: span 4;}
  .m-col-5{grid-column: span 5;}
  .m-col-6{grid-column: span 6;}
  .m-col-7{grid-column: span 7;}
  .m-col-8{grid-column: span 8;}
  .m-col-9{grid-column: span 9;}
  .m-col-10{grid-column: span 10;}
  .m-col-11{grid-column: span 11;}
  .m-col-12{grid-column: span 12;}
  .m-col-del{display: none;}
}

@media (min-width: 860px) and (max-width: 1139px) {
  .in, .megamenu{
    grid-template-columns: repeat(6, 1fr);
    padding: 0 19px;
    max-width: 860px;
    margin: 0 auto;
  }
  .in>.swiper-container-wrapper{
    grid-column: 1 / span 6;
  }
  .s-col-1{grid-column: span 1;}
  .s-col-2{grid-column: span 2;}
  .s-col-3{grid-column: span 3;}
  .s-col-4{grid-column: span 4;}
  .s-col-5{grid-column: span 5;}
  .s-col-6{grid-column: span 6;}
  .s-col-7{grid-column: span 7;}
  .s-col-8{grid-column: span 8;}
  .s-col-9{grid-column: span 9;}
  .s-col-10{grid-column: span 10;}
  .s-col-11{grid-column: span 11;}
  .s-col-12{grid-column: span 12;}
  .s-col-del{display: none;}
}
@media (max-width: 859px) {
  .in{
    grid-template-columns: repeat(4, 1fr);
    padding: 0 8px;
    max-width: 860px;
    min-width: 320px;
    margin: 0 auto;
  }
  .in>.swiper-container-wrapper{
    grid-column: 1 / span 4;
  }
  .xs-col-1{grid-column: span 1;}
  .xs-col-2{grid-column: span 2;}
  .xs-col-3{grid-column: span 3;}
  .xs-col-4{grid-column: span 4;}
  .xs-col-5{grid-column: span 5;}
  .xs-col-6{grid-column: span 6;}
  .xs-col-7{grid-column: span 7;}
  .xs-col-8{grid-column: span 8;}
  .xs-col-9{grid-column: span 9;}
  .xs-col-10{grid-column: span 10;}
  .xs-col-11{grid-column: span 11;}
  .xs-col-12{grid-column: span 12;}
  .xs-col-del{display: none;}
}