.megamenu{
  position: absolute;
  top: auto;
  width: 100%;
  z-index: -10;
  margin: 49px auto 0;
  height: 520px;
  opacity: 0;
  transition: all 0.5s;
  left: 0;
  right: 0;
  .j-megamenu-scrollbar-wrapper{
    //height: 480px;
    height: 500px;
  }
  &.active{
    z-index: 46;
    opacity: 1;
    transition: all 0.3s;
  }
}
.megamenu-inner{
  position: relative;
  margin: 0 auto;
  max-width: 1660px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 20px;
  background: #fff;
  border: 1px solid $borderGrey;
  border-radius: 4px;
  height: 520px;
  box-shadow: 0 1px 16px rgba(#000000, .12);
  .col--left .j-megamenu-scrollbar-wrapper{
    width: 251px;
  }
}


.mm-popup{
  display: none;
  &.active{
    display: block;
  }
}
.megamenu .col--left{
  grid-column: 1 /span 2;
  border-right: 1px solid $borderGrey;
  padding: 13px 0 0;
  position: relative;
  width: 248px;
  &:after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.7) 40%, rgba(255,255,255,0) 100%);
  }
  &:hover{
    &:after{
      display: none;
    }
  }
  &.isbottom{
    &:after{
      display: none;
    }
  }
}
.megamenu .col--right{
  padding: 26px 0 0;
  grid-column: span 10;
  position: relative;
}
.megamenu .no-left-col{
  .col--right{
    grid-column: span 12;
  }
  .col--right-grid{
    grid-template-columns: repeat(12, 1fr);
  }
  .col--popular{
    position: relative;
    left: 15px;
    grid-column: span 10;
  }
}
.col--right-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0 20px;
  .j-megamenu-scrollbar-wrapper{
    grid-column: 1 / -3;
    height: 491px;
    width: calc(100% + 20px);
  }
  .scrollbar-inner{
    height: 491px;
    margin-left: -20px;
    padding-left: 20px !important;
  }
  .scrollbar-inner > .scroll-element.scroll-x{
    display: none !important;
  }
}
.col--left .scrollbar-inner{
  //max-height: calc(100vh - 218px);
 height: 500px;
}

.megamenu--catalog{
  width: 247px;
  position: relative;
  ul{
    margin: 0;
    padding: 0;
    li{
      position: relative;
      a{
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        padding-left: 11px;
        list-style: none;
        padding-right: 40px;
        border-left: 4px solid transparent;
      }
      &:hover:not(.viewall-margin){
        a{
          border-left: 4px solid #1782E9;
          background: #E7F2FC;
          font-weight: 800;
          color: inherit;
        }
      }
      &.active:not(.viewall-margin){
         a{
           border-left: 4px solid #1782E9;
           background: #E7F2FC;
           font-weight: 800;
           color: inherit;
         }
       }
      &.viewall-margin{
        margin-bottom: 9px;
        a{
          padding-left: 12px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
  li.has-submenu:after {
    display: block;
    content: "";
    position: absolute;
    background: url(../img/side-main-arr.jpg) center center no-repeat;
    right: 11px;
    top: 11px;
    width: 18px;
    height: 18px;
  }
}

.megamenu .scroll-element.scroll-y.scroll-scrolly_visible{
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.megamenu .scrollbar-inner:hover .scroll-element.scroll-y.scroll-scrolly_visible{
  opacity: 1;
  transition: opacity 0.3s;
}
.megamenu .scrollbar-inner > .scroll-element .scroll-element_track{
  opacity: 0 !important;
}
.megamenu .scrollbar-inner > .scroll-element .scroll-bar{
  opacity: 1 !important;
}

.col--filter{
  grid-column: 1 /span 2;
  .mm--filter + .col--heading{
    margin-top: 37px;
  }
}
.mm--filter{
  margin-bottom: 5px;
}
.col--heading{
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 19px;
  span.arrow{
    top: 8px;
  }
}
.filter--heading{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}
.filter--ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li{
    list-style: none;
    margin-bottom: 6px;
    margin-right: 8px;
    a{
      padding: 5px 6px;
      text-decoration: none;
      color: #404040;
      border: 1px solid #1782e9;
      font-size: 12px;
      background: #fff;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      &:hover{
        background: #1782e9;
        color: #ffffff;
        .filter--li_count{
          color: #fff;
        }
      }
    }
  }
}
.filter--li_count{
  font-size: 10px;
  color: #9E9FA0;
  line-height: 13px;
  margin-left: 9px;
}

.col--popular{
  grid-column:span 5;
}

  .mm--popular{
    &>ul{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0;
      padding: 0;
      &>li{
        list-style: none;
        width: 213px;
        position: relative;
        z-index: 1;
        margin-right: 20px;
       //flex: 1 auto;
        &.hasChild{
          padding-right: 0;
          &:after{
             display: none;
          }
          .name:after {
            content: "";
            display: block;
            opacity: 1;
            position: absolute;
            width: 24px;
            height: 24px;
            background: url(../img/icon-dropdown-bottom-normal.svg) 0 0 no-repeat;
            right: 5px;
            top: 50%;
            margin-top: -11px;
            transform: rotate(0deg);
            transition: transform 0.2s, opacity 0.2s;
          }
        }
        &>a{
          position: relative;
        }
        &:last-child{
          margin-right: 0;
        }
      }
      &>li{
        &:before{
          content: "";
          display: block;
          opacity: 0;
          transition: opacity 0.3s;
          position: absolute;
          left: -8px;
          right: -8px;
          top: -8px;
          bottom: -8px;
          background: #fff;
          border: 1px solid #1782E9;
          z-index: -1;
          border-radius: 4px;
          box-shadow: 0 1px 16px rgba(#000000, .12);
        }
        &:hover{
          &:before{
            opacity: 1;
            transition: opacity 0.3s;
          }
          span.arrow{
            opacity: 1;
            transition: opacity 0.3s;
          }
        }
      }
      &>li.hasChild{
        &:hover{
          span.arrow{
            opacity: 0;
            transition: opacity 0.3s;
          }
          .submenu:after{
            display: none;
          }
        }
      }
    }
    .pic{
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 4px;
      transition: all 0.3s;
      img{
        width: auto;
        height: 336px;
        transition: all 0.3s;
      }
    }
    .name{
      font-size: 16px;
      color: #404142;
      margin-top: 9px;
      height: 24px;
      display: inline-flex;
      align-items: center;
      position: relative;
      span.arrow{
        top: 2px;
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
  .submenu{
    //opacity: 0;
    transition: all 0.1s;
    position: relative;
    left: -8px;
    right: -8px;
    top:-8px;
    border-radius: 4px;
    padding-bottom: 10px;
    max-height: 70px;
    overflow: hidden;
    &:before{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    &:after{
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 20px;
      left: 1px;
      right: 1px;
      bottom: 0;
      background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255,255,255,0.7) 40%, rgba(255,255,255,0) 100%);
    }
    &.short:after{
      display: none;
    }
    ul{
      margin: 10px 0 0 0;
      padding: 0 8px;
      border-radius: 0 0 4px 4px;
      position: relative;
      li{
        list-style: none;
        a{
          font-size: 14px;
          line-height: 16px;
          color: #404142;
          &:hover{
            color: #1782E9;
          }
        }
        &.last{
          margin-top: 3px;
          a{
            color: #1782E9;
          }
        }
      }
    }
   /* &:hover{
      border: 1px solid #1782E9;
      box-shadow: 0 1px 16px rgba(#000000, .12);
    }*/
  }
  &>ul>li.hasChild:hover{
    .submenu{
     // padding-top: 300px;
      opacity: 1;
      transition: all 0.2s;
    }
    .pic{
      transition: all 0.3s;
      img{
        height: 264px;
        transition: all 0.3s;
      }
    }
    .name:after{
      opacity: 1;
      transform: rotate(180deg);
      transition: transform 0.3s, opacity 0.3s;
    }
  }
}




.col--sales{
  grid-column: -1 / -3;
  text-align: right;
  padding-right: 32px;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin-bottom: 12px;
      a{
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: normal;
        font-family: "Open Sans", sans-serif;
        &:hover{
          color: $blue;
        }
      }
    }
  }
}

.col--minis{
  grid-column: 1 / span 8;
}
.col--minis-link{
  position: relative;
  .arrow{
    position: absolute;
    top: -4px;
  }
}
.minicats-flex-wrap{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0 20px;
  justify-items: center;
  margin-top: 11px;
  padding-right: 20px;
  .minicat{
    text-align: center;
    margin-bottom: 6px;
  }
}
.minicat{
  max-width: 100px;
  width: 100%;
  height: 140px;
  position: relative;
  &>a{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .pic{
    line-height: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering: optimizeQuality;
    img{
      max-width: 100%;
    }
  }
  .name{
    display: block;
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    color: #404142;
    max-height: 36px;
    overflow: hidden;
  }
  &:before{
    content: "";
    display: block;
    opacity: 0;
    transition: opacity 0.1s;
    position: absolute;
    left: -18px;
    right: -18px;
    top: -18px;
    bottom: -18px;
    background: #fff;
    border: 1px solid #1782E9;
    z-index: -1;
    border-radius: 4px;
    box-shadow: 0 1px 16px rgba(#000000, .12);
  }
  &.hover{
    z-index: 999;
    .pic{
      height: 120px;
      width: 120px;
      margin-left: -10px;
      margin-top: -10px;
    }
    .name{
      font-weight: 800;
    }
    .submenu{
      display: block;
    }
    &:before{
      //opacity: 1;
      transition: opacity 0.1s;
    }
  }
  &.hasChild{
    .name span{
      position: relative;
      &:after{
        content: "";
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        background: url(../img/icon-dropdown-bottom-normal.svg) 0 0 no-repeat;
        right: -22px;
        bottom: -4px;
      }
    }
    &:hover{
      .name span:after{
        transform: rotate(180deg);
      }
    }
  }
  .submenu{
    display: none;
    position: absolute;
    left: -18px;
    right: -18px;
    top:-18px;
    padding-top: 150px;
    border: 1px solid #1782E9;
    border-radius: 4px;
    box-shadow: 0 1px 16px rgba(#000000, .12);
    padding-bottom: 10px;
    &:before{
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      z-index: -1;
    }
    ul{
      margin: 10px 0 0 0;
      padding: 0;
      background: #fff;
      border-radius: 0 0 4px 4px;
      li{
        list-style: none;
        a{
          font-size: 14px;
          line-height: 16px;
          color: #404142;
          &:hover{
            color: #1782E9;
          }
        }
        &.last{
          margin-top: 3px;
          a{
            color: #1782E9;
          }
        }
      }
    }
  }
}




.mm-category-png{
  position: absolute;
  right: -37px;
  bottom: 0;
  pointer-events: none;
}
.mmcpng1{
  background: url("../img/temp/catpng1.png") 0 0 no-repeat;
  width: 335px;
  height: 352px;
  background-size: contain;
}

@media (min-width: 1440px) and (max-width: 1659px) {
  .megamenu-inner{
    grid-template-columns: repeat(10, 1fr);
  }
  .megamenu .col--left{
    width: 100%;
  }
  .megamenu .col--right{
    grid-column: span 8;
  }
  .megamenu--catalog{
    width: 100%;
  }
  .megamenu-inner .col--left .j-megamenu-scrollbar-wrapper{
    width: calc(100% + 5px);
  }

  .col--filter + .col--popular{
    grid-column: span 4;
    .mm--popular > ul > li{
      width: 167px;
    }
    .mm--popular .pic img{
      max-height: 264px;
    }
  }
  .mm-category-png{
    right: -19px;
  }

  .col--right-grid{
    grid-template-columns: repeat(8, 1fr);
  }
  .minicats-flex-wrap{
    grid-template-columns: repeat(6, 1fr);
  }
  .no-left-col{
    .mm--popular{
      li:nth-child(5),
      li:nth-child(6),
      li:nth-child(7){
        display: none;
      }

    }
  }
}

@media (min-width: 1140px) and (max-width: 1439px) {
  .megamenu-inner{
    grid-template-columns: repeat(8, 1fr);
  }
  .megamenu .col--right{
    grid-column: span 6;
  }
  .col--right-grid{
    grid-template-columns: repeat(6, 1fr);
  }
  .col--popular{
    grid-column: span 4;
    .mm--popular > ul > li{
      width: 167px;
    }
    .mm--popular .pic img{
      width: auto;
      max-height: 264px;
    }
  }
  .col--filter + .col--popular{
    grid-column: span 1;
    .mm--popular > ul > li{
      width: 110px;
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      &:hover{
        z-index: 10;
      }
    }
    .mm--popular .pic img{
      max-height: 100px;
    }
    .mm--popular .name{
      font-size: 14px;
      text-align: center;
    }
    .mm--popular .name span.arrow{
      display: none;
    }
  }
  .mm-category-png{
    right: -19px;
  }
  .no-left-col{
    .mm--popular{
      li:nth-child(5),
      li:nth-child(6),
      li:nth-child(7){
        display: none;
      }
    }
  }
  .minicats-flex-wrap{
    grid-template-columns: repeat(4, 1fr);
  }
  .col--popular .mm--popular > ul > li{
    width: 155px;
  }
}

@media (min-width: 860px) and (max-width: 1139px) {
  .megamenu-inner{
    grid-template-columns: repeat(6, 1fr);
  }
  .megamenu .col--right{
    grid-column: span 4;
  }
  .col--right-grid{
    grid-template-columns: repeat(4, 1fr);
  }
  .col--right-grid .j-megamenu-scrollbar-wrapper{
    grid-column: span 4;
    width: 100%;
  }
  .megamenu-inner .col--left .j-megamenu-scrollbar-wrapper{
    width: calc(100% + 4px);
  }
  .scroll-wrapper > .scroll-content{
    width: calc(100% - 4px) !important;
  }
  .minicats-flex-wrap{
    grid-template-columns: repeat(4, 1fr);
  }
  .mmcpng1{
    display: none;
  }
  .col--popular {
    grid-column: span 1;
  }
  .col--sales {
    position: absolute;
    right: 0;
    top: 25px;
    padding-right: 0;
    ul{
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      li{
        white-space: nowrap;
        margin-left: 20px;
      }
    }
  }
  .col--popular + .col--sales{
      text-align: right;
      padding-right: 32px;
      grid-row: 1;
      position: relative;
      top: 0;
      right: auto;
      ul{
        display: block;
        padding-right: 20px;
        li{
          white-space: nowrap;
          margin-left: 0;
        }
      }
  }
  .col--filter + .col--popular{
    grid-column: span 2;
    .mm--popular > ul > li{
      width: 110px;
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      &:hover{
        z-index: 10;
      }
    }
    .mm--popular .pic img{
      max-height: 100px;
    }
    .mm--popular .name{
      font-size: 14px;
      text-align: center;
    }
    .mm--popular .name span.arrow{
      display: none;
    }
    .col--sales{
      text-align: right;
      padding-right: 32px;
      grid-row: 1;
      position: relative;
      top: 0;
      right: auto;
      ul{
        display: block;
        padding-right: 20px;
        li{
          white-space: nowrap;
          margin-left: 0;
        }
      }
    }
    & + .col--sales {
      text-align: left;
      padding-right: 0;
      grid-row: 2;
      position: relative;
      top: 0;
      right: auto;
      ul{
        display: block;
        padding-right: 20px;
        li{
          white-space: nowrap;
          margin-left: 0;
        }
      }
    }
  }



  .megamenu .col--left{
    width: 100%;
  }
  .megamenu--catalog{
    width: 100%;
  }
  .mm--popular > ul > li{
    width: 110px;
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
    &:hover{
      z-index: 10;
    }
  }
  .mm--popular .pic img{
    max-height: 100px;
  }
  .mm--popular .name{
    font-size: 14px;
    text-align: center;
  }
  .mm--popular .name span.arrow{
    display: none;
  }
  .megamenu .no-left-col{
    .mm--popular{
      li:nth-child(5),
      li:nth-child(6),
      li:nth-child(7){
        display: none;
      }
    }
    .col--popular{
      grid-column: span 6;
      grid-row: 2;
      .mm--popular > ul > li{
        width: 180px;
        margin-right: 18px;
      }
      .mm--popular .pic img{
        width: auto;
        max-height: 287px;
      }
    }
  }
  .megamenu .no-left-col .col--right{
    grid-column: span 6;
    .col--sales{
      position: absolute;
      right: 0;
      top: 36px;
      padding-right: 0;
      ul{
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        li{
          white-space: nowrap;
          margin-left: 20px;
        }
      }
    }
  }
  .megamenu .no-left-col .col--right-grid{
    grid-row: 1;
    grid-template-columns: repeat(6, 1fr);
    .col--heading{
      margin-bottom: 25px;
    }
  }
  .mm--popular > ul > li.hasChild:hover span.arrow{
    display: none;
  }
  .mm--popular .submenu{
    display: none;
  }
  .col--sales ul li a{
    font-size: 12px;
  }
  .mm--popular > ul > li.hasChild .name:after{
    display: none;
  }
  .col--minis-link{
    max-width: 173px;
  }
}