@import "_utils";

.category_menu_w{
  position: relative;
}
.cm-level-1-w{
  position: absolute;
  width: 100%;
 // background: #fff;
  z-index: 3;
}

.category_menu.cm-level-1{
  border-top: 1px solid $borderGrey;
  position: relative;
  background: #fff;
  &.active{
    border-bottom: 1px solid $borderGrey;
  }
}

#category_menu_0{
  border-top: 1px solid $borderGrey;
}

.category_menu_mobile{
  display: none;
  grid-column: 1 / span 4;
  overflow: hidden;
  margin-bottom: 20px;
  ul{
    display: flex;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      position: relative;
      text-align: center;
      padding-top: 45px;
      &:before{
        content: "";
        display: block;
        position: absolute;
      }
    }
  }
  a{
    display: block;
    color: #404142;
    font-size: 12px;
    line-height: 14px;
    width: 88px;
  }
  .sidemenu--ico-nums:before {
    background: url(../img/icon-paint.svg) 0 0 no-repeat;
    top: 11px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  .sidemenu--ico-ramy:before {
    background: url(../img/icon-frame.svg) 0 0 no-repeat;
    top: 11px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  .sidemenu--ico-mozaika:before {
    background: url(../img/icon-diamond.svg) 0 0 no-repeat;
    top: 11px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  .sidemenu--ico-3d:before {
    background: url(../img/icon-3d.svg) 0 0 no-repeat;
    top: 11px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  .sidemenu--ico-gobeleny:before {
    background: url(../img/icon-gobeliny.svg) 0 0 no-repeat;
    top: 11px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  .sidemenu--ico-sale:before {
    background: url(../img/icon-sale.svg) 0 0 no-repeat;
    top: 10px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-size: contain;
  }
}
.category_menu {
  grid-column: 1 / -1;

  .ul {
    display: flex;
    justify-content: space-between;
  }
}

.cm-level-1 .swiper-container .ul-level-1{
  display: none;
}
.cm-level-1 .swiper-container.active .ul-level-1{
  display: flex;
  opacity: 1 !important;
}

.ul-level-1 {
  margin: 0 8px 0 16px;
  width: auto;
  a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 14px 0 9px;
    display: inline-block;
  }

  li {
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom: 3px solid $blue;
      color: $blue;

      &:after {
        //background: url("../img/icon-dropdown-bottom-focus.svg") 0 0 no-repeat;
        transform: rotate(180deg);
        transition: transform 0.2s;
      }
    }

    &:hover {
      &.hasChild:after {
        //background: url("../img/icon-dropdown-bottom-focus.svg") 0 0 no-repeat;
      }
    }
  }
}
/********************************************/
/*******убрать этот блок, если меню нулевого уровня не будет*******/
.cm-level-0{
  li{
    border: none !important;
    &.active {
      font-weight: 600;
    }
  }
}
.cm-level-1{
  li{
    &.active{
      color: inherit;
      a{
        font-weight: 600;
      }
    }
    color: inherit;
    a:hover{
      color: inherit;
    }
  }
  a {
    text-transform: inherit;
  }
}
/********************************************/
/********************************************/


li.search a {
  margin-top: 7px;
  padding: 0;
}

li.hasChild {
  position: relative;
  padding-right: 24px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../img/icon-dropdown-bottom-normal.svg") 0 0 no-repeat;
    right: -2px;
    top: 50%;
    margin-top: -11px;
    transform: rotate(0deg);
    transition: transform 0.2s;
  }
}

.body_overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.32;
  z-index: 498;
  transition: 0.3s all;
  display: none;
}

body.sidemenu--open {
  overflow: hidden;
  margin-right: 17px;

  .body_overlay {
    display: block;
  }
}

.j-sidemenu-scrollbar-wrapper {
  height: calc(100vh - 104px);
}

.j-sidemenu-scrollbar-wrapper .scrollbar-inner {
  height: calc(100vh - 104px);
  max-height: calc(100vh - 104px);
}


.zeynep {
  /*  top: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1011;
    pointer-events: none;
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;*/
}

.zeynep:not(.no-transition),
.zeynep .submenu:not(.no-transition) {
  /* if transitions are not disabled */
  transition: all 500ms;
}

.zeynep-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: fixed;
  z-index: 1010;
  background-color: rgba(0, 0, 0, .42);
}

.zeynep-opened .zeynep-overlay {
  display: block;
}

.zeynep.opened {
  pointer-events: auto;
  transform: translateX(0px);

}

.zeynep.submenu-opened {
  overflow: hidden;
  background: #fff;

}

.zeynep .submenu {
  top: 84px;
  bottom: 0;
  min-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
}

.zeynep .submenu.opened {
  left: 0;
  pointer-events: auto;

}

.zeynep .submenu.opened:not(.current) {
  overflow: hidden;
}

.zeynep ul > li.has-submenu > a {

}

.zeynep ul > li a {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
}

.zeynep ul > li.has-submenu {
  position: relative;

  &:after {
    display: block;
    content: "";
    position: absolute;
    background: url("../img/side-main-arr.jpg") center center no-repeat;
    right: 15px;
    top: 11px;
    width: 18px;
    height: 18px;
  }
}

.zeynep ul > li.has-submenu > a:hover {
  // background-image: url("../images/submenu-arrow-active.svg");
}

/* zeynepjs submenu styles */
.zeynep .submenu {
  background-color: #ffffff;
  left: 360px;
}

.zeynep label {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  padding-left: 16px;
  letter-spacing: 0;
  line-height: 16px;
  background-color: #e7f2fc;
  border-bottom: 1px solid $borderGrey;
}

.sidemenu--viewall {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 16px;
  span.arrow {
    top: 0;
    margin-left: 6px;
  }
}

.zeynep .submenu-header {
  border-bottom: solid 1px #efefef;
  cursor: pointer;
  position: relative;
}

.zeynep .submenu-header > a {
  color: inherit;
  display: flex;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  padding: 0 20px 0 12px;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $borderGrey;

  span.arrow {
    top: 0;
    margin-left: 0;
    margin-right: 16px;
  }
}


.zeynep .submenu > label {
  color: #e77691;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 19px;
  opacity: .5;
  padding-left: 40px;
  width: 100%;
}


#sidemenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 499;
  width: 360px;
  box-shadow: 0 0 10px rgba(#000000, 0.2);
  background-color: #fff;
 // background: url('../img/temp2.png') left top no-repeat;
}

.sidemenu {
  transform: translateX(-360px);
  transition: 0.3s all;
  overflow: hidden;

  &.open {
    transform: translateX(0);
    transition: 0.5s all;
  }

  .sign-block {
    text-align: left;
    color: #fff;
    padding: 10px 0 17px 56px;
    width: 100%;
    border: none;
  }

  .ico-user {
    &:after {
      left: -40px;
      right: auto;
    }
  }

  .heading {
    min-height: 84px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background: #2C3C66;
  }

  .close {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 11px 16px 12px;
    background: url("../img/icon-close-white.svg") center center no-repeat;
  }
  .sign-line{
    position: relative;
    right: auto;
  }
}
#sidemenu.catalogonly{
  width: 100%;
}
.sidemenu.catalogonly{

  .sidemenu--catalog_block2,
  .sidemenu--accordion,
  .heading
  {
    display: none;
  }
  .sidemenu--catalog_ul > li:before{
    display: none;
  }
  .sidemenu--catalog_ul > li{
    padding-left: 0;
  }
  .zeynep .submenu{
    top: 54px;
    left: 100%;
  }
  .sidemenu--catalog_heading{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    margin-left: -16px;
    padding-bottom: 15px;
    position: relative;
    .ico-close{
      background: url("../img/icon-close-black.svg") 0 0 no-repeat;
      background-size: 75% 75%;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 2px;
      top: 4px;
      cursor: pointer;
    }
  }
  .zeynep .submenu.opened{
    left: 0;
  }
  .toggle_filter_btn.hide{
    display: none;
  }
}

.sidemenu--catalog {
  padding: 11px 0 0 16px;

}

.sidemenu--catalog_block2{
  margin-top: 9px;
  border-top: 1px solid #CDCECF;
  padding: 7px 0 9px 16px;
  .sidemenu--catalog_ul{
    margin-top: 0;
    overflow: visible;
    li:after{
      display: none;
    }
  }
}

.sidemenu--catalog_heading {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 17px;
}

.sidemenu--catalog_ul {
  margin-top: 11px;

  & > li {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    padding-left: 32px;
    position: relative;

    a {
      height: 40px;
      display: flex;
      align-items: center;
      width: 100%;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      background: url("../img/icons-arrow-next-normal.svg") center center no-repeat;
      right: 11px;
      top: 11px;
      width: 18px;
      height: 18px;
    }
  }

  ul li {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    padding-left: 16px;
  }
}

.mediacenter--heading {
  opacity: 0.7;
  color: #404142;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  margin-top: 2px;
}

.mediacenter--contacts {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  li {
    flex-basis: 39%;
    margin-left: 33px;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .ico-sidebar-mail {
    margin-top: 10px;
  }
}

.sidemenu--ico-sale2{
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 24px;
    background: url("../img/icl_left--sale.png") 0 0 no-repeat;
    left: -2px;
    top: 9px;
  }
}
.sidemenu--ico-new{
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 24px;
    background: url("../img/icl_left--new.png") 0 0 no-repeat;
    left: -2px;
    top: 9px;
  }
}
.sidemenu--ico-soon{
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 24px;
    background: url("../img/icl_left--soon.png") 0 0 no-repeat;
    left: -2px;
    top: 9px;
  }
}
.ico-sidebar-phone {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    background: url("../img/side-phone.jpg") 0 0 no-repeat;
    left: -30px;
    top: 3px;
  }
}

.ico-sidebar-mail {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 16px;
    background: url("../img/side-mail.jpg") 0 0 no-repeat;
    left: -30px;
    top: 3px;
  }
}
.ico-sidebar-clock {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/side-clock.png") 0 0 no-repeat;
    left: -30px;
    top: 3px;
  }
}
.mediacenter--socials {
  margin-top: 23px;
  margin-left: 2px;

  li {
    display: inline-block;
    margin: 0 5px 0 0;
  }
}

.ico-sidebar-fb {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../img/side-fb.jpg") 0 0 no-repeat;
}

.ico-sidebar-yt {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../img/side-yt.jpg") 0 0 no-repeat;
}

.ico-sidebar-ig {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../img/side-ig.jpg") 0 0 no-repeat;
}

.sidemenu--catalog_ul {
  overflow: hidden;

}

.sidemenu--contacts {
  border-top: 1px solid $borderGrey;
  padding: 7px 16px 0;
}

.sidemenu--ico-113:before {
  background: url(../img/icon-paint.svg) 0 0 no-repeat;
  left: 2px;
  top: 10px;
  width: 21px;
  height: 21px;
  background-size: contain;
}

.sidemenu--ico-116:before {
  background: url(../img/icon-frame.svg) 0 0 no-repeat;
  left: 2px;
  top: 10px;
  width: 21px;
  height: 21px;
  background-size: contain;
}

.sidemenu--ico-115:before {
  background: url(../img/icon-diamond.svg) 0 0 no-repeat;
  left: 1px;
  top: 10px;
  width: 23px;
  height: 23px;
  background-size: contain;
}

.sidemenu--ico-165:before {
  background: url(../img/icon-3d.svg) 0 0 no-repeat;
  left: 1px;
  top: 11px;
  width: 21px;
  height: 21px;
  background-size: contain;
}

.sidemenu--ico-164:before {
  background: url(../img/icon-gobeliny.svg) 0 0 no-repeat;
  left: 2px;
  top: 10px;
  width: 21px;
  height: 21px;
  background-size: contain;
}

.sidemenu--ico-sale:before {
  background: url(../img/icon-sale.svg) 0 0 no-repeat;
  left: 2px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.sidemenu--social{
  margin-top: 31px;
  display: flex;
  align-items: center;
  li{
    margin-right: 28px;
  }
}
//(min-width: 860px) and
@media  (max-width: 1139px) {
  .cm-level-1{
    position: relative;
    padding: 0 40px;

    .swiper-button-prev{
      left: 0;
      right: auto;
      background: url("../img/carousel-arrow-left.png") center center no-repeat;
    }
    .swiper-button-next{
      right: 0;
      left: auto;
      background: url("../img/carousel-arrow-right.png") center center no-repeat;
    }
    .swiper-button-next,
    .swiper-button-prev
    {
      top: 30px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      &:after{
        display: none;
      }
      &:hover, &:focus{
        outline: none;
      }
    }
  }
  .category_menu.cm-level-1 .ul {
    justify-content: flex-start;
    margin: 0;
  }
  .ul-level-1 a{
    white-space: nowrap;
  }
}



@media (max-width: 859px) {
  body.sidemenu--open{
    margin-right: 0;
  }
  .category_menu, .megamenu{
    display: none;
  }
  .category_menu_mobile{
    display: block;
  }
  body.body--filter-opened{
    overflow: hidden;
  }
  body.sidemenu--open,
  body.body--filter-opened
  {
    .footer--pan{
      transform: translateY(56px);
      transition: 0.3s all;
    }
  }
  .j-sidemenu-scrollbar-wrapper {
    height: calc(100vh - 104px);
  }

  .j-sidemenu-scrollbar-wrapper .scrollbar-inner {
    height: calc(100vh - 104px);
    max-height: calc(100vh - 104px);
  }
  .breadcrumb li:last-child:before{
    display: none;
  }
}