.mod_minisubcats-flex-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 16px;
  margin-top: 20px;
  .show_more, .show_less{
    padding-top: 5px;
  }
}

.minisubcat{
  &.hidden{
    display: none;
  }
  a{
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CDCECF;
    height: 32px;
    padding: 0 12px;
    background: #fff;
    border-radius: 16px;
  }
  &:hover{
    a{
      color: #404142;
      border-color: $blue;
    }
  }
}