.module_carousel{
  grid-column: 2 / span 10;
  position: relative;
  margin-bottom: 0;
  max-width: 100%;
  .swiper-container-wrapper{
    width: calc(100% + 40px);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
  }
  .swiper-container{
    margin-top: 9px;
    padding-bottom: 90px;
    overflow: visible;
  }
  .swiper-wrapper{}
  .swiper-button-prev{
    left: -68px;
    right: auto;
    background: url("../img/carousel-arrow-left.png") 0 0 no-repeat;
  }
  .swiper-button-next{
    right: -68px;
    left: auto;
    background: url("../img/carousel-arrow-right.png") 0 0 no-repeat;
  }
  .swiper-button-next,
  .swiper-button-prev
  {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    &:after{
      display: none;
    }
    &:hover, &:focus{
      outline: none;
    }
  }
  .swiper-slide{

    &:first-child{

    }
    &:last-child{

    }
  }
}
.swiper-container-wrapper{
  overflow: hidden;
  position: relative;
}


.module--heading{
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 37px;
  margin-bottom: 16px;
  padding-left: 20px;
}

.tabs_w{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.tabs{
  ul{
    display: flex;
    li{
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
      padding: 10px 3px;
      border-bottom: 3px solid transparent;
      margin-right: 27px;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        color: $blue;
      }
      &.active{

        font-weight: bold;
        border-bottom-color: $blue;
      }
    }
  }
}

.module_carousel--item{
  .pic{
    img{
      max-width: 100%;
    }
  }
  //??width: 260px !important;

}

.module-mp-media-center{
  .title{
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .desc{
    font-size: 16px;
    line-height: 24px;
    color: #404142;
  }
}


.tabs_content_wrapper{
  .tabs_content{
    display: none;
    &.active{
      display: block;
    }
  }
}


@media (min-width: 1440px) and (max-width: 1659px) {
  .module_carousel {
    grid-column: 1 / span 12;
  }
  .module--heading{
    padding-left: 0;
  }
  .tabs_w{
    padding-left: 0;
    padding-right: 0;
  }
  .module_carousel .swiper-button-prev{
    left: -19px;
  }
  .module_carousel .swiper-button-next{
    right: -19px;
  }
  .module_carousel .swiper-container-wrapper{
    width: calc(100% + 39px);
  }
  .module_carousel .swiper-container{
    padding-bottom: 50px;
  }
  .module-mp-cat-actions{
    margin-top: 128px;
  }
  .btn-wrapper.tablet, .btn-wrapper.mobile{
    display: none;
  }
}

@media (min-width: 1140px) and (max-width: 1439px) {
  .module_carousel {
    grid-column: 1 / span 8;
  }
  .module--heading{
    padding-left: 0;
  }
  .tabs_w{
    padding-left: 0;
    padding-right: 0;
  }
  .module_carousel .swiper-button-prev{
    left: -19px;
  }
  .module_carousel .swiper-button-next{
    right: -19px;
  }
  .module_carousel .swiper-container-wrapper{
    width: calc(100% + 39px);
  }
  .module_carousel .swiper-container{
    padding-bottom: 50px;
  }
  .module-mp-cat-actions{
    margin-top: 128px;
  }
  .btn-wrapper.tablet, .btn-wrapper.mobile{
    display: none;
  }
}

@media (min-width: 860px) and (max-width: 1139px) {
  .module_carousel {
    grid-column: 1 / span 6;
  }
  .module--heading{
    padding-left: 0;
  }
  .tabs_w{
    padding-left: 0;
    padding-right: 0;
  }
  .module_carousel .swiper-button-prev{
    left: -19px;
  }
  .module_carousel .swiper-button-next{
    right: -19px;
  }
  .module_carousel .swiper-container-wrapper{
    width: calc(100% + 39px);
  }
  .module_carousel .swiper-container{
    //padding-bottom: 0;
  }
  .btn-wrapper.tablet{
    display: block;
  }
  .linkmore{
    display: none;
  }
  .tabs ul li{
    margin-right: 20px;
  }
  .module_carousel .btn-wrapper{
    position: relative;
    top: -80px;
    z-index: 3;
    text-align: center;
  }
  .module-mp-media-center .module_carousel .btn-wrapper{
    top: 30px;
  }
}