//start at 120 at work
.steps_line{
  margin-top: 68px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 11px;
    right: 11px;
    top: 3px;
    border-top: 2px dashed #CDCECF;
  }
  &.step2{
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 11px;
      width: calc(50% - 11px);
      top: 3px;
      border-top: 2px solid $blue;
    }
  }
}

.step_ico{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 19px;
  color: #404142;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background-position: 0 0;
    top: -30px;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
  }
  &.si_1:before{
    left: 0;
    width: 22px;
    height: 16px;
    background-image: url('../img/order_step1.png');
  }
  &.si_2:before{
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 20px;
    background-image: url('../img/order_step2.png');
  }
  &.si_3:before{
    right: 3px;
    width: 15px;
    height: 17px;
    background-image: url('../img/order_step3.png');
  }
  &.si_1{
    padding-left: 7px;
  }
  &.si_2{
    grid-column: 4 / span 2;
    align-items: center;
  }
  &.si_3{
    grid-column: 8 / span 1;
    align-items: end;
    padding-right: 7px;
  }
  span{
    width: 8px;
    height: 8px;
    background: #CDCECF;
    border-radius: 50%;
    display: block;
    margin-bottom: 21px;
    position: relative;
  }
  &.active{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    &.si_2{
      &:before{

        width: 22px;
        height: 16px;
        background-image: url('../img/order_step1.png');
      }
    }
  }
  &.active span{
    background: $blue;
    position: relative;
    margin-bottom: 18px;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      left: -3px;
      top: -3px;
      border-radius: 50%;
      border: 1px solid $blue;
    }
  }
  &.done{
    font-weight: bold;
    &:before{
      left: 3px;
      width: 18px;
      height: 14px;
      background-image: url('../img/order_step_done.png');
    }
    span{
      background: $blue;
    }
  }
}

.order_steps_content{
  margin-top: 65px;
}
.order_steps_content_desc{
  font-size: 16px;
  line-height: 24px;
  a{
    text-decoration: underline;
    color: $blue;
  }
}
.order_steps_content_desc_cart{
  margin-top: 10px;
}

.cart{
  .row{
    width: 100%;
    min-height: 134px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0 20px;
    border-bottom: 1px solid #CDCECF;
    padding: 8px 0;
    &:hover{
      .ct_btns{
        opacity: 1;
        transition: 0.1s all;
      }
    }
    .ct_image{
      grid-column: 1 / span 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .ct_name{
      grid-column: 2 / span 3;
      font-size: 16px;
      line-height: 16px;
      color: #404142;
      padding-top: 20px;
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 25px;
      position: relative;
      .right{
        margin-left: auto;
        text-align: right;
        min-width: 100px;
        .ct_price{
          margin-top: 1px;
        }
      }
      .code{
        margin-top: 4px;
        font-size: 12px;
        line-height: 15px;
        color: #8A8B8C;
      }
      .labels{
        margin-top: 7px;
      }
      .limit_txt{
        position: absolute;
        bottom: 0;
        color: #F44436;
        font-size: 14px;
        line-height: 16px;
        opacity: 0;
        &.active{
          opacity: 1;
          transition: .2s all;
        }
      }
    }
    .ct_price{
      color: #8A8B8C;
      font-size: 12px;
      line-height: 15px;
    }
    .ct_input{
      grid-column: 5 / span 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 17px;
      .high_limit{
        input{
          color: #F44436 !important;
        }
      }
    }
    .ct_total{
      grid-column: 6 / span 1;
      text-align: right;
      font-weight: bold;
      padding-top: 18px;
      position: relative;
      span{
        font-weight: normal;
      }
    }
    .ct_btns{
      opacity: 0;
      transition: .3s all;
      position: absolute;
      bottom: 16px;
      color: #1782E9;
      font-size: 12px;
      display: flex;
      flex-wrap: nowrap;
      width: 160px;
      font-weight: normal;
      right: 0;
      justify-content: flex-end;
      a{
        margin-left: 20px;
      }
    }
  }
}

.inputNumber{
  display: flex;
  align-items: center;
  input{
    width: 32px;
    margin: 0 7px;
    text-align: center;
    border: none !important;
    font-size: 16px;
    color: #404142 !important;
    &:active, &:focus{
      outline: none !important;
    }
  }
}
.inputNumber_control{
  position: relative;
  width: 12px;
  height: 12px;
  display: block;
  &.ic_minus{
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 2px;
      background-color: #404142;
    }
    &.disabled{
      opacity: .4;
    }
  }
  &.ic_plus{
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 2px;
      background-color: #404142;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      top: 0;
      width: 2px;
      height: 12px;
      background-color: #404142;
    }
    &.disabled{
      opacity: .4;
    }
  }
}

.order_steps_content_desc_cart_footer{
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0 20px;
  .promocode_form{
    grid-column: 1 / span 2;
  }
  .cart_total_label{
    grid-column: 4 / span 2;
    justify-content: flex-end;
  }
  .cart_total_price{
    grid-column: 6 / span 1;
  }
}

.cart-footer{
  .promocode_form{
    position: relative;
    .label{
      position: absolute;
      top: -11px;
      left: 0;
      color: #404142;
      font-size: 12px;
      text-transform: none;
      line-height: 16px;
      margin: 0;
      padding: 0;
      opacity: 0;
    }
    &:hover input{
      border-bottom-color: #404142;
    }
    input{
      width: 100%;
      padding-left: 0;
      padding-right: 25px;
      height: 38px;

      &:focus{
        border-bottom-color: #1782E9;
      }
    }
    &.active{
      .clear_input{
        opacity: 1;
        transition: .2s all;
      }
      .label{
        opacity: 0.5;
        transition: .2s all;
      }
    }
    .error_msg{
      position: absolute;
      left: 0;
      bottom: -18px;
      color: #F44436;
      font-size: 14px;
      line-height: 16px;
      opacity: 0;
    }
    &.error{
      input{
        color: #F44436;
      }
      .error_msg{
        opacity: 1;
        transition: .2s all;
      }
    }
    &.success{
      input{
        color: #02A246;
        font-weight: bold;
      }
    }
  }
  .cart_total_label{
    padding-top: 3px;
    padding-right: 19px;
    font-size: 20px;
    line-height: 24px;
    color: #404142;
    text-align: right;
    .promo_ok_label{
      color: #8A8B8C;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 7px;
    }
  }
  .cart_total_price{
    text-align: right;
    height: 68px;
    .price_promo{
      color: #02A246;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 3px;
    }
    .price{
      color: #404142;
      font-weight: bold;
      font-size: 20px;
      span{
        font-size: 16px;
        line-height: 24px;
      }
    }
    .old_price{
      text-decoration: line-through;
      color: #8A8B8C;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.clear_input{
  position: absolute;
  background: url('../img/ico-clear.png') center center no-repeat;
  background-size: 10px 10px;
  width: 20px;
  height: 20px;
  right: 6px;
  top: 7px;
  opacity: 0;
  cursor: pointer;
}

.order_steps_content_desc_cart_agreement{
  margin-top: 31px;
  margin-bottom: 30px;
}

#agreement_checkbox{
  label{
    font-weight: normal;
    line-height: 20px;
    display: block;
    padding-left: 32px;
  }
  .checkbox:not(checked) + label:before{
    width: 20px;
    height: 20px;
  }
  .checkbox + label:before {
    background: url(../img/cb-big-normal.png);
  }
  .checkbox:not(checked) + label:hover:before {
    background: url(../img/cb-big-hover.png);
  }
  .checkbox:checked + label:hover:before, .checkbox:checked + label:before {
    background: url(../img/cb-big-active.png);
  }
}

.order_step2_w{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0 20px;
  .left{
    grid-column: 1 / span 4;
  }
  .right{
    grid-column: 5 / span 2;
  }
  .hint-error{
    margin-top: 15px;
  }
}

.hint-error{
  color: #F44436;
}

.cart_panel{
  margin-left: 40px;
  .title{
    margin-top: 8px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .name{
      font-size: 16px;
      line-height: 16px;
      opacity: .5;
    }
    .price{
      font-weight: bold;
    }
  }
  .total{
    .name{
      opacity: 1;
      font-size: 24px;
      line-height: 0.9;
      font-weight: bold;
    }
    .price{
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      span{
        font-size: 18px;
      }
    }
  }
  .separator{
    margin-top: 26px;
    margin-bottom: 20px;
    border-bottom: 1px solid #CDCECF;
  }
}

.niceRadio{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 20px;
  margin-bottom: 40px;
  .title{
    grid-column: 1 / span 3;
  }
  .right{
    grid-column: 4 / span 1;
    display: flex;
    justify-content: space-between;
  }
  .d_img{
    width: 80px;
    img{
      filter: grayscale(100);
    }
  }
  .d_title_name{

  }
  &.active{
    .d_img{
      img{
        filter: grayscale(0);
      }
    }
  }
}

.niceRadio .title{
  display: flex;
}