
.steps_line{
  margin-top: 68px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 11px;
    right: 11px;
    top: 3px;

    border-top: 2px dashed #CDCECF;
  }
}

.step_ico{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 19px;
  color: #404142;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background-position: 0 0;
    top: -30px;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
  }
  &.si_1:before{
    left: 0;
    width: 22px;
    height: 16px;
    background-image: url('../img/order_step1.png');
  }
  &.si_2:before{
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 20px;
    background-image: url('../img/order_step2.png');
  }
  &.si_3:before{
    right: 3px;
    width: 15px;
    height: 17px;
    background-image: url('../img/order_step3.png');
  }
  &.si_1{
    padding-left: 7px;
  }
  &.si_2{
    grid-column: 4 / span 2;
    align-items: center;
  }
  &.si_3{
    grid-column: 8 / span 1;
    align-items: end;
    padding-right: 7px;
  }
  span{
    width: 8px;
    height: 8px;
    background: #CDCECF;
    border-radius: 50%;
    display: block;
    margin-bottom: 21px;
    position: relative;
  }
  &.active{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }
  &.active span{
    background: $blue;
    position: relative;
    margin-bottom: 18px;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      left: -3px;
      top: -3px;
      border-radius: 50%;
      border: 1px solid $blue;
    }
  }
}

.order_steps_content{
  margin-top: 65px;
}
.order_steps_content_desc{
  font-size: 16px;
  line-height: 24px;
  a{
    text-decoration: underline;
    color: $blue;
  }
}
.order_steps_content_desc_cart{
  margin-top: 10px;
}

.cart{
  .row{
    width: 100%;
    height: 136px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0 20px;
    border-bottom: 1px solid #CDCECF;
    padding: 8px 0;
    &:hover{
      .ct_btns{
        opacity: 1;
        transition: 0.1s all;
      }
    }
    .ct_image{
      grid-column: 1 / span 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .ct_name{
      grid-column: 2 / span 3;
      font-size: 16px;
      line-height: 16px;
      color: #404142;
      padding-top: 20px;
      display: flex;
      flex-wrap: nowrap;
      .left{

      }
      .right{
        margin-left: auto;
        text-align: right;
        min-width: 100px;
        .ct_price{
          margin-top: 1px;
        }
      }
      .code{
        margin-top: 4px;
        font-size: 12px;
        line-height: 15px;
        color: #8A8B8C;
      }
      .labels{
        margin-top: 7px;
      }
    }
    .ct_price{
      color: #8A8B8C;
      font-size: 12px;
      line-height: 15px;
    }
    .ct_input{
      grid-column: 5 / span 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 17px;
    }
    .ct_total{
      grid-column: 6 / span 1;
      text-align: right;
      font-weight: bold;
      padding-top: 18px;
      position: relative;
      span{
        font-weight: normal;
      }
    }
    .ct_btns{
      opacity: 0;
      transition: .3s all;
      position: absolute;
      bottom: 16px;
      color: #1782E9;
      font-size: 12px;
      display: flex;
      flex-wrap: nowrap;
      width: 160px;
      font-weight: normal;
      right: 0;
      justify-content: flex-end;
      a{
        margin-left: 20px;
      }
    }
  }
}

.inputNumber{
  display: flex;
  align-items: center;
  input{
    width: 32px;
    margin: 0 7px;
    text-align: center;
    border: none !important;
    font-size: 16px;
    color: #404142 !important;
    &:active, &:focus{
      outline: none !important;
    }
  }
}
.inputNumber_control{
  position: relative;
  width: 12px;
  height: 12px;
  display: block;
  &.ic_minus{
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 2px;
      background-color: #404142;
    }
    &.disabled{
      opacity: .4;
    }
  }
  &.ic_plus{
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 2px;
      background-color: #404142;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      top: 0;
      width: 2px;
      height: 12px;
      background-color: #404142;
    }
    &.disabled{
      opacity: .4;
    }
  }
}