/*start at 92h30m at work*/
/*start at 4h00m at home*/
body.product {
  // background: url('../img/temp_prod.png') center top no-repeat;
}

.product_img {

  padding-top: 25px;
}

.product_img--image {
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.image-additional {
  position: relative;

}


#gallery {
  padding: 0 18px;

  .swiper-container {
    .swiper-slide {
      a {
        display: flex;
        width: 98px;
        height: 98px;
        padding: 3px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        img {
          border-radius: 4px;
        }
      }

      a.selected {
        border: 1px solid $blue;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 16px;
    height: 16px;
    background: url("../img/pp_slide_arr.png") 0 0 no-repeat;
  }

  .swiper-button-prev {
    top: 65%;
    left: 0;
  }

  .swiper-button-next {
    top: 65%;
    right: 0;
    transform: rotate(180deg);
  }
}

.product_desc {

  padding-left: 40px;
  padding-right: 0;
  padding-top: 33px;
}

.product_info {

  padding-left: 40px;
  padding-right: 40px;
}

.pd_new_sale {
  margin-top: 20px;
}

.pd_title {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 37px;
  margin-bottom: 7px;
}

.pd_title_code_w {
  margin-bottom: 30px;
  font-size: 14px;

  .grey {
    color: #8A8B8C;
    position: relative;
    padding-right: 26px;

    &:after {
      content: '';
      display: block;
      width: 2px;
      height: 13px;
      top: 2px;
      right: 12px;
      background: #8A8B8C;
      position: absolute;
    }
  }

  .pd_title_code {

  }
}

.product_desc .rating-star {
  height: 20px;
  width: 100px;
  background-size: contain;

  .stars {
    height: 20px;
    background-size: 100px 20px;
  }
}

.pd_review_count {
  margin-left: 10px;
  color: $blue;
  font-size: 14px;
  margin-top: 2px;

  a:hover {
    text-decoration: underline;
  }
}

.pd_specification {
  margin-top: 46px;
}

.pd_specification_title {
  color: #404142;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.pd_specification_ul {
  padding: 0;
  margin: 14px 0 0;
  list-style-type: none;

  li {
    border-bottom: 1px dotted #CDCECF;
    position: relative;
    padding: 0;
    margin-bottom: 14px;
  }

  li span {
    background-color: #FFF;
    margin: 0;
  }

  li span.text, li span.page {
    bottom: -5px;
  }

  span.text {
    position: relative;
    margin-right: 7em;
    padding-right: 2px;
    color: rgba(64, 65, 66, 0.7);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  span.page {
    position: absolute;
    right: 0;
    width: 44%;
    padding-left: 2px;
    color: #404142;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;

    a {
      color: $blue;
    }
  }
}

.pd_sizes {
  margin-top: 49px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;

  .filter--ul {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: 9px;

    li {
      a {
        font-size: inherit;
        border-radius: 4px;
        padding: 10px 20px;
        border-color: #9E9FA0;

        &:hover {
          border-color: $blue;
          background: #fff;
          color: inherit;
        }
      }

      span {
        display: block;
        text-align: center;
        opacity: 0.7;
        color: #404142;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 16px;
        padding-top: 3px;
      }

      &.active {
        a {
          background: $blue;
          border-color: $blue;
          color: #fff;
        }
      }
    }
  }
}

.pd_detailed_specification {
  margin-top: 37px;

  .title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -26px;
      top: 4px;
      background: url('../img/side-main-arr.jpg') 0 0 no-repeat;
      transform: rotate(90deg);
      width: 8px;
      height: 12px;
    }
  }
}


.product_info {
  .labels {
    margin: 10px 0 20px;
  }
}

.pi_price {
  font-size: 32px;
  font-weight: bold;

  span {
    font-size: 24px;
    font-weight: normal;
  }

  .new-price {
    color: #F44436;
  }

  .old-price {
    font-weight: normal;
    color: rgba(#404142, .5);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    text-decoration: line-through;
  }
}


.pi_stock {
  font-size: 14px;
  line-height: 20px;
  padding-top: 13px;
  align-items: center;
}

.pi_btns {
  margin-top: 32px;
  padding-bottom: 35px;
  border-bottom: 1px solid #CDCECF;
}

.pi_like_w {
  width: 64px;
  height: 48px;
}

.pi_like {
  background: url("../img/ic-heartbig-normal.svg") 0 0 no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &:hover {
    background: url("../img/ic-heartbig-focused.svg") 0 0 no-repeat;
  }

  &.active {
    background: url("../img/ic-heartbig-selected.svg") 0 0 no-repeat;
  }
}

/*Delivery block*/
.pi_delivery_block {
  margin-top: 35px;
}

.pi_deliv_item {
  margin-bottom: 25px;
}

.pid_img {
  width: 64px;
  padding-right: 15px;
}

.pid_title {
  font-size: 16px;
  font-weight: bold;
}

.pid_link {
  font-size: 14px;
  color: $blue;
}

.pid_info {
  font-size: 14px;
  color: #9E9FA0;
  margin-bottom: 4px;
}

.pid_price_h {
  margin-left: auto;
  text-align: right;
}

.pid_time {
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #02A246;
}

.pid_price {
  color: #404142;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.product_body_w {
  border-top: 1px solid #CDCECF;
  margin-top: 64px;
  padding-top: 26px;
  position: relative;
}

.product_body {
  grid-column: 2 / -2;
}

.customers_works {
  position: relative;

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: -70px;
    top: 60%;
  }

  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -70px;
    top: 60%;
  }
}

.pp_works {
  margin-top: 30px;

  .item {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }
}

.p_tabs {
  margin-top: 83px;
}

.tabs_head {
  border-bottom: 1px solid #ccc;
  margin-bottom: 43px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    li {
      font-size: 16px;
      line-height: 20px;
      margin-right: 32px;
      padding: 0 4px 13px;
      position: relative;
      cursor: pointer;

      &.active {
        font-weight: bold;

        &:after {
          background: #1782E9;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background: transparent;
      }
    }
  }
}

.tab_content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0 20px;
}

.p_desc_w {
  grid-column: 1 / span 7;

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 28px;
  }

  .spoiler_href {
    display: block;
  }

  .spoiler_desc {
    display: none;
  }
}

.pd_specification_w {
  margin-top: 46px;
  grid-column: 1 / span 6;
  grid-template-columns: repeat(6, 1fr);

  .pd_specification_ul {
    width: 86%;
  }

  .pd_specification + .pd_specification {
    margin-top: 62px;
  }
}

.pckg_list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-top: 11px;
    opacity: 0.7;
    color: #404142;
    font-size: 16px;
    line-height: 30px;
  }
}

.rev_write {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  background: $blue;
  padding: 13px 31px;
  border-radius: 4px;
  box-shadow: 0 12px 16px -8px rgba(0, 0, 0, 0.24);

  &:hover {
    color: #fff;
    background: #0E64B7;
    transition: .2s all;
  }
}

.tab_in {
  grid-column: 1 / -1;
}

.tab_content {
  h2 {
    margin: 0;
  }

  .tabs_w {
    margin-top: 20px;
    padding: 0;
  }
}

.tab_btns {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  li {
    margin-right: 10px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #9E9FA0;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 6px 20px;
    cursor: pointer;

    &.active {
      background: $blue;
      color: #fff;
      font-weight: 800;
      border-color: $blue;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.sale_ul {
  grid-column: 1 / -1;
  list-style: none;
  width: 100%;
  margin: 20px 0 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .1s all;

    &:last-child {
      margin-bottom: 0;
    }

    .desc {
      color: #797A7A;
      font-size: 15px;
      line-height: 19px;
    }

    .price {
      text-align: right;
      min-width: 25%;
      white-space: nowrap;
      font-weight: 800;
      color: #797A7A;
      margin-bottom: 16px;

      span {
        font-weight: normal;
        color: #797A7A;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
      }
    }

    .link_more {
      color: #1782E9;
      font-size: 14px;
      margin-top: 4px;
      opacity: 0;
      transition: .1s opacity;
    }

    &:hover {
      color: #404142;
      border: 1px solid #1782E9;
      transition: .1s all;
      border-radius: 4px;

      .desc {
        color: inherit;
      }

      .price {
        color: inherit;

        span {
          color: inherit;
        }
      }

      .link_more {
        opacity: 1;
        transition: .1s opacity;
      }
    }

    &.active {
      border-color: #E7F2FC;
      background: #E7F2FC;
      border-radius: 4px;
      color: #404142;

      .desc {
        color: inherit;
      }

      .price {
        font-size: 18px;
        color: inherit;

        span {
          color: inherit;
        }
      }

      .link_more {
        opacity: 1;
        transition: .1s opacity;
      }
    }

    &.hidden {
      display: none;
    }
  }
}

.show_hidden_saleitems {
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  color: $blue;
}

#popup_sale_item.fancybox-content {
  padding: 0;
  border-radius: 8px;

  .fancybox-close-small {
    right: 20px;
    top: 20px;
  }
}

#popup_sale_item {
  .pd_specification {
    margin-top: 0;
  }
}

.psi-desc {
  color: #404142;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.psi_mini_gallery {
  display: flex;

  a {
    display: flex;
    width: 102px;
    height: 102px;
    border: 1px solid #CDCECF;
    border-radius: 4px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-right: 8px;
    align-items: center;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }

    img {
      max-width: 102px;
      max-height: 102px;
    }
  }
}

.psi_btn_w {
  margin-top: 10px;
}


  .product_img{
    grid-column: span 4;
  }
  .pd_grid .labels {
    padding-top: 40px;
  }
  .product_desc{

  }

  .pi_stock{
    justify-content: flex-end;
  }

.product_desc{
  .labels, .pi_stock{
    display: none;
  }
}

.pd_title_860{
  margin-top: 20px;
  display: none;
}

.product_img--image{
  position: relative;
}
.product_img--image-btn{
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &.btn-left{
    left: 0;
    background: url("../img/carousel-arrow-left.png") 0 0 no-repeat;
  }
  &.btn-right{
    right: 0;
    background: url("../img/carousel-arrow-right.png") 0 0 no-repeat;
  }
}
.product_img--image-counter{
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(#000000,.5);
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 4px;
  padding: 4px 10px;
}

@media (min-width: 1440px) and (max-width: 1659px) {
  .product_desc {
    padding-left: 20px;
  }
  .product_info {
    padding-left: 0;
    padding-right: 0;
  }
  .product_body {
    grid-column: 1 / -1;
  }
  .customers_works .swiper-button-prev, .customers_works .swiper-container-rtl .swiper-button-next {
    left: -19px;
  }
  .customers_works .swiper-button-next, .customers_works .swiper-container-rtl .swiper-button-prev {
    right: -19px;
  }
  .pd_grid {
    grid-auto-rows: max-content max-content auto auto;
    grid-gap: 0 20px;
    grid-template-areas:
            "img img img img   desc   desc   desc       hd    hd    hd    "
            "img img img img   desc   desc   desc       price        status    status"
            "img img img img   desc   desc   desc       btn  btn  btn  "
            "img img img img   desc   desc   desc       info  info  info  ";
  }
  .test{
    grid-area: desc;
  }
 /* .pd_title{
    padding-left: 20px;
    grid-area: desc;
  }
  .pd_title_code_w{
    padding-left: 20px;
    grid-area: desc;
  }
  .rating-star-w{
    padding-left: 20px;
    grid-area: desc;
  }*/
  .pi_price_w{
    grid-area: price;
    padding-left: 0;
  }
  .product_img{
    grid-column: span 4;
    grid-area: img;
  }
  .pd_grid .labels {
    grid-area: hd;
    padding-left: 0;
    padding-top: 35px;
  }
  .product_desc{
    grid-column: span 4;
    grid-area: desc;
  }
  .product_info{
    grid-area: btn;
  }
  .pi_stock{
    grid-area: status;
    padding-right: 0;
    justify-content: flex-end;
  }
  .pi_delivery_block{
    grid-area: info;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1140px) and (max-width: 1439px) {
  .product_desc {
    padding-left: 20px;
  }
  .product_info {
    padding-left: 0;
    padding-right: 0;
  }
  .product_body {
    grid-column: 1 / -1;
  }
  .customers_works .swiper-button-prev, .customers_works .swiper-container-rtl .swiper-button-next {
    left: -19px;
  }
  .customers_works .swiper-button-next, .customers_works .swiper-container-rtl .swiper-button-prev {
    right: -19px;
  }
  .pp_works .item {
    width: 168px;
    height: 168px;
  }
  .tab_content {
    grid-template-columns: repeat(8, 1fr);
  }
  .p_desc_w {
    grid-column: 1 / span 7;
  }
  .product_desc{
    .labels{
      display: block;
    }
    .pi_stock{
      display: block;
    }
  }
  .product_info{
    .labels, .pi_stock{
      display: none;
    }
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    grid-auto-rows: max-content max-content;
    grid-template-areas:
            "price btn btn btn btn btn btn btn"
            "info info info info info info info info";
  }
  .pi_price{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .pd_title{
    margin-top: 13px;
  }
  .pi_price_w{
    grid-area: price;
  }
  .pi_btns{
    grid-area: btn;
  }
  .pi_delivery_block{
    grid-area: info;
  }
  .pd_grid {
    grid-auto-rows: max-content max-content auto auto;
    grid-template-areas:
            "img img img img   img   desc  desc desc"
            "info info info info info info info info";
  }

  .product_img{
    grid-area: img;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .image-additional{
    height: 508px;
    margin-top: 24px;
    .swiper-wrapper{
      height: 508px;
    }
  }

  .product_desc{
    padding-top: 0;
    grid-area: desc;
  }
  .product_info{
    grid-area: info;
  }
  .pi_stock{

    padding-right: 0;
    justify-content: flex-end;
    padding-top: 40px;
  }
  .pi_price_w{
    grid-area: price;
    padding-left: 0;
  }
  .pi_delivery_block{

    padding-left: 0;
    padding-right: 0;
  }
  #gallery .swiper-button-prev{
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  #gallery .swiper-button-next{
    top: auto;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
  }
  .product_img--image{
    width: 100%;
  }
  .pi_delivery_block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 19%;
  }
  .pi_deliv_item{
    grid-column: span 1;
  }

}

@media (min-width: 860px) and (max-width: 1139px) {
  .labels_min{
    display: none;
  }
  .pd_title_860{
    display: block;
  }
  .product_body_w{
    border-top: 0;
    padding-top: 0;
    margin-top: 60px;
  }
  .product_desc {
    padding-left: 20px;
    .pd_title,
    .pd_title_code_w,
    .rating-star-w
    {
      display: none;
    }
  }
  .product_info {
    padding-left: 0;
    padding-right: 0;
  }
  .product_body {
    grid-column: 1 / -1;
  }
  .customers_works .swiper-button-prev, .customers_works .swiper-container-rtl .swiper-button-next {
    display: none;
  }
  .customers_works .swiper-button-next, .customers_works .swiper-container-rtl .swiper-button-prev {
    display: none;
  }
  .customers_works{
    .swiper-slide{
      width: 140px;
    }
  }
  .p_tabs{
    margin-top: 64px;
  }
  .pp_works .item {
    width: 140px;
    height: 140px;
  }
  .tab_content {
    grid-template-columns: repeat(6, 1fr);
  }
  .p_desc_w {
    grid-column: 1 / -1;
  }

  #gallery .swiper-button-prev{
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  #gallery .swiper-button-next{
    top: auto;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
  }
  .product_img--image{
    width: 100%;
  }
  .pd_grid {
    grid-auto-rows: max-content max-content max-content auto auto;
    grid-template-areas:
            "name name name label label label"
            "rate rate rate rate code code"
            "img img img img img img"
            "desc   desc  desc desc desc desc";
  }
  .pd_wrap_860_2{
    grid-area: desc;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: max-content max-content;
    grid-template-areas:
            "price btn btn btn btn btn"
            "left left left right right right";
    .labels, .pi_stock{
      display: none !important;
    }
  }
    .pi_btns{
      grid-area: btn;
    }
  .product_desc{
    grid-area: left;
  }
  .product_info{
    grid-area: right;
  }
  .product_img{
    grid-area: img;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .image-additional{
    height: 508px;
    margin-top: 24px;
    .swiper-wrapper{
      height: 508px;
    }
  }
  .product_desc{
    padding-top: 0;
    padding-left: 0;

  }
  .pi_delivery_block{
    grid-area: info;
    padding-left: 0;
    padding-right: 0;
  }
  .pi_stock{
    grid-area: label;
    padding-right: 0;
    justify-content: flex-end;
    padding-top: 0px;
  }
  .pi_price_w{
    grid-area: price;
    align-items: center;
    padding-left: 0;
  }
  .pd_grid .labels {
    grid-area: label;
    padding-left: 20px;
    padding-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 15px;
    span{
      display: block;
      height: 15px;
    }
    .label{
      padding: 7px 5px;
    }
  }

  .pd_title{
    grid-area: name;
  }
  .pd_title_code_w{
    grid-area: code;
    margin-bottom: 0;
  }

  .rating-star-w{
    grid-area: rate;
  }
  .product_img--image{
    .pi_like_w{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@media (max-width: 859px) {
  .labels_min{
    display: none;
  }
  .pd_title_860{
    display: block;
    .pd_title,
    .rating-star-w,
    .pd_title_code_w
    {
      display: none;
    }
  }
  .product_body_w{
    border-top: 0;
    padding-top: 0;
    margin-top: 60px;
  }
  .product_desc {
    padding-left: 20px;

  }
  .product_info {
    padding-left: 0;
    padding-right: 0;
  }
  .product_body {
    grid-column: 1 / -1;
  }
  .customers_works .swiper-button-prev, .customers_works .swiper-container-rtl .swiper-button-next {
    display: none;
  }
  .customers_works .swiper-button-next, .customers_works .swiper-container-rtl .swiper-button-prev {
    display: none;
  }
  .customers_works{
    .swiper-slide{
      width: 140px;
    }
  }
  .p_tabs{
    margin-top: 64px;
  }
  .pp_works .item {
    width: 140px;
    height: 140px;
  }
  .tab_content {
    grid-template-columns: repeat(6, 1fr);
  }
  .p_desc_w {
    grid-column: 1 / -1;
  }

  #gallery .swiper-button-prev{
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  #gallery .swiper-button-next{
    top: auto;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
  }
  .product_img--image{
    width: 100%;
  }
  .pd_grid {
    grid-auto-rows: max-content max-content max-content auto auto;
    grid-template-areas:
            "name name label label"
            "rate rate rate code"
            "img img img img"
            "desc  desc  desc desc";
  }
  .pd_wrap_860_2{
    grid-area: desc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content max-content;
    grid-template-areas:
            "price btn  btn btn"
            "one one one one"
            "two two two two";
    .labels, .pi_stock{
      display: none !important;
    }
  }
  .pi_btns{
    grid-area: btn;
  }
  .product_desc{
    grid-area: one;
  }
  .product_info{
    grid-area: two;
  }
  .product_img{
    grid-area: img;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .image-additional{
    height: 508px;
    margin-top: 24px;
    .swiper-wrapper{
      height: 508px;
    }
  }
  .product_desc{
    padding-top: 0;
    padding-left: 0;

  }
  .pi_delivery_block{
    grid-area: info;
    padding-left: 0;
    padding-right: 0;
  }
  .pi_stock{
    grid-area: label;
    padding-right: 0;
    justify-content: flex-end;
    padding-top: 0px;
  }
  .pi_price_w{
    grid-area: price;
    align-items: center;
    padding-left: 0;
  }
  .pd_grid .labels {
    grid-area: label;
    padding-left: 20px;
    padding-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 15px;
    span{
      display: block;
      height: 15px;
    }
    .label{
      padding: 7px 5px;
    }
  }

  .pd_title{
    grid-area: name;
  }
  .pd_title_code_w{
    grid-area: code;
    margin-bottom: 0;
  }

  .rating-star-w{
    grid-area: rate;
  }
  .product_img--image{
    height: 344px;
    img{
      max-width: 100%;
    }
    .pi_like_w{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .pi_price{
    font-size: 24px;
  }
  .pi_price span{
    font-size: 16px;
  }

  .product_img{
    .image-additional{
      display: none;
    }
  }
  .product_img--image-btn{
    display: none;
  }
}
