.last_review_w {
  margin-top: 9px;
  grid-column: 1 / span 6;
  grid-template-columns: repeat(6, 1fr);
  h2{
    margin-bottom: 0;
  }
}

.review_tab{
  grid-column: 1 / span 6;
  grid-template-columns: repeat(6, 1fr);
  h2{
    margin: 0;
  }
  .review_item{
    margin-top: 40px;
    &+.review_item{
      margin-top: 72px;
    }
  }
}

.rev_count{
  opacity: 0.5;
  color: #404142;
  font-size: 14px;
  line-height: 24px;
}

.rev_main_rate{
  margin-top: 5px;
  .rating-star{
    width: 140px;
    height: 28px;
    background-size: 140px 28px;
    .stars{
      background-size: 140px 28px;
      height: 28px;
    }
  }
}

.rev_rate{
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 5px;
}

.review_item {
  margin-top: 26px;
}

.rev_stars_w {
  margin-top: 8px;
    .rating-star{
      width: 100px;
      height: 20px;
      background-size: 100px 20px;
      .stars{
        background-size: 100px 20px;
      }
    }
}

.rev_irecommend{
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}

.rev_desc{
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
}


.rev_posneg_w {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 14px;
}


.rev_posneg {
  grid-column: 1 / span 4;
}

.rev_pos,
.rev_neg
{
  margin-bottom: 15px;
}
.rev_pos--title,
.rev_neg--title
{
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #00A246;
  margin-bottom: 5px;
}
.rev_neg--title{
  color: #F44436;
}

.rev_pos--text,
.rev_neg--text
{
  font-size: 16px;
  line-height: 24px;
}

.rev_imgs {
  grid-column: span 2;
}

.rev_name {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.rev_date {
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #404142;
  opacity: 0.5;
}

.rev_more{
  margin-top: 27px;
  color: #1782E9;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

.rev_img{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img{
    border-radius: 3px;
    overflow: hidden;
  }
  a+a{
    margin-left: 20px;
  }
}

.rev_img_gallery_link{
  position: relative;
  span{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(#000, .6);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:  center;
  }
}

.rev_like_comment{
  margin-top: 25px;
  a{
    margin-right: 32px;
    &:last-child{
      margin-right: 0;
    }
  }
  .count{
    color: #404142;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
  }
  .title{
    margin-left: 11px;
    color: #404142;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
  }
}

.rev_comment_wall{
  grid-column: 1 / -1;
  padding-left: 73px;
  margin-top: 22px;
}

.rev_comment{
  &.hidden{
    display: none;
  }
  &+.rev_comment{
    margin-top: 16px;
  }
  &:hover{
    .cw_btn{
      transition: .2s all;
      opacity: 1;
    }
  }
  &+.rev_form{
    margin-top: -10px;
  }
}

.cw_name{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}
.cw_date{
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
  margin-left: 10px;
}
.cw_text{
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
}
.cw_btn{
  display: inline-block;
  margin-top: 10px;
  color: #1782E9;
  font-size: 14px;
  line-height: 16px;
  opacity: 0;
  cursor: pointer;
  transition: .2s all;

}
.rev_form{
  margin-bottom: 18px;
  .cw_name{
    margin-bottom: 5px;
  }
}

.cw_input{
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  line-height: 24px;
  height: 34px;
  &:focus, &:active{
    outline: none;
  }
}
.cw_input_comment{
  width: 100%;
  padding-right: 110px;
}

.cw_form{
  position: relative;
  .first_line{
    margin-bottom: 18px;
  }
}

.send_comment{
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: $blue;
  border-radius: 20px;
  padding: 7px 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: .2s all;
  &.active{
    transition: .2s all;
    opacity: 1;
    pointer-events: all;
  }
  &:hover{
    background: #0E64B7;
    transition: .2s all;
  }
}

.input_counter{
  color: #9FA0A0;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  margin-top: 4px;
}

.cw_input_name{
  margin-right: 20px;
  width: 188px;
}
.cw_input_email{
  width: 260px;
  margin-right: 20px;
}

.cw_quote{
  background: #fff;
  font-style: italic;
  font-weight: bold;
  padding-right: 10px;
  line-height: 30px;
}

.cw_login_hint{
  width: 260px;
  color: #9FA0A0;
  font-size: 14px;
  line-height: 20px;
  a{
    color: $blue;
  }
  span{
    display: block;
  }
}

.rev_form_unauth{
  margin-bottom: 19px;
  margin-top: -15px;
}

.show_hidden_comments{
  color: $blue;
  margin-top: 9px;
  display: inline-block;
}

.rev_bottom{
  border-top: 1px solid #CDCECF;
  margin-top: 48px;
  padding-top: 40px;
}

.rev_bottom--title{
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 10px;
}

.rev_comment_link{
  position: relative;
  padding-right: 20px;
  &:after{
    content: '';
    display: block;
    width: 12px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/comment_arr.jpg') 0 0 no-repeat;
    opacity: 0;
  }
  &:hover, &.active {
    &:after{
      opacity: 1;
    }
    .title{
      color: $blue;
    }
    .ico-comment {
      background: url('../img/ic-comment-active.svg') 0 0 no-repeat;
    }
  }
}

.rev_like_link{
  &:hover, &.active {
    .title{
      color: $blue;
    }
    .ico-like {
      background: url('../img/ic-like-active.svg') 0 0 no-repeat;
    }
  }
}


.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 33px;
  line-height: 20px;
  cursor: text;
  border-bottom: 1px solid #ccc;
  &:focus, &:active{
    outline: none;
  }
}

.textarea[contenteditable]:empty::before {
  color: gray;
}

#add_reivew_form_w.fancybox-content{
  padding: 0;
  border-radius: 8px;
  .fancybox-close-small{
    right: 20px;
    top: 20px;
  }
}

.review_form{
  width: 620px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 40px 40px;
  grid-gap: 20px;
  border-radius: 8px;
  form{
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    display: grid;
  }
  h3{
    grid-column: span 4;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
  }
}

.rev_form_comment{
  grid-column: 1 / -1;
}

.rev_form_pos{
  grid-column: 1 / span 2;
  .title{
    color: #00A246;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 16px;
  }
}
.rev_form_neg{
  grid-column: 3 / span 2;
  .title{
    color: #F44436;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 16px;
  }
}

.rev_form_rating{
  grid-column: 1 / -1;
  .title{
    margin-bottom: 10px;
    font-weight: 800;
  }
  .rating-star{
    width: 140px;
    height: 28px;
    background-size: 140px 28px;
    cursor: pointer;
    .stars{
      background-size: 140px 28px;
      height: 28px;
    }
  }
}

.rev_form_photoblock{
  grid-column: 1 / -1;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  display: grid;
  .title{
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: 10px;
    grid-column: 1 / -1;
  }
}

.rev_form_photo_target{
  cursor: pointer;
  width: 102px;
  min-width: 102px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CDCECF;
  border-radius: 4px;
  margin-right: 15px;
  &:hover{
    .ico-add-photo{
      background: url('../img/ic-add-photo-active.svg') 0 0 no-repeat;
    }
  }
}

.rev_form_photoblock_desc{
  .desc{
    font-size: 14px;
    line-height: 18px;
    span{
      display: block;
    }
  }
  .hint{
    color: #9FA0A0;
    font-size: 12px;
    line-height: 16px;
    span{
      display: block;
    }
  }
}

.rev_form_quest{
  width: 24px;
  height: 24px;
  background: url("../img/ic-help.svg") 0 0 no-repeat;
  position: absolute;
  right: 70px;
  top: 30px;
  cursor: pointer;
}