.heading--h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 52px;
  text-align: center;
  margin-bottom: 8px;
  span {
    display: block;
  }
  a{
    color: $blue;
  }
}

.desc--h2 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 31px;
  text-align: center;
}


.circles{
  grid-column: 2 / span 10;
  margin-top: 55px;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 20px;
}
.circle--item{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .desc{
    background: rgba(#ffffff,0.85);
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 210px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 25px 0 0 25px;
    padding-left: 16px;
    padding-right: 30px;
    text-align: left;
  }
}
.ci1{background: url("../img/circ1.jpg") 0 0 no-repeat;}
.ci2{background: url("../img/circ2.jpg") 0 0 no-repeat;}
.ci3{background: url("../img/circ3.jpg") 0 0 no-repeat;}
.ci4{background: url("../img/circ4.jpg") 0 0 no-repeat;}
.ci5{background: url("../img/circ5.jpg") 0 0 no-repeat;}
.ci6{background: url("../img/circ6.jpg") 0 0 no-repeat;}
.ci7{background: url("../img/circ7.jpg") 0 0 no-repeat;}
.ci8{background: url("../img/circ8.jpg") 0 0 no-repeat;}
.circle--item.view-more{
  background: #F4F5F6;
  align-items: center;
  .desc{
    background: transparent;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    display: block;
    height: auto;
  }
  &:hover{
    .ico-arrow{
      background: url('../img/icon-arrow-go-focus.svg') 0 0 no-repeat;
    }
  }
}

.mp-wpcs{
  margin-top: 160px;
  .wpcs--items{
    grid-column: 2 / span 10;
    justify-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
}
.wpcs--item{
  width: 20%;
  text-align: center;
  .pic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 137px;
    margin-bottom: 25px;
  }
  .heading{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6px;
    span{
      display: block;
    }
  }
  .desc{
    line-height: 23px;
  }
}

.yellow_promo{
  background: #ffcf2c;
  margin-top: 141px;
  .pic{
    grid-column: 2 / span 5;
  }
  .text{
    grid-column: 7 / span 5;
    padding-top: 99px;
    .heading{
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 32px;
      span{
        display: block;
      }
    }
    p{
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 25px;
    }
  }
  p.btn-group{
    margin-top: 32px;
    a{
      margin-right: 30px;
    }
  }
}

.trustpilot-module{
  margin-top: 158px;
  .in{
    .trustpilot-module--frame{
      grid-column: 2 / span 10;
      margin-top: 74px;
    }
  }
}


.useful-module{
  margin-top: 168px;
  .useful-module--items{
    grid-column: 2 / span 10;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    .item{
      .pic{
        margin-bottom: 24px;
        border-radius: 3px;
        overflow: hidden;
      }
      .title{
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 5px;
      }
      .desc{
        color: $base;
        font-size: 16px;
        line-height: 24px;
      }
      &:hover{
        .desc{
          color: $base;
        }
      }
    }
  }
}

.faq_block{
  margin-top: 137px;
}
.accordion{
  grid-column: 4 / span 6;
  margin-top: 40px;
}

.main-page_gallery{
  margin-top: 146px;
  .mosaic-wrapper{
    margin-top: 40px;
    grid-column: 1 / span 12;
  }
  .btn-wrapper{
    margin-top: 23px;
    grid-column: 1 / 13;
    text-align: center;
  }
}

.js-mosaic{
  img{
    border-radius: 3px;
    overflow: hidden;
  }
}

.module-mp-media-center{
  margin-top: 109px;
}
