<div class="category_sort_w">

    <div class="category_sort">
        <div class="toggle_filter_btn show">Show filter</div>
        <!--https://jqueryniceselect.hernansartorio.com/ -->
        <select>
            <option value="Najpopularniejsze" data-display="Najpierw Najpopularniejsze">Najpopularniejsze</option>
            <option value="Najtańsze" data-display="Najpierw Najtańsze">Najtańsze</option>
            <option value="Najdroższe" data-display="Najpierw Najdroższe">Najdroższe</option>
            <option value="Najnowsze" data-display="Najpierw Najnowsze">Najnowsze</option>
            <option value="Najlepiej Oceniane" data-display="Najpierw Najlepiej Oceniane">Najlepiej Oceniane</option>
        </select>
    </div>
    <div class="select_counter">
        Items:
        <ul id="select_count">
            <li data-count="3"><a href="javascript:void(0);" >3</a></li>
            <li data-count="4"><a href="javascript:void(0);" >4</a></li>
            <li data-count="5"><a class="active" href="javascript:void(0);" >5</a></li>
        </ul>
    </div>
</div>


<script>
    $('document').ready(function () {

        $('#select_count a').on('click', function () {

            $("#select_count a").removeClass("active");
            let count = $(this).parent().attr('data-count');
            $(this).addClass("active");
            let $wrapper = $(".category_content_items");
            console.log(count);
            if(count === "3"){
                $wrapper.removeClass("cci-5 cci-4 cci-3").addClass("cci-3");
            }
            if(count === "4"){
                $wrapper.removeClass("cci-5 cci-4 cci-3").addClass("cci-4");
            }
            if(count === "5"){
                $wrapper.removeClass("cci-5 cci-4 cci-3").addClass("cci-5");
            }

        });

        $(".toggle_filter_btn").on('click', function () {
            filter_status();
        });

        function filter_status() {
            let $toggleBtn = $(".toggle_filter_btn");

            if($(".category_in").hasClass("filter-opened")){
                $(".category_in").removeClass("filter-opened");
                /*$toggleBtn.removeClass("hide");
                $toggleBtn.addClass("show").html(SHOW_FILTER);*/
            } else {
                $(".category_in").addClass("filter-opened");
                /*$toggleBtn.removeClass("show");
                $toggleBtn.addClass("hide").html(HIDE_FILTER);*/
            }
        }

        function filter_status_btn() {
            let $toggleBtn = $(".toggle_filter_btn");
            if ($(".category_in").hasClass("filter-opened")) {
               /* $toggleBtn.removeClass("show");
                $toggleBtn.addClass("hide").html(HIDE_FILTER);*/
            } else {
                /*$toggleBtn.removeClass("hide");
                $toggleBtn.addClass("show").html(SHOW_FILTER);*/
            }
        }

        filter_status_btn();


    });




</script>