<div id="button_more_ajax">
    <a href="#" class="btn btn-bordered btn-arrowed">Show more <span class=""></span></a>
</div>
<div class="pagination">
    <div class="pagination_ul">
        <ul>
            <li><a class="p-prev" href="#"></a></li>
            <li class="active">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">21</a></li>
            <li><a class="p-next" href="#"></a></li>
        </ul>
    </div>
</div>