<!--<div class="filter_categories">
    <div class="heading">Category</div>
    <ul class="left_side_cat_menu">
        <li class="back"><a href="/">Main page</a></li>
        <li class="back"><a href="#">Malowanie po numerach</a></li>
        &lt;!&ndash; Вариация с последним открытом пунктом &ndash;&gt;
        <li class="active"><a href="#">Zwierzeta</a>
            <ul>
                <li><a href="#">Собачки</a></li>
                <li><a href="#">Кошечки</a></li>
                <li><a href="#">Рыбки</a></li>
            </ul>
        </li>
        &lt;!&ndash; Вариация с подпунктами открытом пунктом &ndash;&gt;
        <li class="active hasSiblings expanded"><a href="#">Birds</a>
            <ul>
                <li><a href="#">Cats</a></li>
                <li><a href="#">Dogs</a></li>
                <li class="active"><a href="#">Birds</a></li>
                <li><a href="#">Horses</a></li>
            </ul>
        </li>
    </ul>
</div>-->
<div class="filter_categories">
    <div class="heading">Category</div>
    <ul class="left_side_cat_menu">
        <li class="back"><a href="http://test.ipicasso.pl/malowanie-po-numerach/">2Malowanie po numerach</a>
            <ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
                <ul>
                    <ul></ul>
                </ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
                <li class="back"><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/">2Zwierzęta</a>
                    <ul>
                        <li class="active hasSiblings expanded"><a
                                href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/inne-zwierzeta/">1Inne
                            zwierzęta</a>
                            <ul style="">
                                <li class="active"><a
                                        href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/inne-zwierzeta/">6Inne
                                    zwierzęta</a></li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/jelenie/">6Jelenie</a>
                                </li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/jeze/">6Jeże </a>
                                </li>
                                <li class=""><a
                                        href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/kolorowanki-antystresowe-konie/">6Konie</a>
                                </li>
                                <li class=""><a
                                        href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/kolorowanki-antystresowe-koty/">6Koty</a>
                                </li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/lisy/">6Lisy</a>
                                </li>
                                <li class=""><a
                                        href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/lwy-tygrysy/">6Lwy
                                    i tygrysy</a></li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/malpy/">6Małpy</a>
                                </li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/motyle/">6Motyle</a>
                                </li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/pandy/">6Pandy</a>
                                </li>
                                <li class=""><a
                                        href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/kolorowanki-antystresowe-psy/">6Psy</a>
                                </li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/ptaki/">6Ptaki</a>
                                </li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/szopy/">6Szopy</a>
                                </li>
                                <li class=""><a
                                        href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/teczowe-zwierzeta/">6Tęczowe
                                    zwierzęta</a></li>
                                <li class=""><a href="http://test.ipicasso.pl/malowanie-po-numerach/zwierzeta/wilki/">6Wilki </a>
                                </li>
                            </ul>
                        </li>
                        <ul></ul>
                    </ul>
                </li>
                <ul></ul>
            </ul>
        </li>
    </ul>
</div>
<script>
    $('document').ready(function () {
        $(".left_side_cat_menu li.hasSiblings>a").on('click', function (e) {
            e.preventDefault();
            if ($(this).parent().hasClass("expanded")) {
                $(this).parent().find("ul").slideUp('fast');
                $(this).parent().removeClass("expanded").addClass("collapsed");
            } else {
                $(this).parent().find("ul").slideDown('fast');
                $(this).parent().removeClass("collapsed").addClass("expanded");
            }
        });
    });
</script>