<div class="in" id="grid">
    <div class="mod_subcats">
        <div class="swiper-container-wrapper">
            <div class="swiper-container">

                <div class="minicats-flex-wrap swiper-wrapper">
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                            <span class="name"><span>Hedgehogs</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden hasChild">
                        <div class="submenu">
                            <ul>
                                <li><a href="#">Попугаи</a></li>
                                <li><a href="#">Собачки</a></li>
                                <li><a href="#">Лошадки</a></li>
                                <li><a href="#">Коровки</a></li>
                                <li><a href="#">Енотики</a></li>
                                <li class="last"><a href="#">view all</a></li>
                            </ul>
                        </div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_03_big.jpg" data-src="/img/temp/temp3_03.jpg"
                                                   data-src-big="/img/temp/temp3_03_big.jpg" alt="raccoons"/></span>
                            <span class="name"><span>Raccoons</span></span>
                        </a>

                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                            <span class="name"><span>Deers</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Other animals</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden hasChild">
                        <div class="submenu">
                            <ul>
                                <li><a href="#">Попугаи</a></li>
                                <li><a href="#">Собачки</a></li>
                                <li><a href="#">Лошадки</a></li>
                                <li><a href="#">Коровки</a></li>
                                <li><a href="#">Енотики</a></li>
                                <li class="last"><a href="#">view all</a></li>
                            </ul>
                        </div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Lions, tigers, other</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Pandas</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18_big.jpg"
                                                                   data-src="/img/temp/temp3_18.jpg"
                                                                   data-src-big="/img/temp/temp3_18_big.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Cats</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Birds</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Pandas</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Lions, tigers, other</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Birds</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                            <span class="name"><span>Hedgehogs</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                            <span class="name"><span>Raccoons</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                            <span class="name"><span>Deers</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Other animals</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Lions, tigers, other</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Pandas</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Cats</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Birds</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Pandas</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Cats</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Birds</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                            <span class="name"><span>Hedgehogs</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden hasChild">
                        <div class="submenu">
                            <ul>
                                <li><a href="#">Попугаи</a></li>
                                <li><a href="#">Собачки</a></li>
                                <li><a href="#">Лошадки</a></li>
                                <li><a href="#">Коровки</a></li>
                                <li><a href="#">Енотики</a></li>
                                <li class="last"><a href="#">view all</a></li>
                            </ul>
                        </div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                            <span class="name"><span>Raccoons</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                            <span class="name"><span>Deers</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Other animals</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Lions, tigers, other</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Pandas</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Cats</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Birds</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Pandas</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden">
                        <div class="submenu"></div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Cats</span></span>
                        </a>
                    </div>
                    <div class="minicat hidden hasChild">
                        <div class="submenu">
                            <ul>
                                <li><a href="#">Попугаи</a></li>
                                <li><a href="#">Собачки</a></li>
                                <li><a href="#">Лошадки</a></li>
                                <li><a href="#">Коровки</a></li>
                                <li><a href="#">Енотики</a></li>
                                <li class="last"><a href="#">view all</a></li>
                            </ul>
                        </div>
                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                            <span class="name"><span>Birds</span></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('document').ready(function () {

        let currentPageColumns = getGridData().gridColumnCount;
        let countMinicats = $(".mod_subcats .minicat").length; //общее кол-во плиток
       

        $(".mod_subcats .minicat").hover(function () {

            let containerHeight;

            containerHeight = $(".mod_subcats").height();


            let nameHeight = $(this).find(".name").height();
            let imgHeight = $(this).find("img").height();
            let myFullHeight = $(this).find(".submenu").height() + imgHeight + nameHeight;
            let myOffset = $(this).position().top + myFullHeight;
            let myOffset2 = $(this).position().top + $(this).height() - 40;

            let sub = myOffset - containerHeight;

            let screenWidth = $(window).width();

            if (screenWidth > 859) {
                if (myOffset2 < containerHeight) {
                    $(this).addClass("hover");
                    $(this).find(".submenu").css({"paddingTop": nameHeight + 130});

                    if (myOffset > containerHeight) {
                        $(this).find(".submenu").css({"top": sub * (-1) - 8 + 30});
                        $(this).find(">a").css("top", sub * (-1) + 40);
                    }
                }
            }

        }, function () {
            $(this).find(".submenu, >a").removeAttr("style");
            $(this).removeClass("hover");
        });


        function getGridData() {
            // calc computed style
            const gridComputedStyle = window.getComputedStyle(grid);

            return {
                // get number of grid rows
                gridRowCount: gridComputedStyle.getPropertyValue("grid-template-rows").split(" ").length,
                // get number of grid columns
                gridColumnCount: gridComputedStyle.getPropertyValue("grid-template-columns").split(" ").length,
                // get grid row sizes
                gridRowSizes: gridComputedStyle.getPropertyValue("grid-template-rows").split(" ").map(parseFloat),
                // get grid column sizes
                gridColumnSizes: gridComputedStyle.getPropertyValue("grid-template-columns").split(" ").map(parseFloat)
            }
        }


        const modSubcatsLoadHiResImg = function () {
            $(".mod_subcats .minicats-flex-wrap .minicat").each(function () {
                let $pic = $(this).find('.pic');
                let $img = $pic.find('img');
                let datasrcbig = $img.attr('data-src-big');
                let datasrc = $img.attr('data-src');
                if (datasrc != undefined) {
                    $pic.attr("style", "background-image: url(" + datasrcbig + ");");
                    $img.attr('src', datasrc);
                }
            });
        };

        modSubcatsLoadHiResImg();

        const showMoreStart = function () {
            let pageColumns = getGridData().gridColumnCount - 1;
            currentPageColumns = getGridData().gridColumnCount;
            for (let i = 0; i < countMinicats; i++) {
                if (i >= pageColumns) {
                    $(".mod_subcats .minicat").eq(i).addClass('hidden');
                } else {
                    $(".mod_subcats .minicat").eq(i).removeClass('hidden');
                }
            }


            if (countMinicats <= pageColumns) {

            } else {
                if ($(".show_more").length == 0) {
                    $(".mod_subcats .minicat").eq(pageColumns - 1).after("<div class=\"show_more\">" + TEXT_MORE + " <span></span></div>");
                }
            }
        };

        showMoreStart();

        const showMoreCalc = function () {

            let pageColumns = getGridData().gridColumnCount - 1;
            //console.log("PageCol " + (pageColumns+1) + "___" + "currentPageCol " + currentPageColumns + "___ItemsCount " + countMinicats);
            if (pageColumns !== currentPageColumns) {
                if (!($(".mod_subcats").hasClass('full'))) {
                    $(".show_more").remove();
                    for (let i = 0; i < countMinicats; i++) {
                        if (i >= pageColumns) {
                            $(".mod_subcats .minicat").eq(i).addClass('hidden');
                        } else {
                            $(".mod_subcats .minicat").eq(i).removeClass('hidden');
                        }
                    }

                    if (countMinicats < (pageColumns + 1)) {
                        $(".show_more").remove();
                        $(".show_less").remove();
                    } else {
                        $(".show_less").remove();
                        if ($(".show_more").length == 0) {
                            $(".mod_subcats .minicat").eq(pageColumns - 1).after("<div class=\"show_more\">" + TEXT_MORE + "<span></span></div>");
                        }
                    }

                    currentPageColumns = getGridData().gridColumnCount;
                } else {
                    if (countMinicats < (pageColumns + 1)) {
                        $(".show_more").remove();
                        $(".show_less").remove();
                    } else {
                        $(".show_more").remove();
                        if ($(".show_less").length == 0) {
                            $(".mod_subcats .minicat").eq(pageColumns - 1).after("<div class=\"show_less\">" + TEXT_LESS + "<span></span></div>");
                        }
                    }

                    currentPageColumns = getGridData().gridColumnCount;
                }
            }
            console.log(pageColumns);
        };


        $("body").on('click', '.show_more', function () {
            $(this).remove();
            $(".mod_subcats").addClass('full');
            $(".mod_subcats .minicats-flex-wrap").append("<div class=\"show_less\">" + TEXT_LESS + "<span></span></div>");
            for (let i = 0; i < countMinicats; i++) {
                $(".mod_subcats .minicat").eq(i).removeClass('hidden');
            }
        });

        $("body").on('click', '.show_less', function () {
            $('html, body').animate({
                scrollTop: 0
            }, 100, function () {
                $(".show_less").remove();
                $(".mod_subcats").removeClass('full');
                let pageColumns = getGridData().gridColumnCount - 1;
                if ($(".show_more").length == 0) {
                    $(".mod_subcats .minicat").eq(pageColumns - 1).after("<div class=\"show_more\">" + TEXT_MORE + "<span></span></div>");
                }
                for (let i = 0; i < countMinicats; i++) {
                    if (i >= pageColumns) {
                        $(".mod_subcats .minicat").eq(i).addClass('hidden');
                    } else {
                        $(".mod_subcats .minicat").eq(i).removeClass('hidden');
                    }
                }
                currentPageColumns = getGridData().gridColumnCount;
            });

        });


        /**/
        let SubcatsSwiper = undefined;

        function initSubcatSwiper() {

            let screenWidth = $(window).width();

            if (screenWidth < 860 && SubcatsSwiper == undefined) {

                $(".show_more").remove();
                $(".show_less").remove();
                for (let i = 0; i < countMinicats; i++) {
                    $(".mod_subcats .minicat").eq(i).removeClass('hidden');
                }
                SubcatsSwiper = new Swiper('.mod_subcats .swiper-container', {
                    slidesPerView: 'auto',
                    spaceBetween: 20,
                    //slidesOffsetAfter: 10,
                    slideClass: 'minicat',
                    //slideToClickedSlide: true,
                    watchOverflow: true,
                    navigation: {
                        nextEl: '.cm-level-1 .swiper-button-next',
                        prevEl: '.cm-level-1 .swiper-button-prev',
                    },
                });


            } else if (screenWidth > 859 && SubcatsSwiper != undefined) {
                if (SubcatsSwiper != undefined) {
                    SubcatsSwiper.destroy();
                    SubcatsSwiper = undefined;
                }

                showMoreCalc();

                $('.mod_subcats .swiper-wrapper').removeAttr('style');
                $('.mod_subcats .swiper-container .swiper-slide').removeAttr('style');

            }

        }

        //Swiper plugin initialization
        initSubcatSwiper();

        //Swiper plugin initialization on window resize
        $(window).on('resize', function () {
            let screenWidth = $(window).width();
            initSubcatSwiper();

            if (screenWidth > 859) {
                showMoreCalc();
            }
        });
        /**/


        //window.addEventListener("resize", showMoreCalc);
    })
</script>
