<div class="in" id="grid">
    <div class="mod_subcats">
        <div class="minicats-flex-wrap">
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                    <span class="name"><span>Hedgehogs</span></span>
                </a>
            </div>
            <div class="minicat hasChild">
                <div class="submenu">
                    <ul>
                        <li><a href="#">Попугаи</a></li>
                        <li><a href="#">Собачки</a></li>
                        <li><a href="#">Лошадки</a></li>
                        <li><a href="#">Коровки</a></li>
                        <li><a href="#">Енотики</a></li>
                        <li class="last"><a href="#">view all</a></li>
                    </ul>
                </div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_03_big.jpg" data-src="/img/temp/temp3_03.jpg" data-src-big="/img/temp/temp3_03_big.jpg" alt="raccoons"/></span>
                    <span class="name"><span>Raccoons</span></span>
                </a>

            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                    <span class="name"><span>Deers</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Other animals</span></span>
                </a>
            </div>
            <div class="minicat hasChild">
                <div class="submenu">
                    <ul>
                        <li><a href="#">Попугаи</a></li>
                        <li><a href="#">Собачки</a></li>
                        <li><a href="#">Лошадки</a></li>
                        <li><a href="#">Коровки</a></li>
                        <li><a href="#">Енотики</a></li>
                        <li class="last"><a href="#">view all</a></li>
                    </ul>
                </div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Lions, tigers, other</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Pandas</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18_big.jpg" data-src="/img/temp/temp3_18.jpg" data-src-big="/img/temp/temp3_18_big.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Cats</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Birds</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Pandas</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Lions, tigers, other</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Birds</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                    <span class="name"><span>Hedgehogs</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                    <span class="name"><span>Raccoons</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                    <span class="name"><span>Deers</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Other animals</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Lions, tigers, other</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Pandas</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Cats</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Birds</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Pandas</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Cats</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Birds</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                    <span class="name"><span>Hedgehogs</span></span>
                </a>
            </div>
            <div class="minicat hasChild">
                <div class="submenu"> <ul>
                    <li><a href="#">Попугаи</a></li>
                    <li><a href="#">Собачки</a></li>
                    <li><a href="#">Лошадки</a></li>
                    <li><a href="#">Коровки</a></li>
                    <li><a href="#">Енотики</a></li>
                    <li class="last"><a href="#">view all</a></li>
                </ul></div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                    <span class="name"><span>Raccoons</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                    <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                    <span class="name"><span>Deers</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Other animals</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Lions, tigers, other</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Pandas</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Cats</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Birds</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Pandas</span></span>
                </a>
            </div>
            <div class="minicat">
                <div class="submenu"></div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Cats</span></span>
                </a>
            </div>
            <div class="minicat hasChild">
                <div class="submenu">
                    <ul>
                        <li><a href="#">Попугаи</a></li>
                        <li><a href="#">Собачки</a></li>
                        <li><a href="#">Лошадки</a></li>
                        <li><a href="#">Коровки</a></li>
                        <li><a href="#">Енотики</a></li>
                        <li class="last"><a href="#">view all</a></li>
                    </ul>
                </div>
                <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                    <span class="name"><span>Birds</span></span>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $('document').ready(function () {

        function getGridData () {
            // calc computed style
            const gridComputedStyle = window.getComputedStyle(grid);

            return {
                // get number of grid rows
                gridRowCount: gridComputedStyle.getPropertyValue("grid-template-rows").split(" ").length,
                // get number of grid columns
                gridColumnCount: gridComputedStyle.getPropertyValue("grid-template-columns").split(" ").length,
                // get grid row sizes
                gridRowSizes: gridComputedStyle.getPropertyValue("grid-template-rows").split(" ").map(parseFloat),
                // get grid column sizes
                gridColumnSizes: gridComputedStyle.getPropertyValue("grid-template-columns").split(" ").map(parseFloat)
            }
        }

        let currentPageColumns = getGridData().gridColumnCount;



        const modSubcatsLoadHiResImg = function(){
            $(".mod_subcats .minicats-flex-wrap .minicat").each(function () {
                let $pic = $(this).find('.pic');
                let $img = $pic.find('img');
                let datasrcbig = $img.attr('data-src-big');
                let datasrc = $img.attr('data-src');
                if(datasrc != undefined){
                    $pic.attr("style","background: url("+datasrcbig+") no-repeat center;");
                    $img.attr('src', datasrc);
                }
            });
        };

        modSubcatsLoadHiResImg();

        const showMoreStart = function () {
            let countMinicats = $(".mod_subcats .minicat").length; //общее кол-во плиток
            let pageColumns = getGridData().gridColumnCount - 1;
            currentPageColumns = getGridData().gridColumnCount;
            for (let i=0;  i < countMinicats; i++){
                if(i>=pageColumns){
                    $(".mod_subcats .minicat").eq(i).addClass('hidden');
                } else {
                    $(".mod_subcats .minicat").eq(i).removeClass('hidden');
                }
            }


            if(countMinicats <= pageColumns){
                console.log('sdasds');
            } else {
                if($(".show_more").length == 0){
                    $(".mod_subcats .minicat").eq(pageColumns-1).after("<div class=\"show_more\">Show more</div>");
                }
            }
        };

        showMoreStart();

        const showMoreCalc = function() {
            let countMinicats = $(".mod_subcats .minicat").length; //общее кол-во плиток
            let pageColumns = getGridData().gridColumnCount - 1;
            if(pageColumns !== currentPageColumns){
                $(".show_more").remove();
                for (let i=0;  i < countMinicats; i++){
                    if(i>=pageColumns){
                        $(".mod_subcats .minicat").eq(i).addClass('hidden');
                    } else {
                        $(".mod_subcats .minicat").eq(i).removeClass('hidden');
                    }
                }
                currentPageColumns = getGridData().gridColumnCount;
                if(countMinicats < pageColumns){

                } else {
                    if($(".show_more").length == 0){
                        $(".mod_subcats .minicat").eq(pageColumns-1).after("<div class=\"show_more\">Show more</div>");
                    }
                }
            }
            console.log(pageColumns);
        };


        window.addEventListener("resize", showMoreCalc);

    })
</script>
