<div class="module-mp-media-center">
    <div class="in">
        <div class="module_carousel">
            <div class="module--heading">Media Center</div>
            <div class="tabs_w">
                <div class="tabs" data-swiper="mySwiper3" data-array="media">
                    <div class="swiper-container-wrapper">
                        <div class="swiper-container">
                            <ul class="ul swiper-wrapper">
                                <li class="cm--item active" data-slug="all">All</li>
                                <li class="cm--item" data-slug="artykuly-i-recenzje">Artykuły i recenzje</li>
                                <li class="cm--item" data-slug="aktualnosci">Aktualności</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="linkmore">
                    <a href="#">All Media Center</a>
                </div>
            </div>
            <!-- swiper -->
            <div class="tabs_content_wrapper" data-tabcid="3">
                <div class="tabs_content active">
                    <div class="swiper-container-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">


                            </div>
                            <div class="btn-wrapper mobile tablet">
                                <a class="btn btn-bordered btn-arrowed" href="#">
                                    Open All <span class="arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev swiper-button-disabled"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    let media_default_slides_array = [];
    let mySwiper3;
    media_default_slides_array = [
        {
            slug: 'artykuly-i-recenzje',
            html: ' <div class="swiper-slide module_carousel--item">\n' +
                '                                    <div class="pic">\n' +
                '                                        <a href="#"><img alt="" src="/img/mediacenter/1.jpg"></a>\n' +
                '                                    </div>\n' +
                '                                    <div class="d_f jc_sb">\n' +
                '        <div class="blogtilecat">Artykuły</div>\n' +
                '        <div class="blogtiledate">14.02.2023</div>\n' +
                '    </div><div class="title">Malowanie po numerach: dla kogo i po co są stwozone</div>\n' +
                '                                    <div class="desc">Dzieci, ich rodzice, babcie, dziadkowie – wszyscy, kto ma siłę\n' +
                '                                        trzymać w rękach\n' +
                '                                        pędzel!\n' +
                '                                    </div>\n' +
                '                                </div>'
        },
        {
            slug: 'artykuly-i-recenzje',
            html: ' <div class="swiper-slide module_carousel--item">\n' +
                '                                    <div class="pic">\n' +
                '                                        <a href="#"><img alt="" src="/img/mediacenter/2.jpg" /></a>\n' +
                '                                    </div>\n' +
                '                                    <div class="d_f jc_sb">\n' +
                '        <div class="blogtilecat">Artykuły</div>\n' +
                '        <div class="blogtiledate">14.02.2023</div>\n' +
                '    </div><div class="title">Instrukcja montażu 3D origami PAPERRAZ</div>\n' +
                '                                    <div class="desc">Dla kogo i dlaczego są stworzone obrazy po numerach? Spróbujemy\n' +
                '                                        wyjaśnić.\n' +
                '                                    </div>\n' +
                '                                </div>'
        },
        {
            slug: 'artykuly-i-recenzje',
            html: '  <div class="swiper-slide module_carousel--item">\n' +
                '                                    <div class="pic">\n' +
                '                                        <a href="#"><img alt="" src="/img/mediacenter/1.jpg" /></a>\n' +
                '                                    </div>\n' +
                '                                    <div class="d_f jc_sb">\n' +
                '        <div class="blogtilecat">Artykuły</div>\n' +
                '        <div class="blogtiledate">14.02.2023</div>\n' +
                '    </div><div class="title">Malowanie po numerach: dla kogo i po co są stwozone</div>\n' +
                '                                    <div class="desc">Dzieci, ich rodzice, babcie, dziadkowie – wszyscy, kto ma siłę\n' +
                '                                        trzymać w rękach\n' +
                '                                        pędzel!\n' +
                '                                    </div>\n' +
                '                                </div>'
        },
        {
            slug: 'artykuly-i-recenzje',
            html: ' <div class="swiper-slide module_carousel--item">\n' +
                '                                    <div class="pic">\n' +
                '                                        <a href="#"><img alt="" src="/img/mediacenter/3.jpg" /></a></div>\n' +
                '                                    <div class="d_f jc_sb">\n' +
                '        <div class="blogtilecat">Artykuły</div>\n' +
                '        <div class="blogtiledate">14.02.2023</div>\n' +
                '    </div><div class="title">Korzyści z malowania dla dzieci</div>\n' +
                '                                    <div class="desc">Malowanie stanowi dla dzieci istotną umiejętność, której trudno\n' +
                '                                        nie docenić.\n' +
                '                                    </div>\n' +
                '                                </div>'
        },
        {
            slug: 'artykuly-i-recenzje',
            html: '  <div class="swiper-slide module_carousel--item">\n' +
                '                                    <div class="pic">\n' +
                '                                        <a href="#"><img alt="" src="/img/mediacenter/1.jpg"></a>\n' +
                '                                    </div>\n' +
                '                                    <div class="d_f jc_sb">\n' +
                '        <div class="blogtilecat">Artykuły</div>\n' +
                '        <div class="blogtiledate">14.02.2023</div>\n' +
                '    </div><div class="title">Malowanie po numerach: dla kogo i po co są stwozone</div>\n' +
                '                                    <div class="desc">Dzieci, ich rodzice, babcie, dziadkowie – wszyscy, kto ma siłę\n' +
                '                                        trzymać w rękach\n' +
                '                                        pędzel!\n' +
                '                                    </div>\n' +
                '                                </div>'
        },
        {
            slug: 'aktualnosci', //aktualnosci
            html: '  <div class="swiper-slide module_carousel--item">\n' +
                '                                    <div class="pic">\n' +
                '                                        <a href="#"><img alt="" src="/img/mediacenter/1.jpg"></a>\n' +
                '                                    </div>\n' +
                '                                    <div class="d_f jc_sb">\n' +
                '        <div class="blogtilecat">Artykuły</div>\n' +
                '        <div class="blogtiledate">14.02.2023</div>\n' +
                '    </div><div class="title">Malowanie po numerach: dla kogo i po co są stwozone</div>\n' +
                '                                    <div class="desc">Dzieci, ich rodzice, babcie, dziadkowie – wszyscy, kto ma siłę\n' +
                '                                        trzymać w rękach\n' +
                '                                        pędzel!\n' +
                '                                    </div>\n' +
                '                                </div>'
        },
    ]

    $(document).ready(function () {
        const media_all_slides_array = []; //все слайды карусельки с акциями

        /*карусель для модуля медиацентр на главной*/
        if (media_default_slides_array.length > 0) {
            for (const [i, arr] of media_default_slides_array.entries()) {
                media_all_slides_array.push(arr['html'])
            }
        }
        mySwiper3 = new Swiper('.module-mp-media-center .tabs_content .swiper-container', {
            slidesPerView: 3,
            spaceBetween: 21,
            navigation: {
                nextEl: '.module-mp-media-center .tabs_content .swiper-button-next',
                prevEl: '.module-mp-media-center .tabs_content .swiper-button-prev',
            },
            breakpoints: {
                320: {
                    slidesPerView: 2,
                    spaceBetween: 8
                },
                // when window width is >= 860px
                860: {
                    slidesPerView: 3,
                    spaceBetween: 21
                },
            }
        });
        mySwiper3.appendSlide(media_all_slides_array);


        let carousel_media_menu = undefined;

        function initCarouselMediaMenu() {
            var screenWidth = $(window).width();
            if (screenWidth < 860 && carousel_media_menu == undefined) {
                carousel_media_menu = new Swiper('.module-mp-media-center .tabs .swiper-container', {
                    slidesPerView: 'auto',
                    slidesOffsetAfter: 10,
                    spaceBetween: 20,
                    slideToClickedSlide: true,
                    slideClass: 'cm--item',
                    /* navigation: {
                         nextEl: '.module-mp-cat-news .tabs .swiper-button-next',
                         prevEl: '.module-mp-cat-news .tabs .swiper-button-prev',
                     },*/
                });
            } else if (screenWidth > 859 && carousel_media_menu != undefined) {
                carousel_media_menu.destroy();
                carousel_media_menu = undefined;
                jQuery('.module-mp-media-center .tabs .swiper-wrapper').removeAttr('style');
                jQuery('.module-mp-media-center .tabs .swiper-slide').removeAttr('style');
            }
        }


        initCarouselMediaMenu();


        $(window).on('resize', function () {
            initCarouselMediaMenu();
        });

    })

</script>