<div class="module-mp-cat-news">
    <div class="in">
        <div class="module_carousel">
            <div class="module--heading">Nowości katalogu</div>
            <div class="tabs_w">
                <div class="tabs" data-tabid="1" data-swiper="mySwiper">
                    <ul class="ul">
                        <li class="active">All</li>
                        <li>Malowanie po numerach</li>
                        <li>Ramy do obrazow</li>
                        <li>Diamentowa Mozaika</li>
                        <li>Papercraft 3D modele</li>
                        <li>Gobeliny</li>
                    </ul>
                </div>
                <div class="linkmore">
                    <a href="#">All News</a>
                </div>
            </div>
            <!-- swiper -->
            <div class="tabs_content_wrapper" data-tabcid="1">
                <div class="tabs_content active">
                    <div class="swiper-container-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide module_carousel--item card">
                                    <div class="shover"></div>
                                    <div class="pic">
                                        <img alt="" src="/img/00000004813-460x347.jpg">
                                    </div>
                                    <div class="price_w">
                                        <div class="price">80.00 <span>zł</span></div>
                                        <div class="cart_btn_w">
                                            <div class="cart_btn__like tooltipstered hint like" onclick="addToWishList('2965',this);"></div>
                                            <div class="cart_btn__incart hasItems">
                                                <div class="notify">1</div>
                                                <a class="cart_btn__hover">В корзину</a>
                                                <div class="add_delete_w">
                                                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                                                    <input type="text" data-onchange="changeProductQuantity" name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1" />
                                                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                                                </div>
                                            </div>
                                            <div class="cart_notifyme active"></div>
                                        </div>
                                    </div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-1"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">2</a>
                                        <a class="pics" href="#">2</a>
                                    </div>
                                    <div class="additions">
                                        <div class="sizes">
                                            <ul class="filter--ul">
                                                <li><a href="#">30x30<span class="filter--li_count">5</span></a></li>
                                                <li><a href="#">30x40<span class="filter--li_count">47</span></a></li>
                                                <li><a href="#">30x50<span class="filter--li_count">7</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="colors">18 colors</div>
                                    </div>
                                </div>

                                <div class="swiper-slide module_carousel--item card">
                                    <div class="shover"></div>
                                    <div class="pic">
                                        <img alt="" src="/img/00000005503-460x347.jpg">
                                    </div>
                                    <div class="price_w">
                                        <div class="price">80.00 <span>zł</span></div>
                                        <div class="cart_btn_w">
                                            <div class="cart_btn__like tooltipstered hint like" onclick="addToWishList('2965',this);"></div>
                                            <div class="cart_btn__incart">
                                                <div class="notify notify--empty">+</div>
                                                <a onclick="" class="cart_btn__hover">В корзину</a>
                                                <div class="add_delete_w">
                                                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity"></a>
                                                    <input type="text" data-onchange="changeProductQuantity" name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1" />
                                                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity"></a>
                                                </div>
                                            </div>
                                            <div class="cart_notifyme active"></div>
                                        </div>
                                    </div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zachód słońca nad polem
                                        lawendy Zachód słońca
                                    </div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-2"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">12</a>
                                        <a class="pics" href="#">52</a>
                                    </div>
                                    <div class="additions">
                                        <div class="sizes">
                                            <ul class="filter--ul">
                                                <li><a href="#">30x30<span class="filter--li_count">5</span></a></li>
                                                <li><a href="#">30x40<span class="filter--li_count">47</span></a></li>
                                                <li><a href="#">30x50<span class="filter--li_count">7</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="colors">18 colors</div>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item card">
                                    <div class="shover"></div>
                                    <div class="pic">
                                        <img alt="" src="/img/00000005508-460x347.jpg"></div>
                                    <div class="price_w">
                                        <div class="price">80.00 <span>zł</span></div>
                                        <div class="cart_btn_w">
                                            <div class="cart_btn__like tooltipstered hint like" onclick="addToWishList('2965',this);"></div>
                                            <div class="cart_notifyme active"></div>
                                        </div>
                                    </div>
                                    <div class="labels"><span class="label label--soon">coming soon</span> from 31.05.2020</div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-4"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">12</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="shover"></div>
                                    <div class="pic">
                                        <img alt="" src="/img/00000005510-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-5"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">16</a>
                                        <a class="pics" href="#">65</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="shover"></div>
                                    <div class="pic">
                                        <img alt="" src="/img/00000005503-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-2"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">122</a>
                                        <a class="pics" href="#">4332</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="shover"></div>
                                    <div class="pic"><img alt="" src="/img/00000004813-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-1"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">12</a>
                                        <a class="pics" href="#">21</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="shover"></div>
                                    <div class="pic"><img alt="" src="/img/00000005510-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-5"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">2</a>
                                        <a class="pics" href="#">2</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of swiper -->
                    </div>
                </div>
                <div class="tabs_content">
                    <div class="swiper-container-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide module_carousel--item">
                                    <div class="pic">
                                        <img alt="" src="/img/00000005503-460x347.jpg">
                                    </div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zachód słońca nad polem
                                        lawendy Zachód słońca
                                    </div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-2"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">12</a>
                                        <a class="pics" href="#">52</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="pic">
                                        <img alt="" src="/img/00000005508-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--soon">coming soon</span> from 31.05.2020</div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-4"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">12</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="pic">
                                        <img alt="" src="/img/00000005510-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-5"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">16</a>
                                        <a class="pics" href="#">65</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="pic">
                                        <img alt="" src="/img/00000005503-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-2"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">122</a>
                                        <a class="pics" href="#">4332</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="pic"><img alt="" src="/img/00000004813-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-1"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">12</a>
                                        <a class="pics" href="#">21</a>
                                    </div>
                                </div>
                                <div class="swiper-slide module_carousel--item">
                                    <div class="pic"><img alt="" src="/img/00000005510-460x347.jpg"></div>
                                    <div class="price">80.00 <span>zł</span></div>
                                    <div class="labels"><span class="label label--new">new</span></div>
                                    <div class="cat">Paint by numbers</div>
                                    <div class="name">Zwierciadło duszy</div>
                                    <div class="attrs">
                                        <div class="rating">
                                            <div class="rating-star">
                                                <div class="stars star-5"></div>
                                            </div>
                                        </div>
                                        <a class="comments" href="#">2</a>
                                        <a class="pics" href="#">2</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of swiper -->
                    </div>
                </div>
            </div>
            <!-- Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev swiper-button-disabled"></div>

        </div> <!-- module carousel -->
    </div>
</div>