<div class="module-mp-media-center">
    <div class="in">
        <div class="module_carousel">
            <div class="module--heading">Media Center</div>
            <div class="tabs_w">
                <div class="tabs" data-tabid="3" data-swiper="mySwiper3">
                    <ul class="ul">
                        <li class="active">All</li>
                        <li>Artykuły i recenzje</li>
                        <li>Aktualności</li>
                    </ul>
                </div>
                <div class="linkmore">
                    <a href="#">All Media Center</a>
                </div>
            </div>
            <!-- swiper -->
            <div class="tabs_content_wrapper" data-tabcid="3">
                <div class="tabs_content active">
                    <div class="swiper-container-wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide module_carousel--item">
                            <div class="pic">
                                <img alt="" src="/img/mediacenter/1.jpg">
                            </div>
                            <div class="title">Malowanie po numerach: dla kogo i po co są stwozone</div>
                            <div class="desc">Dzieci, ich rodzice, babcie, dziadkowie – wszyscy, kto ma siłę trzymać w rękach
                                pędzel!
                            </div>
                        </div>
                        <div class="swiper-slide module_carousel--item">
                            <div class="pic">
                                <img alt="" src="/img/mediacenter/2.jpg">
                            </div>
                            <div class="title">Instrukcja montażu 3D origami PAPERRAZ</div>
                            <div class="desc">Dla kogo i dlaczego są stworzone obrazy po numerach? Spróbujemy wyjaśnić.</div>
                        </div>
                        <div class="swiper-slide module_carousel--item">
                            <div class="pic">
                                <img alt="" src="/img/mediacenter/3.jpg"></div>
                            <div class="title">Korzyści z malowania dla dzieci</div>
                            <div class="desc">Malowanie stanowi dla dzieci istotną umiejętność, której trudno nie docenić.</div>
                        </div>
                        <div class="swiper-slide module_carousel--item">
                            <div class="pic">
                                <img alt="" src="/img/mediacenter/1.jpg">
                            </div>
                            <div class="title">Malowanie po numerach: dla kogo i po co są stwozone</div>
                            <div class="desc">Dzieci, ich rodzice, babcie, dziadkowie – wszyscy, kto ma siłę trzymać w rękach
                                pędzel!
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end of swiper -->
            </div>
                </div>
                <div class="tabs_content">
                    <div class="swiper-container-wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide module_carousel--item">
                            <div class="pic">
                                <img alt="" src="/img/mediacenter/2.jpg">
                            </div>
                            <div class="title">Instrukcja montażu 3D origami PAPERRAZ</div>
                            <div class="desc">Dla kogo i dlaczego są stworzone obrazy po numerach? Spróbujemy wyjaśnić.</div>
                        </div>
                        <div class="swiper-slide module_carousel--item">
                            <div class="pic">
                                <img alt="" src="/img/mediacenter/1.jpg">
                            </div>
                            <div class="title">Malowanie po numerach: dla kogo i po co są stwozone</div>
                            <div class="desc">Dzieci, ich rodzice, babcie, dziadkowie – wszyscy, kto ma siłę trzymać w rękach
                                pędzel!
                            </div>
                        </div>
                        <div class="swiper-slide module_carousel--item">
                            <div class="pic">
                                <img alt="" src="/img/mediacenter/3.jpg"></div>
                            <div class="title">Korzyści z malowania dla dzieci</div>
                            <div class="desc">Malowanie stanowi dla dzieci istotną umiejętność, której trudno nie docenić.</div>
                        </div>
                        <div class="swiper-slide module_carousel--item">
                            <div class="pic">
                                <img alt="" src="/img/mediacenter/1.jpg">
                            </div>
                            <div class="title">Malowanie po numerach: dla kogo i po co są stwozone</div>
                            <div class="desc">Dzieci, ich rodzice, babcie, dziadkowie – wszyscy, kto ma siłę trzymać w rękach
                                pędzel!
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end of swiper -->
            </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>