<div class="main-page-collections">

    <div class="heading--h2">
        Top 8 stunning
        <span>paint by numbers collections</span>
    </div>
    <div class="desc--h2">
        Huge paint by numbers selection from our most popular collections
    </div>

    <div class="in">
        <div class="circles">
            <a class="circle--item ci1" href="#">
                <div class="desc">Images of people</div>
            </a>
            <a class="circle--item ci2" href="#">
                <div class="desc">Raccoons</div>
            </a>
            <a class="circle--item ci3" href="#">
                <div class="desc">Two lines text for
                    example
                </div>
            </a>
            <a class="circle--item ci4" href="#">
                <div class="desc">Deers</div>
            </a>
            <a class="circle--item ci5" href="#">
                <div class="desc">Birds</div>
            </a>
            <a class="circle--item ci6" href="#">
                <div class="desc">Flowers</div>
            </a>
            <a class="circle--item ci7" href="#">
                <div class="desc">Cars</div>
            </a>
            <a class="circle--item ci8" href="#">
                <div class="desc">People and Animals</div>
            </a>
            <a class="circle--item view-more" href="#">
                <div class="desc">View<br>All Collections<br><span class="ico-arrow"></span></div>
            </a>
        </div>
    </div>
</div>