<!-- FOOTER -->
<div class="footer" id="footer">
    <div class="line1">
        <div class="inner">
            <div class="col col1">
                <div class="title"><a class="arrow-white" href="#">iPicasso.co.uk</a></div>
                <ul class="ul">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our Advantages</a></li>
                    <li><a href="#">Discount program</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                </ul>
            </div>
            <div class="col col2">
                <div class="title"><a class="arrow-white" href="#">Help center</a></div>
                <ul class="ul">
                    <li><a href="#">How to order</a></li>
                    <li><a href="#">Methods of payment</a></li>
                    <li><a href="#">Shipping rates</a></li>
                    <li><a href="#">Complains and returns</a></li>
                </ul>
            </div>
            <div class="col col3">
                <div class="title"><a class="arrow-white" href="#">Contact us</a></div>
                <ul class="ul">
                    <li><a class="ico-tel" href="tel:+442039663576">+44 20 3966 3576</a></li>
                    <li><a class="ico-mail" href="mailto:ipicasso.co.uk@gmail.com">ipicasso.co.uk@gmail.com</a></li>
                    <li class="ico-clock">Mon-Fr: 9.00-17.00</li>
                </ul>
            </div>
            <div class="col col4">
                <div class="title">Follow us</div>
                <ul class="ul social">
                    <li><a class="ico-ig" href="#"></a></li>
                    <li><a class="ico-fb" href="#"></a></li>
                    <li><a class="ico-yt" href="#"></a></li>
                </ul>
                <a class="switcher" href="#">Мобильная версия</a>
            </div>
        </div>
    </div>
    <div class="line2">
        <div class="inner">
            <div class="col col1">
                <b>FREE</b> shipping
                <span>on orders</span>
                <span>from <b>£ 50</b></span>
            </div>
            <div class="col col2">
                Copyright © 2012-2020
                <span>Online store IPICASSO.CO.UK.</span>
                <span>Painting by numbers – get</span>
                <span>closer to the world of art!</span>
            </div>
            <div class="col col3">
                IPICASSO Co., Ltd
                <span>str.Kineskopowa 1B, office 127</span>
                <span>05-550 Piaseczno, Poland</span>
                <span>VAT PL1231355620</span>
            </div>
            <div class="col col4">
                <img alt="" src="/img/payments.jpg">
            </div>
        </div>
    </div>

</div>
<!-- end of FOOTER -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="/libs/tooltipster.bundle.min.css">

<script src="/js/vendor/zeynep.js"></script>
<script src="/js/vendor/jquery.accordion.js"></script>
<script src="/js/vendor/mosaic.js"></script>
<script src="/js/vendor/scrollbar.min.js"></script>
<script src="/js/vendor/tooltipster.bundle.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/my.js"></script>