<div class="body_overlay"></div>
<!-- start of header -->
<header class="header" id="header">
    <div class="in"> <!-- .in внутренний контейнер с grid -->
        <div class="burger">
            <a class="burger--btn" href="javascript:void(0);">Menu</a>
        </div>
        <div class="logo-wrapper">
            <a class="logo" href="/"></a>
        </div>
        <div class="sign-block">
            <div class="greetings">Hello</div>
            <div class="sign-line">
                <a class="ico-user" href="/login">Sign in</a>
            </div>
        </div>
        <div class="header--cart_block">
            <div class="cart_block--price ico-cart">
                00.00<span> zł</span>
            </div>
        </div>
        <div class="mobile_search_block">
            <a href="#" class="ico-search"></a>
        </div>
    </div>
</header>
<!-- end of header -->