<div class="body_overlay"></div>
<!-- start of header -->
<header class="header" id="header">
    <div class="in"> <!-- .in внутренний контейнер с grid -->
        <div class="burger">
            <a class="burger--btn" href="javascript:void(0);">Menu</a>
        </div>
        <div class="logo-wrapper">
            <a class="logo" href="/"></a>
        </div>
        <div class="sign-block">
            <div class="greetings">Hello</div>
            <div class="sign-line">
                <a class="ico-user" href="/login">Sign in</a>
            </div>
        </div>
        <div class="header--cart_block">
            <div class="cart_block--discount label label--discount">-10%</div>
            <div class="cart_block--notifier">3</div>
            <div class="cart_block--price ico-cart">
                00.00<span> zł</span>
            </div>
           <!-- <div id="minicart" style="display:none;">
                <div class="mc_table">
                    <div class="mc_table_row">
                        <div class="mc_img">
                            <img src="https://ipicasso.pl/image/cache/data/goods/00000005913-126x100.jpg" alt="Gobelin w ramie 100cm*72cm" title="Gobelin w ramie 100cm*72cm">
                        </div>
                        <div class="mc_title_w">
                            <div class="mc_title">Zachód słońca nad polem lawendy
                                (HB4700212)</div>
                            <div class="mc_price"><b>79.00</b> zł <span>x2</span></div>
                        </div>
                        <div class="mc_total_price">
                            <b>79.00</b> zł
                        </div>
                        <div class="mc_del">
                            <a href="javascript:;" class="ico ico-close"></a>
                        </div>
                    </div>
                    <div class="mc_table_row">
                        <div class="mc_img">
                            <img src="https://ipicasso.pl/image/cache/data/goods/00000005913-126x100.jpg" alt="Zwierciadło duszy" title="Zwierciadło duszy">
                        </div>
                        <div class="mc_title_w">
                            <div class="mc_title">Zwierciadło duszy (HB4700212)</div>
                            <div class="mc_price"><b>79.00</b> zł <span>x1</span></div>
                        </div>
                        <div class="mc_total_price">
                            <b>79.00</b> zł
                        </div>
                        <div class="mc_del">
                            <a href="javascript:;" class="ico ico-close"></a>
                        </div>
                    </div>
                    <div class="mc_table_row">
                        <div class="mc_img">
                            <img src="https://ipicasso.pl/image/cache/data/goods/00000005913-126x100.jpg" alt="Kobieta-wąż" title="Kobieta-wąż">
                        </div>
                        <div class="mc_title_w">
                            <div class="mc_title">Zwierciadło duszy (HB4700212)</div>
                            <div class="mc_price"><b>79.00</b> zł <span>x1</span></div>
                        </div>
                        <div class="mc_total_price">
                            <b>79.00</b> zł
                        </div>
                        <div class="mc_del">
                            <a href="javascript:;" class="ico ico-close"></a>
                        </div>
                    </div>
                </div>
            </div>-->
            <div id="minicart" style="display:none;">
                <div class="mc_table cart_panel">
                    <div class="mc_table_row">
                        <div class="mc_img">
                            <img src="/img/temp/order_done1.jpg" alt="Gobelin w ramie 100cm*72cm" title="Gobelin w ramie 100cm*72cm">
                        </div>
                        <div class="mc_title_w">
                            <a href="https://ipicasso.pl/diamentowa-mozaika/ne-zadano-5pd4050058">Zwierciadło duszy</a>
                            <div class="code">PC5065062</div>
                            <div class="labels"><span class="label label--discount">-10%</span></div>
                        </div>
                        <div class="mc_count_w">
                            <div class="h100 | inputNumber">
                                <a href="javascript:;" class="inputNumber_control ic_minus" data-onclick="decreaseProductQuantity"></a>
                                <input class="inputCountTarget" type="text" data-onchange="changeProductQuantity"  name="" value="1" size="1"/>
                                <a href="javascript:;" class="inputNumber_control ic_plus" data-onclick="increaseProductQuantity"></a>
                            </div>
                            <div class="price-per-one">79.00 zł /шт.</div>
                        </div>
                        <div class="mc_total_price">
                            <b>79.00</b> zł
                        </div>
                        <div class="del_w">Удалить</div>
                    </div>
                    <div class="mc_table_row">
                        <div class="mc_img">
                            <img src="/img/temp/order_done2.jpg" alt="Gobelin w ramie 100cm*72cm" title="Gobelin w ramie 100cm*72cm">
                        </div>
                        <div class="mc_title_w">
                            <a href="https://ipicasso.pl/diamentowa-mozaika/ne-zadano-5pd4050058">Zachód słońca nad polem as bin słońca nad polem as llllawendy…</a>
                            <div class="code">PC5065062</div>
                        </div>
                        <div class="mc_count_w">
                            <div class="h100 | inputNumber">
                                <a href="javascript:;" class="inputNumber_control ic_minus" data-onclick="decreaseProductQuantity"></a>
                                <input class="inputCountTarget" type="text" data-onchange="changeProductQuantity"  name="" value="2" size="1"/>
                                <a href="javascript:;" class="inputNumber_control ic_plus" data-onclick="increaseProductQuantity"></a>
                            </div>
                            <div class="price-per-one">79.00 zł /шт.</div>
                        </div>
                        <div class="mc_total_price">
                            <b>79.00</b> zł
                        </div>

                    </div>
                    <div class="mc_table_row">
                        <div class="mc_img">
                            <img src="https://ipicasso.pl/image/cache/data/goods/00000005913-126x100.jpg" alt="Gobelin w ramie 100cm*72cm" title="Gobelin w ramie 100cm*72cm">
                        </div>
                        <div class="mc_title_w">
                            <a href="https://ipicasso.pl/diamentowa-mozaika/ne-zadano-5pd4050058">Zwierciadło duszy</a>
                            <div class="code">PC5065062</div>
                        </div>
                        <div class="mc_count_w">
                            <div class="h100 | inputNumber">
                                <a href="javascript:;" class="inputNumber_control ic_minus" data-onclick="decreaseProductQuantity"></a>
                                <input class="inputCountTarget" type="text" data-onchange="changeProductQuantity"  name="" value="1" size="1"/>
                                <a href="javascript:;" class="inputNumber_control ic_plus" data-onclick="increaseProductQuantity"></a>
                            </div>
                            <div class="price-per-one">79.00 zł /шт.</div>
                        </div>
                        <div class="mc_total_price">
                            <b>79.00</b> zł
                            <div class="price price--old">99.00 zt</div>
                        </div>

                    </div>
                    <div class="separator"></div>
                    <div class="limit_txt"><sup>*</sup>Для оптового заказа свяжитесь с менеджером</div>
                    <div class="d_f ai_c | row total">
                        <div class="name">Cart total: <span class="count">3</span> <span class="items">item(s)</span></div>
                        <div class="d_f ai_end fd_c | price">
                            <div>278.00 <span>zt</span></div>
                            <div class="price price--old">278.00 <span>zt</span></div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-big">view cart and checkout</a>
                </div>
            </div>
        </div>
        <div class="mobile_search_block">
            <a href="#" class="ico-search"></a>
        </div>
    </div>
</header>
<!-- end of header -->

