
<!-- main page gallery -->
<div class="main-page_gallery">
    <div class="heading--h2">
        Create. Share. Get Inspired! <a href="#">#iPicasso.pl</a>
    </div>
    <div class="desc--h2">
        Podziel się pozytywną energią i zainspiruj innych na twórczość
    </div>
    <div class="in">
        <div class="mosaic-wrapper">
            <div class="js-mosaic">
                <img alt="" height="259" src="/img/mosaaic/1.jpg" width="205"/>
                <img alt="" height="259" src="/img/mosaaic/2.jpg" width="312"/>
                <img alt="" height="259" src="/img/mosaaic/3.jpg" width="340"/>
                <img alt="" height="259" src="/img/mosaaic/4.jpg" width="312"/>
                <img alt="" height="259" src="/img/mosaaic/5.jpg" width="398"/>
                <img alt="" height="258" src="/img/mosaaic/6.jpg" width="185"/>
                <img alt="" height="258" src="/img/mosaaic/7.jpg" width="321"/>
                <img alt="" height="258" src="/img/mosaaic/8.jpg" width="210"/>
                <img alt="" height="259" src="/img/mosaaic/9.jpg" width="259"/>
                <img alt="" height="258" src="/img/mosaaic/10.jpg" width="344"/>
                <img alt="" height="259" src="/img/mosaaic/11.jpg" width="224"/>
            </div>
        </div>
        <div class="btn-wrapper">
            <a class="btn btn-bordered btn-arrowed" href="#">
                View All Finished Paintings <span class="arrow"></span>
            </a>
        </div>
    </div>
</div>
<!-- end of main page gallery -->
