<!-- +++ Mega menu -->
<!--https://projects.invisionapp.com/d/main#/console/19430358/427078763/preview-->

<div id="megamenu--id1" class="megamenu">
    <div class="megamenu-inner">
        <div class="col--left">
            <div class="j-megamenu-scrollbar-wrapper">
                <div class="scrollbar-inner">
                    <div class="megamenu--catalog">
                        <ul>
                            <li class="viewall-margin"><a href="#" class="sidemenu--viewall">All Paints by numbers <span
                                    class="arrow"></span></a></li>
                            <li class="has-submenu" data-id="101"><a href="javascript:void(0);">Images of people</a>
                            </li>
                            <li class="has-submenu" data-id="102"><a href="javascript:void(0);">Animals</a></li>
                            <li data-id="103"><a href="javascript:void(0);">Abstraction</a></li>
                            <li data-id="104"><a href="javascript:void(0);">Still life</a></li>
                            <li class="has-submenu" data-id="105"><a href="javascript:void(0);">Landscapes two or more
                                text
                                lines example</a></li>
                            <li class="has-submenu" data-id="106"><a href="javascript:void(0);">Religion</a></li>
                            <li data-id="107"><a href="javascript:void(0);">Romance</a></li>
                            <li class="has-submenu" data-id="108"><a href="javascript:void(0);">Cities and
                                Countries</a></li>
                            <li class="has-submenu" data-id="109"><a href="javascript:void(0);">Set for kids</a>
                            </li>
                            <li class="has-submenu" data-id="110"><a href="javascript:void(0);">Flowers</a></li>
                            <li data-id="111"><a href="javascript:void(0);">Transport</a></li>
                            <li data-id="112"><a href="javascript:void(0);">Hidden item</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col--right">

            <!-- Стиль 1 -->
            <div class="megamenu--type1" data-itemId="101" style="display: none;">
                <div class="col--right-grid">
                    <div class="col--filter">
                        <div class="col--heading">Rozmiar obrazu</div>
                        <div class="mm--filter">
                            <div class="filter--heading">Obrazy pojedyncze</div>
                            <ul class="filter--ul">
                                <li><a href="#">30x30<span class="filter--li_count">5</span></a></li>
                                <li><a href="#">30x40<span class="filter--li_count">47</span></a></li>
                                <li><a href="#">30x50<span class="filter--li_count">7</span></a></li>
                                <li><a href="#">40x40<span class="filter--li_count">9</span></a></li>
                                <li><a href="#">40x50<span class="filter--li_count">391</span></a></li>
                                <li><a href="#">50x60<span class="filter--li_count">53</span></a></li>
                            </ul>
                        </div>
                        <div class="mm--filter">
                            <div class="filter--heading">Obrazy modutowe</div>
                            <ul class="filter--ul">
                                <li><a href="#">40x150<span class="filter--li_count">1</span></a></li>
                                <li><a href="#">50x120<span class="filter--li_count">3</span></a></li>
                                <li><a href="#">50x150<span class="filter--li_count">3</span></a></li>
                            </ul>
                        </div>
                        <div class="col--heading">Trudnosct</div>
                        <div class="mm--filter"></div>
                    </div>
                    <div class="col--popular">
                        <div class="col--heading">Popular category</div>
                        <div class="mm--popular">
                            <ul>
                                <li><a href="#">
                                            <span class="pic"><img src="/img/temp/mm1.jpg"
                                                                   alt="Images of people"/></span>
                                    <span class="name">Images of people <span class="arrow"></span></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="pic"><img src="/img/temp/mm2.jpg" alt="Raccoon"/></span>
                                    <span class="name">Raccoons <span class="arrow"></span></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="pic"><img src="/img/temp/mm3.jpg" alt="Cars"/></span>
                                    <span class="name">Cars <span class="arrow"></span></span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li class="blue"><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>
            <!-- Стиль 2 -->
            <div class="megamenu--type2" data-itemId="102">

                <div class="col--right-grid">
                    <div class="j-megamenu-scrollbar-wrapper">
                        <div class="scrollbar-inner">
                            <div class="col--minis">
                                <div class="col--minis-link">
                                    <a href="#">All images of people<span class="arrow"></span></a>
                                </div>
                                <div class="minicats-flex-wrap">
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                                            <span class="name"><span>Hedgehogs</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu">
                                            <ul>
                                                <li><a href="#">Попугаи</a></li>
                                                <li><a href="#">Собачки</a></li>
                                                <li><a href="#">Лошадки</a></li>
                                                <li><a href="#">Коровки</a></li>
                                                <li><a href="#">Енотики</a></li>
                                                <li class="last"><a href="#">view all</a></li>
                                            </ul>
                                        </div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                                            <span class="name"><span>Raccoons</span></span>
                                        </a>

                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                                            <span class="name"><span>Deers</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Other animals</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu">
                                            <ul>
                                                <li><a href="#">Попугаи</a></li>
                                                <li><a href="#">Собачки</a></li>
                                                <li><a href="#">Лошадки</a></li>
                                                <li><a href="#">Коровки</a></li>
                                                <li><a href="#">Енотики</a></li>
                                                <li class="last"><a href="#">view all</a></li>
                                            </ul>
                                        </div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>


                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                                            <span class="name"><span>Hedgehogs</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                                            <span class="name"><span>Raccoons</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                                            <span class="name"><span>Deers</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Other animals</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                                            <span class="name"><span>Hedgehogs</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu"> <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                            <li><a href="#">Коровки</a></li>
                                            <li><a href="#">Енотики</a></li>
                                            <li class="last"><a href="#">view all</a></li>
                                        </ul></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                                            <span class="name"><span>Raccoons</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                                            <span class="name"><span>Deers</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Other animals</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu">
                                            <ul>
                                                <li><a href="#">Попугаи</a></li>
                                                <li><a href="#">Собачки</a></li>
                                                <li><a href="#">Лошадки</a></li>
                                                <li><a href="#">Коровки</a></li>
                                                <li><a href="#">Енотики</a></li>
                                                <li class="last"><a href="#">view all</a></li>
                                            </ul>
                                        </div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li class="blue"><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --- Mega menu -->