<!-- +++ Mega menu -->
<!--https://projects.invisionapp.com/d/main#/console/19430358/427078763/preview-->

<div id="megamenu--id1" class="megamenu">
    <div class="megamenu-inner">
        <div class="col--left">
            <div class="j-megamenu-scrollbar-wrapper">
                <div class="scrollbar-inner">
                    <div class="megamenu--catalog">
                        <ul>
                            <li class="viewall-margin"><a href="#" class="sidemenu--viewall">All paints by numbers <span class="arrow"></span></a></li>
                            <li class="has-submenu" data-id="101"><a href="javascript:void(0);">Images of people</a>
                            </li>
                            <li class="has-submenu" data-id="102"><a href="javascript:void(0);">Animals</a></li>
                            <li data-id="103"><a href="javascript:void(0);">Abstraction</a></li>
                            <li data-id="104"><a href="javascript:void(0);">Still life</a></li>
                            <li class="has-submenu" data-id="105"><a href="javascript:void(0);">Landscapes two or more text
                                lines example</a></li>
                            <li class="has-submenu" data-id="106"><a href="javascript:void(0);">Religion</a></li>
                            <li data-id="107"><a href="javascript:void(0);">Romance</a></li>
                            <li class="has-submenu" data-id="108"><a href="javascript:void(0);">Cities and
                                Countries</a></li>
                            <li class="has-submenu" data-id="109"><a href="javascript:void(0);">Set for kids</a>
                            </li>
                            <li class="has-submenu" data-id="110"><a href="javascript:void(0);">Flowers</a></li>
                            <li data-id="111"><a href="javascript:void(0);">Transport</a></li>
                            <li data-id="112"><a href="javascript:void(0);">Hidden item</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col--right">
            <div class="j-megamenu-scrollbar-wrapper">
                <div class="scrollbar-inner">
                    <div class="megamenu--type1" data-itemId="101">
                        rewer

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --- Mega menu -->