<!-- +++ Mega menu -->
<!--https://projects.invisionapp.com/d/main#/console/19430358/427078763/preview-->

<div id="megamenu--id1" class="megamenu" data-id="100">
    <div class="megamenu-inner"> <!-- no-left-col -->
        <div class="col--left">
            <div class="j-megamenu-scrollbar-wrapper">
                <div class="scrollbar-inner">
                    <div class="megamenu--catalog">
                        <ul> <!-- Если у подкатегории нет детей, то data-id сделай 100, тогда показываем базовый экран
                        в правой части. Если дети есть, то в вот в этом блоке ниже дай data-id уникальный, а для mm-popup
                        data-itemId СООТВЕТСТВУЮЩИЙ
                         -->
                            <li class="viewall-margin" data-id="100"><a href="/all_paints" class="sidemenu--viewall">All Paints by numbers <span
                                    class="arrow"></span></a></li>
                            <li class="has-submenu" data-id="101"><a href="javascript:void(0);">Images of people</a>
                            </li>
                            <li class="has-submenu" data-id="102"><a href="javascript:void(0);">Animals</a></li>
                            <li data-id="100"><a href="javascript:void(0);">Abstraction</a></li>
                            <li data-id="100"><a href="javascript:void(0);">Still life</a></li>
                            <li class="has-submenu" data-id="105"><a href="javascript:void(0);">Landscapes two or more
                                text
                                lines example</a></li>
                            <li class="has-submenu" data-id="106"><a href="javascript:void(0);">Religion</a></li>
                            <li data-id="100"><a href="javascript:void(0);">Romance</a></li>
                            <li class="has-submenu" data-id="108"><a href="javascript:void(0);">Cities and
                                Countries</a></li>
                            <li class="has-submenu" data-id="109"><a href="javascript:void(0);">Set for kids</a>
                            </li>
                            <li class="has-submenu" data-id="110"><a href="javascript:void(0);">Flowers</a></li>
                            <li data-id="100"><a href="javascript:void(0);">Transport</a></li>
                            <li data-id="100"><a href="javascript:void(0);">Hidden item</a></li>
                            <li data-id="100"><a href="javascript:void(0);">Hidden item 2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col--right">
            <!-- Стиль 1 -->
            <div class="megamenu--type1 mm-popup active" data-itemId="100">
                <div class="col--right-grid">
                    <div class="col--filter">
                        <div class="col--heading">Rozmiar obrazu</div>
                        <div class="mm--filter">
                            <div class="filter--heading">Obrazy pojedyncze</div>
                            <ul class="filter--ul">
                                <li><a href="#">30x30<span class="filter--li_count">5</span></a></li>
                                <li><a href="#">30x40<span class="filter--li_count">47</span></a></li>
                                <li><a href="#">30x50<span class="filter--li_count">7</span></a></li>
                                <li><a href="#">40x40<span class="filter--li_count">9</span></a></li>
                                <li><a href="#">40x50<span class="filter--li_count">391</span></a></li>
                                <li><a href="#">50x60<span class="filter--li_count">53</span></a></li>
                            </ul>
                        </div>
                        <div class="mm--filter">
                            <div class="filter--heading">Obrazy modutowe</div>
                            <ul class="filter--ul">
                                <li><a href="#">40x150<span class="filter--li_count">1</span></a></li>
                                <li><a href="#">50x120<span class="filter--li_count">3</span></a></li>
                                <li><a href="#">50x150<span class="filter--li_count">3</span></a></li>
                            </ul>
                        </div>
                        <div class="col--heading">Trudnosct</div>
                        <div class="mm--filter"></div>
                    </div>
                    <div class="col--popular">
                        <div class="col--heading">Popular category</div>
                        <div class="mm--popular">
                            <ul>
                                <li><a href="#">
                                            <span class="pic"><img src="/img/temp/mm1.jpg"
                                                                   alt="Images of people"/></span>
                                    <span class="name">Images of people <span class="arrow"></span></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="pic"><img src="/img/temp/mm2.jpg" alt="Raccoon"/></span>
                                    <span class="name">Raccoons <span class="arrow"></span></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="pic"><img src="/img/temp/mm3.jpg" alt="Cars"/></span>
                                    <span class="name">Cars <span class="arrow"></span></span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>
            <!-- Стиль 2 -->
            <div class="megamenu--type2 mm-popup" data-itemId="101" >
                <div class="col--right-grid">
                    <div class="j-megamenu-scrollbar-wrapper">
                        <div class="scrollbar-inner">
                            <div class="col--minis">
                                <div class="col--minis-link">
                                    <a href="#">All images of people<span class="arrow"></span></a>
                                </div>
                                <div class="col--sales_mobile">
                                    <ul>
                                        <li class="red"><a href="#">Sales</a></li>
                                        <li><a href="#">New arrivals</a></li>
                                        <li><a href="#">Coming soon</a></li>
                                    </ul>
                                </div>

                                <div class="minicats-flex-wrap">
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                                            <span class="name"><span>Hedgehogs</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu">
                                            <ul>
                                                <li><a href="#">Попугаи</a></li>
                                                <li><a href="#">Собачки</a></li>
                                                <li><a href="#">Лошадки</a></li>
                                                <li><a href="#">Коровки</a></li>
                                                <li><a href="#">Енотики</a></li>
                                                <li class="last"><a href="#">view all</a></li>
                                            </ul>
                                        </div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_03_big.jpg" data-src="/img/temp/temp3_03.jpg" data-src-big="/img/temp/temp3_03_big.jpg" alt="raccoons"/></span>
                                            <span class="name"><span>Raccoons</span></span>
                                        </a>

                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                                            <span class="name"><span>Deers</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Other animals</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu">
                                            <ul>
                                                <li><a href="#">Попугаи</a></li>
                                                <li><a href="#">Собачки</a></li>
                                                <li><a href="#">Лошадки</a></li>
                                                <li><a href="#">Коровки</a></li>
                                                <li><a href="#">Енотики</a></li>
                                                <li class="last"><a href="#">view all</a></li>
                                            </ul>
                                        </div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18_big.jpg" data-src="/img/temp/temp3_18.jpg" data-src-big="/img/temp/temp3_18_big.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>


                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                                            <span class="name"><span>Hedgehogs</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                                            <span class="name"><span>Raccoons</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                                            <span class="name"><span>Deers</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Other animals</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                                            <span class="name"><span>Hedgehogs</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu"> <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                            <li><a href="#">Коровки</a></li>
                                            <li><a href="#">Енотики</a></li>
                                            <li class="last"><a href="#">view all</a></li>
                                        </ul></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                                            <span class="name"><span>Raccoons</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                                            <span class="name"><span>Deers</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Other animals</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu">
                                            <ul>
                                                <li><a href="#">Попугаи</a></li>
                                                <li><a href="#">Собачки</a></li>
                                                <li><a href="#">Лошадки</a></li>
                                                <li><a href="#">Коровки</a></li>
                                                <li><a href="#">Енотики</a></li>
                                                <li class="last"><a href="#">view all</a></li>
                                            </ul>
                                        </div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>
            <div class="megamenu--type2 mm-popup" data-itemId="102" >
                <div class="col--right-grid">
                    <div class="j-megamenu-scrollbar-wrapper">
                        <div class="scrollbar-inner">
                            <div class="col--minis">
                                <div class="col--minis-link">
                                    <a href="#">All animals<span class="arrow"></span></a>
                                </div>
                                <div class="minicats-flex-wrap">
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                                            <span class="name"><span>Hedgehogs</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu">
                                            <ul>
                                                <li><a href="#">Попугаи</a></li>
                                                <li><a href="#">Собачки</a></li>
                                                <li><a href="#">Лошадки</a></li>
                                                <li><a href="#">Коровки</a></li>
                                                <li><a href="#">Енотики</a></li>
                                                <li class="last"><a href="#">view all</a></li>
                                            </ul>
                                        </div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                                            <span class="name"><span>Raccoons</span></span>
                                        </a>

                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_10.jpg" alt="hedgehogs"/></span>
                                            <span class="name"><span>Hedgehogs</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu"> <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                            <li><a href="#">Коровки</a></li>
                                            <li><a href="#">Енотики</a></li>
                                            <li class="last"><a href="#">view all</a></li>
                                        </ul></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_03.jpg" alt="raccoons"/></span>
                                            <span class="name"><span>Raccoons</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_05.jpg" alt="deers"/></span>
                                            <span class="name"><span>Deers</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_13.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Other animals</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_15.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Lions, tigers, other</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_07.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Pandas</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat">
                                        <div class="submenu"></div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_18.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Cats</span></span>
                                        </a>
                                    </div>
                                    <div class="minicat hasChild">
                                        <div class="submenu">
                                            <ul>
                                                <li><a href="#">Попугаи</a></li>
                                                <li><a href="#">Собачки</a></li>
                                                <li><a href="#">Лошадки</a></li>
                                                <li><a href="#">Коровки</a></li>
                                                <li><a href="#">Енотики</a></li>
                                                <li class="last"><a href="#">view all</a></li>
                                            </ul>
                                        </div>
                                        <a class="minicat_href" href="#">
                                            <span class="pic"><img src="/img/temp/temp3_20.jpg"
                                                                   alt="other animals"/></span>
                                            <span class="name"><span>Birds</span></span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>
            <!-- Стиль 3 -->

        </div>
    </div>
</div>

<!-- mega menu cat 2 -->

<div id="megamenu--id2" class="megamenu" data-id="200">
    <div class="megamenu-inner"> <!-- no-left-col -->
        <div class="col--left">
            <div class="j-megamenu-scrollbar-wrapper">
                <div class="scrollbar-inner">
                    <div class="megamenu--catalog">
                        <ul>
                            <li class="viewall-margin" data-id="200"><a href="#" class="sidemenu--viewall">All Paints by numbers <span
                                    class="arrow"></span></a></li>
                            <li class="has-submenu" data-id="201"><a href="javascript:void(0);">Images of people</a>
                            </li>
                            <li class="has-submenu" data-id="202"><a href="javascript:void(0);">Animals</a></li>
                            <li data-id="203"><a href="javascript:void(0);">Abstraction</a></li>
                            <li data-id="204"><a href="javascript:void(0);">Still life</a></li>
                            <li class="has-submenu" data-id="205"><a href="javascript:void(0);">Landscapes two or more
                                text
                                lines example</a></li>
                            <li class="has-submenu" data-id="206"><a href="javascript:void(0);">Religion</a></li>
                            <li data-id="107"><a href="javascript:void(0);">Romance</a></li>
                            <li class="has-submenu" data-id="208"><a href="javascript:void(0);">Cities and
                                Countries</a></li>
                            <li class="has-submenu" data-id="209"><a href="javascript:void(0);">Set for kids</a>
                            </li>
                            <li class="has-submenu" data-id="210"><a href="javascript:void(0);">Flowers</a></li>
                            <li data-id="111"><a href="javascript:void(0);">Transport</a></li>
                            <li data-id="112"><a href="javascript:void(0);">Hidden item</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col--right">

            <!-- Стиль 3 -->
            <div class="megamenu--type1 mm-popup active" data-itemId="200">
                <div class="col--right-grid">
                    <div class="col--popular">
                        <div class="col--heading">Popular category</div>
                        <div class="mm--popular ">
                            <ul>
                                <li><a href="#">
                                            <span class="pic"><img src="/img/temp/mm1.jpg"
                                                                   alt="Images of people"/></span>
                                    <span class="name">Images of people <span class="arrow"></span></span>
                                </a></li>
                                <li class="hasChild">
                                    <a href="#">
                                        <span class="pic"><img src="/img/temp/00000005330_6-800x800.jpg" alt="Cars"/></span>
                                        <span class="name">Cats <span class="arrow"></span></span>
                                    </a>
                                    <div class="submenu">
                                        <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                            <li><a href="#">Коровки</a></li>
                                            <li><a href="#">Енотики</a></li>
                                            <li class="last"><a href="#">view all</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hasChild">
                                    <a href="#">
                                        <span class="pic"><img src="/img/temp/00000005331_6-800x800.jpg" alt="Cars"/></span>
                                        <span class="name">Cars <span class="arrow"></span></span>
                                    </a>
                                    <div class="submenu short"><!-- добавляем класс short если подкатегорий меньше 4 -->
                                        <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>

            <div class="megamenu--type1 mm-popup" data-itemId="201">
                <div class="col--right-grid">
                    <div class="col--popular">
                        <div class="col--heading">Popular category</div>
                        <div class="mm--popular ">
                            <ul>
                                <li><a href="#">
                                            <span class="pic"><img src="/img/temp/mm1.jpg"
                                                                   alt="Images of people"/></span>
                                    <span class="name">Images of people <span class="arrow"></span></span>
                                </a></li>
                                <li class="hasChild">
                                    <a href="#">
                                        <span class="pic"><img src="/img/temp/00000005331_6-800x800.jpg" alt="Cars"/></span>
                                        <span class="name">Cars <span class="arrow"></span></span>
                                    </a>
                                    <div class="submenu short"><!-- добавляем класс short если подкатегорий меньше 4 -->
                                        <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>

            <div class="megamenu--type1 mm-popup" data-itemId="202">
                <div class="col--right-grid">
                    <div class="col--popular">
                        <div class="col--heading">Popular category</div>
                        <div class="mm--popular ">
                            <ul>
                                <li><a href="#">
                                            <span class="pic"><img src="/img/temp/mm1.jpg"
                                                                   alt="Images of people"/></span>
                                    <span class="name">Images of people <span class="arrow"></span></span>
                                </a></li>
                                <li class="hasChild">
                                    <a href="#">
                                        <span class="pic"><img src="/img/temp/00000005331_6-800x800.jpg" alt="Cars"/></span>
                                        <span class="name">Cars <span class="arrow"></span></span>
                                    </a>
                                    <div class="submenu short"><!-- добавляем класс short если подкатегорий меньше 4 -->
                                        <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hasChild">
                                    <a href="#">
                                        <span class="pic"><img src="/img/temp/00000005330_6-800x800.jpg" alt="Cars"/></span>
                                        <span class="name">Cats <span class="arrow"></span></span>
                                    </a>
                                    <div class="submenu">
                                        <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                            <li><a href="#">Коровки</a></li>
                                            <li><a href="#">Енотики</a></li>
                                            <li class="last"><a href="#">view all</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- mega menu cat 4 -->

<div id="megamenu--id4" class="megamenu" data-id="400">
    <div class="megamenu-inner no-left-col"> <!-- no-left-col -->
        <div class="col--right">
            <!-- Стиль 3 -->
            <div class="megamenu--type3" data-itemId="400">
                <div class="col--right-grid">
                    <div class="col--popular">
                        <div class="col--heading"><a href="#">All papercraft 3d modele<span class="arrow"></span></a></div>
                        <div class="mm--popular ">
                            <ul>
                                <li><a href="#">
                                            <span class="pic"><img src="/img/temp/mm1.jpg"
                                                                   alt="Images of people"/></span>
                                    <span class="name">Images of people <span class="arrow"></span></span>
                                </a></li>
                                <li><a href="#">
                                    <span class="pic"><img src="/img/temp/mm2.jpg" alt="Raccoon"/></span>
                                    <span class="name">Raccoons <span class="arrow"></span></span>
                                </a></li>
                                <li class="hasChild">
                                    <a href="#">
                                        <span class="pic"><img src="/img/temp/00000005359_6-800x800.jpg" alt="Cars"/></span>
                                        <span class="name">Cars <span class="arrow"></span></span>
                                    </a>
                                    <div class="submenu">
                                        <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                            <li><a href="#">Коровки</a></li>
                                            <li><a href="#">Енотики</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hasChild">
                                    <a href="#">
                                        <span class="pic"><img src="/img/temp/00000005330_6-800x800.jpg" alt="Cars"/></span>
                                        <span class="name">Cats <span class="arrow"></span></span>
                                    </a>
                                    <div class="submenu">
                                        <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                            <li><a href="#">Коровки</a></li>
                                            <li><a href="#">Енотики</a></li>
                                            <li class="last"><a href="#">view all</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hasChild">
                                    <a href="#">
                                        <span class="pic"><img src="/img/temp/00000005331_6-800x800.jpg" alt="Cars"/></span>
                                        <span class="name">Cars <span class="arrow"></span></span>
                                    </a>
                                    <div class="submenu short"> <!-- добавляем класс short если подкатегорий меньше 4 -->
                                        <ul>
                                            <li><a href="#">Попугаи</a></li>
                                            <li><a href="#">Собачки</a></li>
                                            <li><a href="#">Лошадки</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col--sales">
                        <ul>
                            <li class="red"><a href="#">Sales</a></li>
                            <li><a href="#">New arrivals</a></li>
                            <li><a href="#">Coming soon</a></li>
                        </ul>
                        <div class="mm-category-png mmcpng1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --- Mega menu -->