@import "parts/_utils";

body{
  font-family: 'PT Sans', sans-serif;
  position: relative;
  &.debug:before{
    content: "";
    display: block;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background: url('../img/temp-minicart.png') center top no-repeat;
    position: absolute;
    z-index: -1;
  }
}

body *{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
  &:hover{
    color: $blue;
  }
  &:focus, &:active{
    outline: none;
  }
}

a.default-link{
  color: $blue;
  text-decoration: underline;
  &.no-underline{
    text-decoration: none;
  }
}

/*Хаотичная разметка по дизайну*/
#banners{
  margin-bottom: 61px;
}
.main-page-collections{
  margin-top: 70px;
}
.module-mp-cat-actions{
  margin-top: 173px;
}
.module-mp-media-center{

}

@media (min-width: 1440px) and (max-width: 1659px) {
  .main-page-collections{
    margin-top: 0;
  }
}


@import "parts/vendor/_nice-select";
@import "parts/vendor/_jqueryui";
@import "parts/vendor/colorbox";
@import "parts/_scrollbar";
@import "parts/_breadcrumb";
@import "parts/_grid";
@import "parts/_icos";
@import "parts/_buttons";
@import "parts/_header";
@import "parts/_menu";
@import "parts/_megamenu";
@import "parts/_banner";
@import "parts/_mod_carousel";
@import "parts/_category_card";

@import "parts/_mod_subcats";
@import "parts/_mod_minisubcats";
@import "parts/_mod_filter__categories";
@import "parts/_catalog";
@import "parts/_product";
@import "parts/_reviews";
@import "parts/_filter";

@import "parts/_order";

@import "parts/_uniqs";

@import "parts/_footer";


@media (max-width: 859px){
  .desktop{
    display: none;
  }
  .mobile{
    display: inherit;
  }
}


.fancybox-button.fancybox-close-small svg path{
  fill: #000 !important;
}
/*
ToDo 1) Баг в файрфокс с каруселью, надо указать ширину контейнера
 */
