<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like active" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_notifyme tooltipstered active" title="Напомнить"></div>
        </div>
    </div>
    <div class="labels"><span class="label label--soon">coming soon</span> from 31.05.2020</div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big2.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000005510-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--outofstock">out of stock</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big2.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000005510-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big2.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000005510-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class=" category--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
         
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>
<div class="module_carousel--item card">
    <div class="shover"></div>
    <a class="pic" href="#">
        <img loading="lazy" src="/img/big1.jpg" class="imgbig" alt="">
        <img loading="lazy" src="/img/00000004813-460x347.jpg" class="imgsmall" alt=""/>
    </a>
    <div class="price_w">
        <div class="price">80.00 <span>zł</span></div>
        <div class="cart_btn_w">
            <div class="cart_btn__like tooltipstered like" title="Добавить в избранное"
                 onclick="addToWishList('2965',this);"></div>
            <div class="cart_btn__incart hasItems">
                <div class="notify">1</div>
                <a class="cart_btn__hover">В корзину</a>
                <div class="add_delete_w">
                    <a href="#" class="btn-decrease" data-onclick="decreaseProductQuantity">−</a>
                    <input type="text" data-onchange="changeProductQuantity"
                           name="quantity[3835:YTowOnt9:czowOiIiOw==:czowOiIiOw==:]" value="1" size="1"/>
                    <a href="#" class="btn-increase" data-onclick="increaseProductQuantity">+</a>
                </div>
            </div>
        </div>
    </div>
    <div class="labels"><span class="label label--new">new</span></div>
    <div class="cat">Paint by numbers</div>
    <a class="name" href="#">Zwierciadło duszy</a>
    <div class="attrs">
        <div class="rating">
            <div class="rating-star">
                <div class="stars star-1"></div>
            </div>
        </div>
        <a class="comments" href="#">2</a>
        <a class="pics" href="#">2</a>
    </div>
    <div class="additions">
        <div class="sizes">
            Size, cm
            <ul class="filter--ul">
                <li><a href="#">30x30</a></li>
                <li><a href="#">30x40</a></li>
                <li><a href="#">30x50</a></li>
            </ul>
        </div>
        <div class="colors">18 colors
            <div class="brushes">
                <div class="brush brush-4"></div>
            </div>
        </div>
    </div>
</div>