<div class="tab_in">
    <h2>Related products</h2>
    <div class="tabs_w">
        <div class="tabs_d" >
            <div class="swiper-container-wrapper">
                <div class="swiper-container">
                    <ul class="ul swiper-wrapper">
                        <li class="cm--item swiper-slide active" data-tab-content="rel1">All</li>
                        <li class="cm--item swiper-slide" data-tab-content="rel2">Рамки</li>
                        <li class="cm--item swiper-slide" data-tab-content="rel3">Кисти</li>
                        <li class="cm--item swiper-slide" data-tab-content="rel4">Краски</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="category_content_items cci-5 tab_content" data-tab="rel1" style="display:grid;">
           //= related_content.html
    </div>
    <div class="category_content_items cci-5 tab_content" data-tab="rel2" style="display:none;">
       2
    </div>
    <div class="category_content_items cci-5 tab_content" data-tab="rel3" style="display:none;">
        3
    </div>
    <div class="category_content_items cci-5 tab_content" data-tab="rel4" style="display:none;">
        4
    </div>
</div>