<div class="tab_in">
    <h2>Related products</h2>
    <div class="tabs_w">
        <div class="tabs" >
            <div class="swiper-container-wrapper">
                <div class="swiper-container">
                    <ul class="ul swiper-wrapper">
                        <li class="cm--item active" data-slug="all">All</li>
                        <li class="cm--item" data-slug="malowanie-po-numerach">Рамки</li>
                        <li class="cm--item" data-slug="ramy-do-obrazow">Кисти</li>
                        <li class="cm--item" data-slug="diamentowa-mozaika">Краски</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="category_content_items cci-5">
        //= related_content.html
    </div>
</div>