<div class="last_review_w">
    <h2>Last Reviews <span class="rev_count">5</span></h2>

    <div class="d_f | rev_main_rate">
        <div class="rating-star">
            <div class="stars star-45"></div>
        </div>
        <div class="rev_rate">
            4,5
        </div>
    </div>
    <div class="review_item">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>
            <div class="d_f ai_c | rev_irecommend">
                <span class="ico ico-left ico-recommend"></span> Polecam ten product
            </div>
        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_more">
                    <a href="#" class="d_f ai_c">Посмотреть все 5 отзывов <span class="ico ico-arr-more"></span></a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>
                    <a href="javascript:;" class="rev_img_gallery_link"><img src="../img/product/review_img2.jpg" alt=""><span>+3</span></a>
                </div>
            </div>
        </div>
    </div>
</div>