<div class="review_tab">
    <div class="d_f jc_sb ai_end">
        <div class="d_f fd_c">
            <h2>Reviews <span class="rev_count">5</span></h2>
            <div class="d_f | rev_main_rate">
                <div class="rating-star">
                    <div class="stars star-45"></div>
                </div>
                <div class="rev_rate">
                    4,5
                </div>
            </div>
        </div>
        <a href="javascript:;" class="btn rev_write">Написать отзыв</a>
    </div>

    <!-- Самый простой вариант с несколькими фотками, без комментов -->
    <div class="review_item">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>
                    <a href="javascript:;" class="rev_img_gallery_link"><img src="../img/product/review_img2.jpg" alt=""><span>+3</span></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с двумя фотками и комментом -->
    <div class="review_item">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="1" class="d_f ai_c | rev_comment_link active">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>
                    <a href="javascript:;"><img src="../img/product/review_img2.jpg" alt=""></a>
                </div>
            </div>
            <div class="rev_comment_wall" id="1">
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Вариант с двумя фотками, комментом и формой -->
    <div class="review_item" style="margin-top: 47px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="2" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="2">
                <div class="rev_form">
                    <div class="cw_name">Lera</div>
                    <form action="" class="cw_form">
                        <div class="d_f fd_c pos_r">
                            <input type="text" class="cw_input cw_input_comment" data-length="400" placeholder="Оставить комментарий"/>
                            <div class="d_f jc_end | input_counter"><span>400</span>&nbsp;символов</div>
                            <button class="send_comment">Отправить</button>
                        </div>
                    </form>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с двумя фотками, комментом и формой -->
    <div class="review_item" style="margin-top: 47px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="3" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="3">
                <div class="rev_form">
                    <div class="cw_name">Lera</div>
                    <form action="" class="cw_form">
                        <div class="d_f fd_c pos_r">
                            <input type="text" class="cw_input cw_input_comment" data-length="400" placeholder="Оставить комментарий"/>
                            <div class="d_f jc_end | input_counter"><span>400</span>&nbsp;символов</div>
                            <button class="send_comment">Отправить</button>
                        </div>
                    </form>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант коммента для неавторизованного -->
    <div class="review_item" style="margin-top: 47px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="4" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="4">
                <div class="rev_form_unauth">

                    <form action="" class="cw_form">
                        <div class="d_f ai_end | first_line">
                            <input type="text" class="cw_input cw_input_name" placeholder="Имя">
                            <input type="text" class="cw_input cw_input_email" placeholder="Email">
                            <div class="cw_login_hint">
                                <span>Jesteś już zarejestrowany?</span>
                                <a href="/login">Zaloguj</a> się i zostawiaj komentarze pod swoim imieniem.
                            </div>
                        </div>
                        <div class="d_f fd_c pos_r">
                            <input type="text" class="cw_input cw_input_comment" data-length="400" placeholder="Оставить комментарий"/>
                            <div class="d_f jc_end | input_counter"><span>400</span>&nbsp;символов</div>
                            <button class="send_comment">Отправить</button>
                        </div>
                    </form>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с несколькими комментами -->
    <div class="review_item" style="margin-top: 47px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="5" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="5">
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с несколькими комментами -->
    <div class="review_item" style="margin-top: 47px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="6" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="6">
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Mickey</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с несколькими комментами и ответом на коммент -->
    <div class="review_item" style="margin-top: 47px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="7" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="7">
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_form">
                    <div class="cw_name">Sergey</div>
                    <form action="" class="cw_form">
                        <div class="d_f fd_c pos_r">
                            <div class="d_f">
                                <div class="cw_input cw_quote">Vasili,</div>
                                <input type="text" class="cw_input cw_input_comment" data-length="400" placeholder="Оставить комментарий"/>
                            </div>
                            <div class="d_f jc_end | input_counter"><span>400</span>&nbsp;символов</div>
                            <button class="send_comment">Отправить</button>
                        </div>
                    </form>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Mickey</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с несколькими комментами -->
    <div class="review_item" style="margin-top: 47px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="8" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="8">
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с несколькими комментами -->
    <div class="review_item" style="margin-top: 47px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="9" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="9">
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <a href="javascript:;" class="show_hidden_comments">Показать еще <span>3</span> комментария</a>
                <div class="rev_comment hidden">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment hidden">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment hidden">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с несколькими комментами -->
    <div class="review_item" style="margin-top: 74px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="9" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="9">
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <a href="javascript:;" class="show_hidden_comments">Показать еще <span>3</span> комментария</a>
                <div class="rev_comment hidden">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment hidden">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment hidden">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Вариант с несколькими комментами -->
    <div class="review_item" style="margin-top: 74px;">
        <div class="d_f jc_sb | rev_name_w">
            <div class="rev_name">Weronika</div>
            <div class="rev_date">05.05.2021</div>
        </div>
        <div class="d_f jc_sb | rev_stars_w">
            <div class="rating-star">
                <div class="stars star-4"></div>
            </div>

        </div>
        <div class="d_f | rev_desc">
            Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)
        </div>
        <div class="rev_posneg_w">
            <div class="rev_posneg">
                <div class="rev_pos">
                    <div class="rev_pos--title">Достоинства</div>
                    <div class="rev_pos--text">Wszystko OK!Akryle szybko schna ale pare kropel z pedzla, zamieszac i "swierze". Szybka dostawa.</div>
                </div>
                <div class="rev_neg">
                    <div class="rev_neg--title">Недостатки</div>
                    <div class="rev_neg--text">Słabo napigmentowane farby - zbyt ciepłe kolory</div>
                </div>
                <div class="rev_like_comment d_f">
                    <a href="javascript:;" class="d_f ai_c | rev_like_link">
                        <span class="ico ico-like"></span>
                        <span class="count">3</span>
                    </a>
                    <a href="javascript:;" data-commentwall="9" class="d_f ai_c | rev_comment_link">
                        <span class="ico ico-comment"></span>
                        <span class="title">Komentowac</span>
                    </a>
                </div>
            </div>
            <div class="rev_imgs">
                <div class="rev_img">
                    <a href="#"><img src="../img/product/review_img.jpg" alt=""></a>

                </div>
            </div>
            <div class="rev_comment_wall" id="10">
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Vasili</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment ">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment ">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
                <div class="rev_comment ">
                    <div class="d_f">
                        <div class="cw_name">Lera</div>
                        <div class="cw_date">05.10.2020</div>
                    </div>
                    <div class="cw_text">Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</div>
                    <div class="cw_btn">Ответить</div>
                </div>
            </div>
        </div>
    </div>

    <div class="rev_bottom">
        <div class="d_f jc_sb">
            <div class="rev_bottom--title">Поделитесь своим мнением о товаре.</div>
            <a href="javascript:;" class="btn rev_write">Написать отзыв</a>
        </div>
    </div>

</div>


<div id="add_reivew_form_w" style="display:none;">
    <div class="review_form">
        <div class="rev_form_quest"></div>
        <h3>Ваш отзыв о товаре:</h3>
        <form action="">
            <div class="rev_form_comment">
                <span class="textarea | rev_form_text" role="textbox" data-length="100" contenteditable></span>
                <div class="d_f jc_end | input_counter"><span>100</span>&nbsp;символов</div>
            </div>
            <div class="rev_form_pos">
                <div class="title">Достоинства</div>
                <span class="textarea | rev_form_pos" role="textbox" data-length="100" contenteditable></span>
                <div class="d_f jc_end | input_counter"><span>100</span>&nbsp;символов</div>
            </div>
            <div class="rev_form_neg">
                <div class="title">Недостатки</div>
                <span class="textarea | rev_form_neg" role="textbox" data-length="100" contenteditable></span>
                <div class="d_f jc_end | input_counter"><span>100</span>&nbsp;символов</div>
            </div>
            <div class="rev_form_rating">
                <div class="title">Рейтинг</div>
                <div class="rating-star rating-selectable">
                    <div class="stars star-0"></div>
                </div>
            </div>
            <div class="rev_form_photoblock">
                <div class="title">Прикрепите фото:</div>
                <div class="d_f ai_c col-2">
                    <div class="rev_form_photo_target">
                        <span class="ico ico-add-photo"></span>
                    </div>
                    <div class="rev_form_photoblock_desc">
                        <div class="desc">Нажмите на кнопку, <span>чтобы добавить фото</span></div>
                        <div class="hint">до 5 изоображений <span>в формате PNG, JPEG</span></div>
                    </div>
                </div>
            </div>

            <div class="rev_form_irecommend col-4">
                <input class="filtered irecommend" id="value_10613" type="checkbox">
                <label for="value_10613">Я рекомендую этот товар</label>
            </div>

            <div class="rev_form_btn col-4">
                <a href="javascript:;" class="btn btn-big">Отправить отзыв</a>
            </div>

        </form>
    </div>
</div>

<style>
    .rev_form_text[contenteditable]:empty::before {
        content: "Поделитесь своим мнением о товаре";
    }

    .rev_form_pos[contenteditable]:empty::before {
        content: "Опишите плюсы товара";
    }

    .rev_form_neg[contenteditable]:empty::before {
        content: "Опишите минусы товара";
    }
</style>

<script>
    $('document').ready(function () {

        $('.rev_form_quest').tooltipster({
            animation: 'fade',
            animationDuration: 150,
            multiple: true,
            interactive: true,
            side: 'left',
            maxWidth: 380,
            trigger: ('ontouchstart' in window) ? 'click' : 'hover',
            content: $('<p>Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</p>\n' +
                '\n' +
                '<p>Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</p>\n' +
                '\n' +
                '<p>Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</p>\n' +
                '\n' +
                '<p>Obraz przepiękny!!! Wymagający ze względu na ilość kolorów i szczegóły (dałabym mu poziom trudności 4), ale dający dużo satysfakcji :)</p>'),
            functionPosition: function(instance, helper, position){
                position.coord.top += 10;
                position.coord.left += 10;
                return position;
            }
        });

        $(".rating-selectable").on('click', function (e) {
            let parentOffset = $(this).offset();
            let relX = e.pageX - parentOffset.left;
            console.log(relX)
            if (relX > 0 && relX < 29) {
                $(this).find('.stars').removeClass();
                $(this).find('div').addClass('stars star-1')
            } else if(relX > 28 && relX < 57){
                $(this).find('.stars').removeClass();
                $(this).find('div').addClass('stars star-2')
            } else if(relX > 57 && relX < 85){
                $(this).find('.stars').removeClass();
                $(this).find('div').addClass('stars star-3')
            } else if(relX > 85 && relX < 113){
                $(this).find('.stars').removeClass();
                $(this).find('div').addClass('stars star-4')
            } else if(relX > 113 && relX < 141){
                $(this).find('.stars').removeClass();
                $(this).find('div').addClass('stars star-5')
            }

        });

        $(".rev_write").on('click', function () {
            $.fancybox.open({
                src: '#add_reivew_form_w',
                type: 'inline',
                opts: {
                    touch: false,
                    keyboard: false
                },
            });
        })


        $('.cw_input_comment').keyup(function () {
            var characters_Limit = $(this).attr("data-length");
            if ($(this).val().length > 0) {
                $(this).parent().parent().find('.send_comment').addClass('active');
            } else {
                $(this).parent().parent().find('.send_comment').removeClass('active');
            }
            if ($(this).val().length > characters_Limit) {
                $(this).val($(this).val().substr(0, characters_Limit));
            }
            $(this).parent().parent().find('.input_counter span').text(characters_Limit - this.value.replace(/{.*}/g, '').length);
        });

        $('.show_hidden_comments').on('click', function () {
            $(this).parent().find('.rev_comment').each(function () {
                $(this).removeClass('hidden');
            })
            $(this).remove();
        });


        $('.textarea').keyup(function () {
            var characters_Limit = $(this).attr("data-length");
            if ($(this).text().length > characters_Limit) {
                $(this).text($(this).text().substr(0, characters_Limit));
            }
            $(this).parent().find('.input_counter span').text(characters_Limit - $(this).text().length);
        });


    });
</script>